.orders
  width: $maxWidth
  height: auto
  background-color: #fff
  padding: 30px
  border: 1px solid #e0e0e0
  &__header
    display: flex
    justify-content: space-between
    position: relative
  &__filter
    display: flex
    &-dash
      position: relative
      top: 6px
    &-link
      display: flex
      align-items: center
      font-family: 'Rubik'
      font-size: 1.8em
      letter-spacing: 0.9px
      color: rgb(130, 130, 130)
      text-transform: uppercase
      text-decoration: none
      &:not(:last-child)
        margin-right: 15px
    &-icon
      background-image: url("images/lk/filter.png")
      background-repeat: no-repeat
      width: 32px
      height: 32px
      display: block
      cursor: pointer
      margin-right: 10px
      &_create
        background-position: 0 0
      &_filter
        background-position: -32px 0
    &-popup
      position: absolute
      top: 0px
      right: -257px
      width: 218px
      height: 500px
      flex-direction: column
      &_active
        display: flex
      &_hide
        display: none
    &-label
      display: flex
      flex-direction: column
      font-size: 1.4em
      font-weight: 300
      color: rgb(130, 130, 130)
    &-input, &-select
      width: 218px
      height: 30px
      border: solid 1px rgb(224, 224, 224)
    &-search
      height: 20px
      border-bottom: 1px solid rgb(224, 224, 224)
      background-color: rgba(0, 0, 0, 0)
      padding-left: 20px
      background-image: url("images/lk/search__icon.png")
      background-repeat: no-repeat
      background-position: 0 0
    &-sum
      &-start, &-end
        width: 89px
        height: 30px
        border: solid 1px rgb(224, 224, 224)
  &__body
    height: 505px
  &__tabs
    margin-top: 30px
  &__more
    font-size: 0.8em
    color: #828282
  &__status
    display: flex
    align-items: center
    &-color
      width: 10px
      height: 10px
      border-radius: 50%
      margin-right: 5px
      &_blue
        background-color: rgb(45, 156, 219)
      &_red
        background-color: rgb(242, 153, 74)
      &_green
        background-color: rgb(125, 196, 114)

  &__quantity
    margin-right: 5px
    color: rgb(130, 130, 130)
    &-text
      margin-top: 65px
      font-size: 1.4em
      color: rgb(130, 130, 130)

  &__icon
    background-image: url("images/lk/user__edit.svg")
    background-repeat: no-repeat
    width: 26px
    height: 26px
    display: block
    cursor: pointer
    &:not(:last-child)
      margin-right: 5px
    &_save
      background-position: 0 0
      &:hover
        background-position: -26px 0
    &_print
      background-position: 0 -26px
      &:hover
        background-position: -26px -26px
    &_edit
      background-position: 0 -52px
      &:hover
        background-position: -26px -52px
    &_copy
      background-position: 0 -78px
      &:hover
        background-position: -26px -78px
.sum__wrapp
  display: flex
  justify-content: space-between