.orders
    header.orders__header
        h2.orders__head.head-lk
            span.head-lk__icon.head-lk__icon_orders
            | Заказы
        .orders__filter
            a.orders__filter-link(href="#")
                span.orders__filter-icon.orders__filter-icon_create
                | Новый заказ
            //a.orders__filter-link#filterOpen(href="#")
                span.orders__filter-icon.orders__filter-icon_filter
                | Фильтр
        //form.orders__filter-popup.orders__filter-popup_hide#filterPopup
            input.orders__filter-search(type="text" name="filterSearch" id="filterSearch" placeholder="Поиск по заказам")
            label.orders__filter-label(for="filterData") Дата заказа
                input.orders__filter-input(type="text" name="filterData" id="filterData")
            label.orders__filter-label(for="filterNumber") Номер заказа
                input.orders__filter-input(type="text" name="filterNumber" id="filterNumber")
            label.orders__filter-label(for="filterStatus") Статус заказа
                select.orders__filter-select(name="filterStatus" id="filterStatus")
                    option.orders__filter-option(value="") В ожидании
                    option.orders__filter-option(value="") Доставлено
                    option.orders__filter-option(value="") В доставке
                    option.orders__filter-option(value="") Оплачено
                    option.orders__filter-option(value="") Не подтвержден
                    option.orders__filter-option(value="") Отменен
                    option.orders__filter-option(value="") В обработке
            label.orders__filter-label(for="filterName") Заказ на имя
                select.orders__filter-select(name="filterName" id="filterName")
                    option.orders__filter-option(value="") Фамилия Имя Отчество
                    option.orders__filter-option(value="") Фамилия Имя Отчество
                    option.orders__filter-option(value="") Фамилия Имя Отчество
                    option.orders__filter-option(value="") Фамилия Имя Отчество
            label.orders__filter-label(for="sumStart") Сумма от:
                .sum__wrapp
                    input.orders__filter-sum-start(type="text" name="sumStart" id="sumStart")
                    span.orders__filter-dash &mdash;
                    input.orders__filter-sum-end(type="text" name="sumEnd" id="sumEnd")
            button.orders__filter-button.button.button_white.button_icon.button_md(type="reset")
                span.button__text.button__text_white
                    span.button__icon.button__icon_cancel
                    | Сбросить фильтр

    .orders__tabs
        ul.orders__tabs-list.tabs
            li.order__tabs-element.tabs__element
                a.orders__tabs-link.tabs__link(href="#orderTabs1") В процессе
            li.order__tabs-element.tabs__element
                a.orders__tabs-link.tabs__link(href="#orderTabs2") Не завершенные
            li.order__tabs-element.tabs__element
                a.orders__tabs-link.tabs__link(href="#orderTabs3") Последние
        .orders__tabs#orderTabs1
            .orders__table.table
                .orders__head.table__head
                    a.order__head-link.table__head-link.table__head-active(href="#")
                        | Cтатус
                        span.order__head-arrow.table__head-arrow
                    a.order__head-link.table__head-link(href="#")
                        | Номер заказа
                        span.order__head-arrow.table__head-arrow
                    a.order__head-link.table__head-link.table__element_customer(href="#")
                        | Состав заказа
                    a.order__head-link.table__head-link.table__element_customer(href="#")
                        | Заказчик
                        span.order__head-arrow.table__head-arrow
                    a.order__head-link.table__head-link(href="#")
                        | Дата
                        span.order__head-arrow.table__head-arrow

                    a.order__head-link.table__head-link(href="#")
                        | Сумма
                        span.order__head-arrow.table__head-arrow
                    a.order__head-link.table__head-link.table__element_actions(href="#")
                        | Действие
                .orders__body.table__body
                    - for (var i = 0; i < 10; i++)
                        .orders__row.table__row
                            p.orders__status.table__element
                                span.orders__status-color.orders__status-color_blue
                                | В обработке
                            p.orders__orderNumber.table__element
                                | ДМ000158951
                            p.orders__customer.table__element.table__element_customer
                                | В заказе 10 наименований
                            p.orders__customer.table__element.table__element_customer
                                | Фамилия Имя Отчество
                            p.orders__data.table__element
                                | 23.01.2018
                            p.orders__sum.table__element
                                | 210 000 000 000
                            .orders__actions.table__element.table__element_actions
                                a(href="#").orders__icon.orders__icon_save
                                a(href="#").orders__icon.orders__icon_print
                                a(href="lk_ordersInfo.html").orders__icon.orders__icon_edit
                                a(href="#").orders__icon.orders__icon_copy
                p.orders__quantity-text
                    | Показывать на странице
                    select.orders__quantity
                        option.orders__quantity-value(value="10") 10
                        option.orders__quantity-value(value="20") 20
                        option.orders__quantity-value(value="50") 50
                        option.orders__quantity-value(value="100") 100
                        option.orders__quantity-value(value="150") 150
                        option.orders__quantity-value(value="300") 300
                    | из&nbsp
                    span.orders__quantity-all 29

        .orders__tabs#orderTabs2
            .orders__table.table
                .orders__head.table__head
                    a.order__head-link.table__head-link.table__head-active(href="#")
                        | Cтатус
                        span.order__head-arrow.table__head-arrow
                    a.order__head-link.table__head-link(href="#")
                        | Номер заказа
                        span.order__head-arrow.table__head-arrow
                    a.order__head-link.table__head-link.table__element_customer(href="#")
                        | Состав заказа
                    a.order__head-link.table__head-link(href="#")
                        | Дата
                        span.order__head-arrow.table__head-arrow
                    a.order__head-link.table__head-link(href="#")
                        | Сумма
                        span.order__head-arrow.table__head-arrow
                    a.order__head-link.table__head-link.table__element_actions(href="#")
                        | Действие
                .orders__body.table__body
                    - for (var i = 0; i < 6; i++)
                        .orders__row.table__row
                            p.orders__status.table__element
                                span.orders__status-color.orders__status-color_red
                                | Не завершенные
                            p.orders__orderNumber.table__element
                                | ДМ000158951
                            p.orders__customer.table__element.table__element_customer
                                | В заказе 10 наименований
                                //| Кресло-кровать медицинская многофункциональная трансформирующаяся для
                                //родовспоможения "Armed" SC-I
                                //br
                                //span.orders__more И еще 5 товаров
                            p.orders__data.table__element
                                | 23.01.2018
                            p.orders__sum.table__element
                                | 210 000 000 000
                            .orders__actions.table__element.table__element_actions
                                a(href="#").orders__icon.orders__icon_save
                                a(href="#").orders__icon.orders__icon_print
                                a(href="lk_ordersInfo.html").orders__icon.orders__icon_edit
                                a(href="#").orders__icon.orders__icon_copy
                p.orders__quantity-text
                    | Показывать на странице
                    select.orders__quantity
                        option.orders__quantity-value(value="10") 10
                        option.orders__quantity-value(value="20") 20
                        option.orders__quantity-value(value="50") 50
                        option.orders__quantity-value(value="100") 100
                        option.orders__quantity-value(value="150") 150
                        option.orders__quantity-value(value="300") 300
                    | из&nbsp
                    span.orders__quantity-all 29

        .orders__tabs#orderTabs3
            .orders__table.table
                .orders__head.table__head
                    a.order__head-link.table__head-link.table__head-active(href="#")
                        | Cтатус
                        span.order__head-arrow.table__head-arrow
                    a.order__head-link.table__head-link(href="#")
                        | Номер заказа
                        span.order__head-arrow.table__head-arrow
                    a.order__head-link.table__head-link.table__element_customer(href="#")
                        | Состав заказа
                    a.order__head-link.table__head-link(href="#")
                        | Дата
                        span.order__head-arrow.table__head-arrow
                    a.order__head-link.table__head-link(href="#")
                        | Сумма
                        span.order__head-arrow.table__head-arrow
                    a.order__head-link.table__head-link.table__element_actions(href="#")
                        | Действие
                .orders__body.table__body
                    - for (var i = 0; i < 50; i++)
                        .orders__row.table__row
                            p.orders__status.table__element
                                span.orders__status-color.orders__status-color_green
                                | Доставлено
                            p.orders__orderNumber.table__element
                                | ДМ000158951
                            p.orders__customer.table__element.table__element_customer
                                | В заказе 10 наименований
                                //| Кресло-кровать медицинская многофункциональная трансформирующаяся для
                                //родовспоможения "Armed" SC-I
                                //br
                                //span.orders__more И еще 5 товаров
                            p.orders__data.table__element
                                | 23.01.2018
                            p.orders__sum.table__element
                                | 210 000 000 000
                            .orders__actions.table__element.table__element_actions
                                a(href="#").orders__icon.orders__icon_save
                                a(href="#").orders__icon.orders__icon_print
                                a(href="lk_ordersInfo.html").orders__icon.orders__icon_edit
                                a(href="#").orders__icon.orders__icon_copy
                p.orders__quantity-text
                    | Показывать на странице
                    select.orders__quantity
                        option.orders__quantity-value(value="10") 10
                        option.orders__quantity-value(value="20") 20
                        option.orders__quantity-value(value="50") 50
                        option.orders__quantity-value(value="100") 100
                        option.orders__quantity-value(value="150") 150
                        option.orders__quantity-value(value="300") 300
                    | из&nbsp
                    span.orders__quantity-all 29

