.orders
  width: $maxWidth
  height: 600px
  background-color: #fff
  padding: 30px
  border: 1px solid #e0e0e0
  &__tabs
    margin-top: 30px
  &__status
    display: flex
    align-items: center
    &-color
      width: 10px
      height: 10px
      border-radius: 50%
      margin-right: 5px
      &_blue
        background-color: rgb(242, 153, 74)



  &__icon
    background-image: url("images/lk/user__edit.svg")
    background-repeat: no-repeat
    width: 26px
    height: 26px
    display: block
    cursor: pointer
    &:not(:last-child)
      margin-right: 5px
    &_save
      background-position: 0 0
      &:hover
        background-position: -26px 0
    &_print
      background-position: 0 -26px
      &:hover
        background-position: -26px -26px
    &_edit
      background-position: 0 -52px
      &:hover
        background-position: -26px -52px
    &_copy
      background-position: 0 -78px
      &:hover
        background-position: -26px -78px
