.same
  padding: 20px
  &__slider
    width: 810px
    margin: 50px auto
    &-inner
      margin: 0 8px
      height: 477px
      display: flex
      flex-direction: column
      justify-content: center
.slide-right-same
  top: 40%
  right: -25px
.slide-left-same
  left: -25px
  top: 40%