.popapCitySelection
  &__coose
    font-size: 1.6em
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $labelModalColor;
    padding-right: 30px
  &__input
    font-size: 1.2em
    color: $inputModalColor
    padding: 12px 12px 12px 35px
    width: 290px
  &__form
    position: relative
  &__search-icon
    position: absolute
    top: 12px
    left: 533px