.popapCitySelection
  &__coose
    font-size: 1.6em
    letter-spacing: 0.05em;
    color: $labelModalColor;
    padding-right: 30px
  &__input
    font-size: 1.2em
    color: $inputModalColor
    padding: 12px 12px 12px 35px
    width: 290px
    border: 1px solid #E0E0E0
    font-family: 'Roboto'
    font-weight: 300
  &__form
    position: relative
    display: flex
    justify-content: center
    align-items: center
  &__search-icon
    position: absolute
    top: 12px
    left: 520px
  &__country
    &-list
      margin-top: 40px
      list-style: none
      display: flex
      font-size: 1.6em
      padding: 0 25px
    &-item:first-child
      flex-grow: 2
    &-item
      display: flex
      align-items: center
    &-item:not(:last-child)
      margin-right: 10px
    &-country
      font-weight: 500
      margin-left: 10px
      color: $linkCountryModalColor
      text-decoration: none
      &:hover
        color: $GlobalColor
  &__city
    &-list
      columns: 4 200px
      padding: 20px 25px
    &-item
      list-style: none
      page-break-inside: avoid
      text-align: left
      margin-bottom: 20px
      margin-left: 30px
      position: relative
    &-letter
      position: absolute
      top: 1px
      left: -25px
      font-size: 2em
      font-family: 'Rubik'
      color: $GlobalColor
    &-wrapp
      display: flex
      flex-direction: column
    &-city
      font-size: 1.4em
      line-height: 1.6em
      color: $linkCityModalColor
      text-decoration: none
      &:hover
        color: $GlobalColor