#modal_CitySelection.modal
    .modal__content
        span#close_CitySelection.modal__close
            img.modal__close-image(src="images/Modal/close__modal.svg" alt="Закрыть модальное окно")
        h3.modal__head Выбор города
