.success
    img(src="images/Icon/success_icon.svg").success__img
    p.success__text Поздравляем! Вы успешно прошли регистрацию!
        br
        br
        br
        |Пароль для входа в личный кабинет будет выслан на указанный e-mail в течение 15 минут.
        br
        |Для уточнения информации в ближайшее время с Вами свяжется персональный менеджер
    a.Button.Button_Color_Red.Button_Size_Lg.close_Success(href="prcard_index_ur.html")
        span.Button-Text.Button-Text_Color_White.Button-Text_Uppercase
            | Продолжить
