.success
    img(src="images/Icon/success_icon.svg").success__img
    p.success__text Вы успешно прошли процедуру регистрации
        //br
        //| на указанный email
    button.Button.Button_Color_Red.Button_Size_Lg.close_Success
        span.Button-Text.Button-Text_Color_White.Button-Text_Uppercase
            | Продолжить
