.panel
  position: relative
  background: #fff
  width: 300px
  margin: 40px auto
  text-align: center
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15)

.chart
  display: inline-block
  width: 250px
  margin: 0 auto
  height: 160px

.easyPieChart 
  position: relative
  text-align: center
  canvas 
    position: absolute
    top: 0
    left: 0


.percentage,
.label 
  margin-bottom: 0.5em
  text-align: center
  font-weight: 100

.percentage
  font:
    size: 30px
  color: #4f4f4f
  span
    font-weight: 500
    position: relative
    bottom: 44px
    left: 63px

sup
  top: -0.2em
  margin-left: 1px

.ctrl
  position: absolute
  right: 10px
  top: 5px
  color: #c4cdcc
  word-spacing: 5px
  span
    cursor: pointer
    &:hover
      color: #000
  



.meta
  margin: auto
  max-width: 280px
  border-top: 1px solid rgba(155,155,155,0.2)
  text-align: center


