.reviews-form
    .prcard-title
        h2
            | Добавить отзыв
    .reviews-form__wrapper
        .reviews-form__inner
            .reviews-form__rating
                    p
                        | Ваша оценка:
                    .reviews-card__item-name__rating
                        span.rating-plus
                        span.rating-half
                        span.rating-minus

            .reviews-form__radio
                p Опыт использования:
                .reviews-form__radio-group
                    input(type="radio" value="days" id="days" name="option")
                    label.reviews-form-label(for="days")
                        | Несколько дней
                        span.button__icon.button__icon_arrow
                    input(type="radio" value="month" id="month" name="option")
                    label.reviews-form-label(for="month")
                        | Несколько месяцев
                        span.button__icon.button__icon_arrow
                    input(type="radio" value="year" id="years" name="option")
                    label.reviews-form-label(for="years")
                        | Больше года
                        span.button__icon.button__icon_arrow
                    input(type="radio" value="less_month" id="less_month" name="option")
                    label.reviews-form-label(for="less_month")
                        | Менее месяца
                        span.button__icon.button__icon_arrow
            .reviews-form__opinion
                label(for="plus") Достоинства:
                textarea(id="plus" name="plus")
                label(for="effect") Общие впечатления:
                textarea(id="effect" name="effect")
                label(for="minus") Недостатки:
                textarea(id="minus" name="minus")
                button.Button.Button_Color_Red.Button_Size_Lg
                    span.Button-Text.Button-Text_Color_White.Button-Text_Uppercase
                        |Оставить отзыв
                //button.button.button_icon.button_reviews
                    span.button__text
                        span.button__icon.button__icon_pencil
                        | Оставить отзыв