.reviews-card
    .reviews-card__wrapper
        //рейтинг и батон
        .reviews-card__inner.row
            .reviews-card__item.col-6
            .reviews-card__item.col-6
        //список отзЫвов
        .reviews-card__inner