@import "chart"
.reviews-card
  padding: 30px 15px 20px 15px
  &__wrapper
  &__inner
    &-column
      display: flex
      flex-direction: row
      border:
        top: 1px solid #e0e0e0
        left: 1px solid #e0e0e0
        right: 1px solid #e0e0e0
      padding: 15px
      &:last-child
        border-bottom: 1px solid #e0e0e0
      &__wrapper
        margin-bottom: 20px
  &__item
    height: 300px
    border: 1px solid red
    &:last-child
      border: 2px solid green
    &-text
      padding-bottom: 10px
      flex: 2
      &__plus,
      &__minus,
      &__effect
        p
          margin: 10px 0 5px 0
          font:
            size: 1.4em
            family: $fontFamilyDefault
            weight: normal
          color: #4F4F4F
        span
          font:
            family: $fontFamilyDefault
            weight: normal
            size: 1.3em
          color: #828282
      &__useful
        width: 40%
        padding: 10px
        justify-content: center
        display: flex
        flex-direction: row
        background:
          color: #fbfbfb
        &-question
          font:
            family: $fontFamilyDefault
            weight: normal
            size: 1.4em
          color: #4f4f4f
        &-success
          font:
            family: $fontFamilyDefault
            weight: normal
            size: 1.4em
          color: #7dc472
          text-decoration: none
        &-fail
          font:
            family: $fontFamilyDefault
            weight: normal
            size: 1.4em
          color: #c62828
          text-decoration: none
    &-name
      flex: 1.2
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      &__rating
        margin: 5px 0
        display: flex
        flex-direction: row
        span
          display: block
          width: 18px
          height: 18px
      &__data
        p
          font:
            size: 1.4em
            family: $fontFamilyDefault
            weight: normal
          color: #828282
      &__name
        p
          font:
            family: $fontFamilyDefault
            weight: normal
            size: 1.6em
          color: #4f4f4f
      &__test
        margin-top: 10px
        text-align: center
        p,
        span
          font:
            size: 1.2em
            family: $fontFamilyDefault
            weight: normal
          color: #828282
    &-pie
      flex-direction: column
      display: flex
      align-items: center
      justify-content: center
      p
        font:
          size: 1.4em
          family: $fontFamilyDefault
          weight: normal
        color: #4f4f4f
    &-click
      padding-left: 50px
      display: flex
      flex-direction: column
      justify-content: center
      align-items: flex-start
      &__header
        p
          font:
            family: $fontFamilyDefault
            weight: normal
            size: 1.4em
          color: #828282
        span
          font:
            family: $fontFamilyDefault
            size: 1.4em
          color: #4f4f4f
.rating
  background:
    image: url("images/prcard/rating.svg")
  &-plus
    @extend .rating
    background-position: 0 0
  &-minus
    @extend .rating
    background-position: -66px 0
  &-half
    @extend .rating
    background-position: -44px 0