.breadcrums
    .container.start-section
        ol.breadcrums-list
            li.breadcrums-item
                a(href="/") Главная
            li.breadcrums-item
                a(href="#") Приспособления для ухода и помощт в быту
            li.breadcrums-item.active
                a(href="#") Санитарные приспособления для ванной комнаты
            li.breadcrums-item.active
                a(href="#") Ступени
            