.breadcrums
    .container.start-section
        ol.breadcrums-list
            li.breadcrums-item
                a(href="/") Главная
            li.breadcrums-item
                a(href="#") Категория
            li.breadcrums-item.active
                a(href="#") Подкатегория