.table
  padding: 30px 15px 15px 15px
  &__tabs
    margin-bottom: 20px
  &__button
    &-group
      padding: 0 0 15px 0
      display: flex
      flex-direction: row
    &-clear
      padding: 0 0 15px 0
      display: flex
      a
        display: flex
        font:
          size: 1.4em
          family: $fontFamilyAdditionally
          weight: normal
        color: #4f4f4f
        &:hover
          .compare-clear
            background:
              position: -100px -72px
        span 
          margin-right: 10px
  &__item-body
    display: flex
    flex-direction: row
  &-icon
    display: none
    flex-direction: column
    &__buy
      margin-bottom: 10px
      position: relative
      display: block
      bottom: 170px
      left: 160px
      z-index: 1
      width: 33px
      height: 33px
      background:
        color: #f2f2f2
        image: url("images/sprite.svg")
        position: 0 0
      cursor: pointer
      border-radius: 50%
      background:
        position: -88px -237px
      &:hover
        background:
          position: -121px -237px
    &__like
      margin-bottom: 10px
      position: relative
      display: block
      bottom: 170px
      left: 160px
      z-index: 1
      width: 33px
      height: 33px
      background:
        color: #f2f2f2
        image: url("images/sprite.svg")
        position: 0 0
      cursor: pointer
      border-radius: 50%
      background:
        position: -88px -138px
      &:hover
        background:
          position: -121px -138px
  &-prod
    border-collapse: collapse
    border:
      top: 1px solid #e0e0e0
      right: 1px solid #e0e0e0
    background: #ffffff
    width: 215px
    th,
    td
      border-bottom: 1px solid #e0e0e0
    &__td-another
      max-height: 17px
      min-height: 17px
      display: flex
      flex-direction: row
      justify-content: center
      text-align: center
      padding: 7px
      font:
        size: 1.4em
        family: $fontFamilyDefault
        weight: normal
      color: #4f4f4f
      img
        margin-right: 7px
  &-head
    max-width: 200px
    border: 1px solid #e0e0e0
    background: #ffffff
    border-collapse: collapse
    tr
      border: 1px solid #e0e0e0
    &__th
      &-first
        display: flex
        flex-direction: row
        align-items: flex-end
        justify-content: center
        background:
          image: url("images/compare/arrows.svg")
          repeat: no-repeat
          position: 50% 40%
        width: 255px
        height: 234px
        padding:
          bottom: 78px
      &-another
        font:
          family: $fontFamilyDefault
          size: 1.4em
          weight: normal
        letter-spacing: 0.7px
        color: #828282
        padding: 7px
        display: flex
        justify-content: flex-start
        align-items: flex-end
.td
  &-clear
    display: block
    position: relative
  &-del
    display: block
    width: 12px
    height: 12px
    background: none
    position: relative
    top: 5px
    right: -92px
    &:hover
      cursor: pointer
  &-first
    height: 311px
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    &:hover
      .table-icon
        display: block
        width: 200px
        height: 0
      .td-del
        background:
          image: url('images/sprite.png')
          position: -88px -72px
          repeat: no-repeat
        &:hover
          background:
            position: -100px -72px
    img
      width: 179px
      height: 179px
      margin: 20px
    &__header
      text-align: center
      p
        text-transform: uppercase
        font:
          family: $fontFamilyAdditionally
          size: 1.4em
          weight: normal
        letter-spacing: 0.7px
        color: #828282
    &__cost-group
      width: 100%
      display: flex
      flex-direction: row
      align-items: flex-end
      justify-content: center
      &--new
        p
          font:
            size: 1.8em
            family: $fontFamilyDefault
            weight: 500
          color: #4f4f4f
      &--old
        text:
          decoration: line-through
        margin-left: 10px
        font:
          size: 1.3em
          family: $fontFamilyDefault
          weight: normal
        color: #bdbdbd
.toggle
  &__label_table
    top: 40px
    left: 75px
    &:after
      left: -160px
    &-compare
      font:
        size: 1.3em
        family: $fontFamilyDefault
        weight: 500
      color: #4F4F4F
.scroll-row
  max-width: 1075px
  overflow: auto
.dinamic-numb
  color: #c62828
.compare-clear
  display: block
  width: 12px 
  height: 12px
  background:
    image: url('images/sprite.png')
    position: -88px -72px
    repeat: no-repeat
.TrHover
  &_Active
    background-color: #f6f6f6
.Table
  &-Button
    height: 30px
.likeAdd
  background-position: -121px -138px
//&:hover
//  background-position: -88px -138px