-
    var ProductData = [
        {
        "name": "Коктейлеркислородный \"Пингвин\"",
        "cost": "3 100",
        "oldcost": "3 500",
        "image": "images/ProductData/kokta.jpg"
        },
        {
        "name": "Пульсоксиметр напалечный серии MD300C",
        "cost": "2 250",
        "oldcost": "3 100",
        "image": "images/ProductData/puls.jpg"
        },
        {
        "name": "Увлажнитель воздуха, модель InH2",
        "cost": "10 900",
        "oldcost": "25 000",
        "image": "images/ProductData/uvl.jpg"
        },
        {
        "name": "Отсасыватель хирургический 7А-23D",
        "cost": "19 100",
        "oldcost": "26 500",
        "image": "images/ProductData/otsos.jpg"
        },
        {
        "name": "Рециркулятор \"ЭКОКВАРЦ-АРМЕД\" 15П",
        "cost": "3 500",
        "oldcost": "4 200",
        "image": "images/ProductData/rec.jpg"
        },
        {
        "name": "Насос инфузионный BYS-820",
        "cost": "41 500",
        "oldcost": "50 000",
        "image": "images/ProductData/nasos.jpg"
        },
        {
        "name": "Светильник медицинский хирургический \"Armed\" L735",
        "cost": "44 850",
        "oldcost": "51 590",
        "image": "images/ProductData/svet.jpg"
        },
        {
        "name": "Операционный стол \"Armed\" ST-V",
        "cost": "423 000",
        "oldcost": "458 000",
        "image": "images/ProductData/stol.jpg"
        },
        {
        "name": "Коктейлеркислородный \"Пингвин\"",
        "cost": "3 100",
        "oldcost": "3 500",
        "image": "images/ProductData/kokta.jpg"
        },
        {
        "name": "Рециркулятор \"ЭКОКВАРЦ-АРМЕД\" 15П",
        "cost": "3 500",
        "oldcost": "4 200",
        "image": "images/ProductData/rec.jpg"
        }
    ]