-
    var ProductData = [
        {
        "name": "Коктейлеркислородный \"Пингвин\"",
        "cost": "3100",
        "oldcost": "3500",
        "image": "images/ProductData/kokta.jpg"
        },
        {
        "name": "Пульсоксиметр напалечный серии MD300C",
        "cost": "2250",
        "oldcost": "3100",
        "image": "images/ProductData/puls.jpg"
        },
        {
        "name": "Увлажнитель воздуха, модель InH2",
        "cost": "10900",
        "oldcost": "25000",
        "image": "images/ProductData/uvl.jpg"
        },
        {
        "name": "Отсасыватель хирургический 7А-23D",
        "cost": "19100",
        "oldcost": "26500",
        "image": "images/ProductData/otsos.jpg"
        },
        {
        "name": "Рециркулятор \"ЭКОКВАРЦ-АРМЕД\" 15П",
        "cost": "3500",
        "oldcost": "4200",
        "image": "images/ProductData/rec.jpg"
        },
        {
        "name": "Насос инфузионный BYS-820",
        "cost": "41500",
        "oldcost": "50000",
        "image": "images/ProductData/nasos.jpg"
        },
        {
        "name": "Светильник медицинский хирургический \"Armed\" L735",
        "cost": "44850",
        "oldcost": "51590",
        "image": "images/ProductData/svet.jpg"
        },
        {
        "name": "Операционный стол \"Armed\" ST-V",
        "cost": "423000",
        "oldcost": "458000",
        "image": "images/ProductData/stol.jpg"
        },
        {
        "name": "Коктейлеркислородный \"Пингвин\"",
        "cost": "3100",
        "oldcost": "3500",
        "image": "images/ProductData/kokta.jpg"
        },
        {
        "name": "Рециркулятор \"ЭКОКВАРЦ-АРМЕД\" 15П",
        "cost": "3500",
        "oldcost": "4200",
        "image": "images/ProductData/rec.jpg"
        }
    ]