.quickbuy
	.quickbuy__info
		p
			| Чтобы оформить заказ, укажите номер телефона. 
		p 
			| В течении 15 минут с вами свяжется менеджер и уточнит детали заказа.
	.quickbuy__prod
		p 
			| Наименование товара
			span 
				| Кислородный концентратор Amred (Армед) 8F-1
	.quickbuy__form
		input
		button.Button.Button_Color_Red.Button_Size_Sm
			span.Button-Text.Button-Text_Color_White
			span.Button-Icon.Button-Icon_Basket
				| Отправить