.primary-menu__cart
    .primary-menu__cart_title
        | Всего товаров:&nbsp;
        span#value-dishes
            | 12
        span
            | &nbsp;шт.
    .primary-menu__cart_inner
        - var x = 12;
        - for (var i=1; i<=x; i++) {
        .primary-menu__cart_product
            .primary-menu__cart_product-col-1
                .primary-menu__cart_product-image
                    a(href="#")
                        img(src="images/Header/cart_product-image.png" alt="Отсасыватель хирургический 7A-32B")
            .primary-menu__cart_product-col-2
                .primary-menu__cart_product-title
                    a(href="#")
                        | Отсасыватель хирургический 7A-23B
                .primary-menu__cart_product-article
                    | Артикул: 165444321894
                .primary-menu__cart_product-price
                    .primary-menu__cart_product-price_cost
                        | 21 200 &#8381;
                    .primary-menu__cart_product-price_oldcost
                        strike
                            | 21 200 &#8381;
                    .primary-menu__cart_product_volume
                        span.primary-menu__cart_product_minus
                            | -
                        input.primary-menu__cart_product_entry(type="text" value="0" disabled="disabled")
                        span.primary-menu__cart_product_plus
                            | +
            .primary-menu__cart_delete
                | del
        - }
    .primary-menu__cart_price
        | Итого:&nbsp;
        span.primary-menu__cart_price-number#value-totalcost
            | 264 218
        span.primary-menu__cart_price-valute
            |&nbsp;&#8381;
    .primary-menu__cart_button
        a(href="#").primary-menu__cart_button-cart
            | Перейти в корзину
        a(href="#").primary-menu__cart_button-order
            | Оформить заказ

