.primary-menu__cart
  position: absolute
  visibility: hidden
  opacity: 0
  width: 380px
  height: 470px
  background: #fff
  border: 1px solid #f6f6f6
  top: 60px
  right: 0px
  padding: 15px
  z-index: 100
  transition: all .3s ease
  &.is-open
    visibility: visible
    opacity: 1
  &_title
    color: $headerCartTitle
    font-family: $fontFamilyAdditionally
    font-size: 1.4em
    font-weight: 400
    letter-spacing: 0.05em
  &_inner
    position: relative
    height: 307px
    overflow: auto
    margin: 10px 0
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.05)
  &_product
    display: flex
    border-top: 1px solid $searchAddressBorderColor
    padding: 10px 0
    &-col-2
      margin: 0 25px 0 0
    &-image
      width: 76px
      height: 76px
    &-title a
      font-size: 1.2em
      color: $headerCartTitle
      font-weight: normal
      text-decoration: none
      &:hover
        color: $headerItemHoverColor
    &-article
      font-size: 1.1em
      color: $headerItemColor
      padding: 5px 0 10px 0
    &-price
      display: flex
      margin-top: 18px
      &_cost
        font-size: 1.2em
        font-weight: 500
        padding: 0 10px 0 0
        color: $headerCartTitle
      &_oldcost
        color: $headerCartOldcost
        padding: 0 15px 0 0
    &_volume
      display: flex
      align-items: center
    &_minus, &_plus
      cursor: pointer
      background: url(images/Icon/cart_product-volume__icon.svg) center no-repeat
      width: 12px
      height: 12px
    &_minus
      background-position: -12px 0
      &:hover
        background-position: -24px 0
    &_plus
      background-position: -12px -12px
      &:hover
        background-position: -24px -12px
    &_entry
      width: 15px
      border: none
      background-color: #fff
      margin: -3px 5px
      color: $headerCartVolume
      font-size: 1.3em
      text-align: center
  &_price
    display: flex
    color: $headerCartTitle
    font-size: 1.4em
    margin: 20px 0 15px 0
    &-number
      font-weight: 500
    &-valute
      font-size: 12px
      display: flex
      align-items: center
  &_button
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: row
    &-cart, &-order
      background-color: $buttonRedBgColor
      color: #fff
      font-family: Rubik
      font-size: 1.2em
      letter-spacing: 0.05em
      padding: 15px
      text-decoration: none
      &:hover
        background-color: $buttonRedBgHoverColor
  &_delete
    position: relative
    top: 0px
    right: -26px
    width: 12px
    height: 12px
    background: url(images/sprite.png) center no-repeat
    background-position: -88px -72px
    display: none
    cursor: pointer
    &:hover
      background-position: -100px -72px

