.contacts.container
    .promo-title
        h2
            | Полезная информация о полезных товарах
    .contacts__wrapper
        .contacts__inner
            .contacts__form
                p.contacts-text
                    | Узнайте первыми о новых товарах и свежих акциях
                label.contacts__label(for="main__info")
                    input(type="text" id="main__info" placeholder="Введите Ваш E-mail")
                    button.Button.Button_Color_Red.Button_Size_Sm
                        span.Button-Text.Button-Text_Color_White
                            | Подписаться
        .contacts__inner
            .contacts__social
                p.contacts-text
                    | Следите за нашими новостями в социальных сетях
                .copyright__list.contacts-social
                    a.social__element.social__element_vk-lg.social__element_lg.social__link(href="#")
                    a.social__element.social__element_fb-lg.social__element_lg.social__link(href="#")
                    a.social__element.social__element_od-lg.social__element_lg.social__link(href="#")
                    a.social__element.social__element_in-lg.social__element_lg.social__link(href="#")
                    a.social__element.social__element_you-lg.social__element_lg.social__link(href="#")