.contacts
  margin:
    top: 60px
    bottom: 60px
  display: flex
  flex-direction: column
  &-text
    font:
      size: 1.8em
      family: $fontFamilyDefault
      weight: 300
    color: #828282
    line-height: 21px
    margin: 22px 0
  &__wrapper
    display: flex
    flex-direction: row
    justify-content: space-around
  &__inner
    margin: 40px
    display: flex
    flex-direction: column
  &__form
    text-align: center
    label
      margin-bottom: 22px
      display: flex
      flex-direction: row
      justify-content: center
      input
        padding: 10px
        width: 220px
        border: 1px solid #f2f2f2
        background: transparent
