//- файл стандартного head
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
	link(rel="shortcut icon" href="images/Global/favicon.ico" type="image/x-icon")
	meta(name="description" content="")
	meta(name="keywords" content="")
	meta(name="author" content="ArMed")
	title Armed.ru
	link(rel="stylesheet" type="text/css" href="preload.css")