.DashboardNews
  padding: 30px 0 0 0
  &-Button
    display: flex
    flex-direction: row
    justify-content: center
    margin: 60px 0
  &-Inner
    padding: 300px 30px 0 30px
    background:
      repeat: no-repeat
      size: 100%
  &-Information
    padding:
      top: 30px
      left: 30px
      right: 30px
      bottom: 15px
    background: #ffffff
    &_Button
      margin-bottom: 60px
      display: flex
      flex-direction: row
      justify-content: center
    &_Data
      margin: 15px 0
      text-align: right
      font:
        family: $fontFamilyDefault
        size: 1.6em
        style: italic
      color: #bdbdbd
    &_Preview
      font:
        size: 1.6em 
        family: $fontFamilyDefault
      color: #828282
  &-title
    padding: 20px
    h3
      text-align: center
      font:
        size: 2.2em
        family: $fontFamilyAdditionally
        weight: normal
      letter-spacing: 1.1px
  &-Card
    margin: 30px 0
    transition: 0.3s
    background: #ffffff
    &:hover
      transition: 0.3s
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08)