.passRecovery
    .passRecovery__wrapp
        form.passRecovery__form
            label.passRecovery__form-label(for="mail") E-mail:
                span.alert Вы не зарегистрированы
            input.passRecovery__form-input(type="mail" name="mail" id="mail")
            label.passRecovery__form-label(for="pass") Пароль:
                span.alert Пароль не верен
            input.passRecovery__form-input(type="mail" name="pass" id="pass")
            a.passRecovery__recovery(href="#") Забыли пароль?
            button.passRecovery__button.button.button_icon
                span.button__text
                    span.button__icon.button__icon_lock
                    |Восстановить
.passRecovery__border
p.passRecovery__text У вас всё ещё нет аккаунта?
    a.passRecovery__recovery(href="#") Зарегистрируйтесь
    |  сейчас