.passRecovery
    .passRecovery__wrapp
        form.passRecovery__form
            label.passRecovery__form-label(for="recoveryMail") E-mail:
            input.passRecovery__form-input(type="mail" name="recoveryMail" id="recoveryMail")
            button.Button.Button_Color_Red.Button_Size_Lg.auth__button#button__recovery
                span.Button-Text.Button-Text_Color_White.Button-Text_Uppercase
                    |Восстановить
.passRecovery__border
p.passRecovery__text У вас всё ещё нет аккаунта?
    a.passRecovery__recovery(href="#") Зарегистрируйтесь
    |  сейчас