@charset 'UTF-8';
/* --- Вспомогатнельные стили --- */
@font-face
{
    font-family: 'Roboto';
    font-weight: 100;
    font-style: normal; 

    src: url('fonts/Roboto/Roboto-Thin.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 100;
    font-style: italic; 

    src: url('fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal; 

    src: url('fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: bold;
    font-style: italic; 

    src: url('fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal; 

    src: url('fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 900;
    font-style: italic; 

    src: url('fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: normal;
    font-style: italic; 

    src: url('fonts/Roboto/Roboto-Italic.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 500;
    font-style: italic; 

    src: url('fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal; 

    src: url('fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic; 

    src: url('fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal; 

    src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 900;
    font-style: normal; 

    src: url('fonts/Roboto/Roboto-Black.ttf') format('truetype');
}

@font-face
{
    font-family: 'Rubik';
    font-weight: bold;
    font-style: italic; 

    src: url('fonts/Rubik/Rubik-BoldItalic.ttf') format('truetype');
}

@font-face
{
    font-family: 'Rubik';
    font-weight: 300;
    font-style: italic; 

    src: url('fonts/Rubik/Rubik-LightItalic.ttf') format('truetype');
}

@font-face
{
    font-family: 'Rubik';
    font-weight: normal;
    font-style: normal; 

    src: url('fonts/Rubik/Rubik-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Rubik';
    font-weight: 500;
    font-style: normal; 

    src: url('fonts/Rubik/Rubik-Medium.ttf') format('truetype');
}

@font-face
{
    font-family: 'Rubik';
    font-weight: 500;
    font-style: italic; 

    src: url('fonts/Rubik/Rubik-MediumItalic.ttf') format('truetype');
}

@font-face
{
    font-family: 'Rubik';
    font-weight: normal;
    font-style: italic; 

    src: url('fonts/Rubik/Rubik-Italic.ttf') format('truetype');
}

@font-face
{
    font-family: 'Rubik';
    font-weight: 900;
    font-style: italic; 

    src: url('fonts/Rubik/Rubik-BlackItalic.ttf') format('truetype');
}

@font-face
{
    font-family: 'Rubik';
    font-weight: 900;
    font-style: normal; 

    src: url('fonts/Rubik/Rubik-Black.ttf') format('truetype');
}

@font-face
{
    font-family: 'Rubik';
    font-weight: 300;
    font-style: normal; 

    src: url('fonts/Rubik/Rubik-Light.ttf') format('truetype');
}

@font-face
{
    font-family: 'Rubik';
    font-weight: bold;
    font-style: normal; 

    src: url('fonts/Rubik/Rubik-Bold.ttf') format('truetype');
}

html,
body,
menu,
h2,
h1,
li,
a,
footer,
header,
nav,
div,
p,
img,
ul,
li
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Roboto';
    font-size: 10px;
}

/*Стили блоков*/
.footer
{
    max-width: 100%;

    color: #828282;
}
.footer__head
{
    font-family: 'Rubik';
    font-size: 1.8em;
    font-weight: 500;

    margin-bottom: 19px;
    padding-left: 10px;

    letter-spacing: .1em; 

    color: #4f4f4f;
    border-left: 3px solid #c62828;
}
.footer__wrapp
{
    position: relative; 

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    max-width: 1366px;
    margin: 0 auto;
    padding: 31px 15px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.footer__wrapp:before
{
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 1px;

    content: '';

    background-image: -webkit-gradient(linear, left top, right top, from(rgba(224, 224, 224, 0)), color-stop(50%, #e0e0e0), to(rgba(224, 224, 224, 0)));
    background-image: linear-gradient(to right, rgba(224, 224, 224, 0) 0%, #e0e0e0 50%, rgba(224, 224, 224, 0) 100%);
}
.footer__logo-link
{
    margin-bottom: 15px;
}
.footer__contacts,
.footer__menu,
.footer__info
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column; 

    list-style: none;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.footer__contacts
{
    width: 350px;
}
.footer__contacts-item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.footer__contacts-item:not(:last-child)
{
    margin-bottom: 15px;
}
.footer__contacts-text
{
    font-size: 1.4em; 

    width: 90%;
}
.footer__contacts-text-wrap
{
    width: 90%;
}
.footer__contacts-image
{
    margin-top: 3px; 
    margin-right: 10px;
}
.footer__contacts-link
{
    text-decoration: none; 

    color: #828282;
}
.footer__contacts-link:hover
{
    color: #c62828;
}
.footer__menu,
.footer__info
{
    width: 267px;
}
.footer__menu-item:not(:last-child),
.footer__info-item:not(:last-child)
{
    margin-bottom: 13px;
}
.footer__menu-link,
.footer__info-link
{
    font-size: 1.4em;

    text-decoration: none; 

    color: #828282;
}
.footer__menu-link:hover,
.footer__info-link:hover
{
    color: #c62828;
}
.footer__info
{
    width: 220px;
}

@media screen and (max-width: 1024px)
{
    .footer__wrapp
    {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .footer__menu
    {
        width: 148px;
    }
}

@media screen and (max-width: 768px)
{
    .footer__menu,
    .footer__info
    {
        display: none;
    }
    .footer__contacts
    {
        width: 100%; 

        text-align: center;
    }
    .footer__contacts-text
    {
        width: 100%;
    }
    .footer__contacts-text-wrap
    {
        width: 100%;
    }
    .footer__contacts-image
    {
        display: none;
    }
}

@media screen and (max-width: 425px)
{
    .footer__contacts
    {
        margin-top: 15px; 

        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
}

@media screen and (max-width: 400px)
{
    .footer__info,
    .footer__menu
    {
        width: 100%;
    }
    .footer__menu
    {
        margin-bottom: 15px;
    }
}

.copyright
{
    width: 100%; 
    margin-top: 31px;
}
.copyright__wrapp
{
    position: relative;

    max-width: 1110px;
    margin: 0 auto;
    padding-bottom: 12px;
}
.copyright__wrapp:before
{
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 1px;

    content: '';

    background-image: -webkit-gradient(linear, left top, right top, from(rgba(224, 224, 224, 0)), color-stop(50%, #e0e0e0), to(rgba(224, 224, 224, 0)));
    background-image: linear-gradient(to right, rgba(224, 224, 224, 0) 0%, #e0e0e0 50%, rgba(224, 224, 224, 0) 100%);
}
.copyright__list
{
    margin-bottom: 18px;
}
.copyright__text,
.copyright__copy-text
{
    font-size: 1.4em;

    text-align: center;

    color: #888;
}
.copyright__copy-text
{
    padding-bottom: 6px;
}

@media screen and (max-width: 1024px)
{
    .copyright
    {
        margin-top: 10px;
    }
    .copyright__text
    {
        padding: 0 7px;
    }
}

.social
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    list-style: none;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.social__element
{
    position: relative; 

    width: 33px;
    height: 33px;
}
.social__element:not(:last-child)
{
    margin-right: 20px;
}
.social__element-link
{
    position: absolute; 

    width: 33px;
    height: 33px;

    background-image: url('images/Copyright/social__sprite.svg');
    background-repeat: no-repeat;
}
.social__element .social__element_vk
{
    background-position: 0 0;
}
.social__element .social__element_fb
{
    background-position: 0 -33px;
}
.social__element .social__element_od
{
    background-position: 0 -66px;
}
.social__element .social__element_in
{
    background-position: 0 -99px;
}
.social__element .social__element_tw
{
    background-position: 0 -132px;
}
.social__element .social__element_tg
{
    background-position: 0 -165px;
}
.social__element .social__element_you
{
    background-position: 0 -198px;
}
.social__element .social__element_g
{
    background-position: 0 -231px;
}
.social__element .social__element_y
{
    background-position: 0 -264px;
}
.social__element .social__element_s
{
    background-position: 0 -297px;
}
.social__element .social__element_wh
{
    background-position: 0 -330px;
}
.social__element .social__element_v
{
    background-position: 0 -363px;
}
.social__element .social__element_vk:hover
{
    background-position: -33px 0;
}
.social__element .social__element_fb:hover
{
    background-position: -33px -33px;
}
.social__element .social__element_od:hover
{
    background-position: -33px -66px;
}
.social__element .social__element_in:hover
{
    background-position: -33px -99px;
}
.social__element .social__element_tw:hover
{
    background-position: -33px -132px;
}
.social__element .social__element_tg:hover
{
    background-position: -33px -165px;
}
.social__element .social__element_you:hover
{
    background-position: -33px -198px;
}
.social__element .social__element_g:hover
{
    background-position: -33px -231px;
}
.social__element .social__element_y:hover
{
    background-position: -33px -264px;
}
.social__element .social__element_s:hover
{
    background-position: -33px -297px;
}
.social__element .social__element_wh:hover
{
    background-position: -33px -330px;
}
.social__element .social__element_v:hover
{
    background-position: -33px -363px;
}

@media screen and (max-width: 768px)
{
    .social
    {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .social__element
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        width: calc(100%/6);
        margin-top: 20px; 

        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .social__element:not(:last-child)
    {
        margin-right: 0;
    }
}

@media screen and (max-width: 400px)
{
    .social__element
    {
        margin-top: 5px;
    }
}

.attention
{
    width: 100%;
    margin-top: 12px;
}
.attention__wrapp
{
    font-size: 2.7em;
    font-weight: 300;

    max-width: 1140px;
    margin: 0 auto;

    text-align: center; 
    letter-spacing: .05em;
    text-transform: uppercase;

    color: #828282;
}

@media screen and (max-width: 1024px)
{
    .attention__wrapp
    {
        padding: 0 7px;
    }
}

@media screen and (max-width: 768px)
{
    .attention__wrapp
    {
        font-size: 2.4em;
    }
}

@media screen and (max-width: 400px)
{
    .attention__wrapp
    {
        font-size: 1.5em;
    }
}
