/** 
* файл index.styl
**/
/*Подключаем фалы переменных, миксинов, шрифтов и глобальных стилей*/
@font-face
{
    font-family: 'Roboto';
    font-weight: 100;
    font-style: normal;

    src: url('fonts/Roboto-Thin.ttf') format('truetype');
}
@font-face
{
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;

    src: url('fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face
{
    font-family: 'Roboto';
    font-weight: 500;

    src: url('fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face
{
    font-family: 'Roboto';
    font-weight: 500;
    font-style: italic;

    src: url('fonts/Roboto-MediumItalic.ttf') format('truetype');
}
@font-face
{
    font-family: 'Roboto';
    font-weight: bold;
    font-style: italic;

    src: url('fonts/Roboto-BoldItalic.ttf') format('truetype');
}
@font-face
{
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face
{
    font-family: 'Roboto';
    font-weight: 900;
    font-style: italic;

    src: url('fonts/Roboto-BlackItalic.ttf') format('truetype');
}
@font-face
{
    font-family: 'Roboto';
    font-weight: 100;
    font-style: italic;

    src: url('fonts/Roboto-ThinItalic.ttf') format('truetype');
}
@font-face
{
    font-family: 'Roboto';
    font-weight: normal;
    font-style: italic;

    src: url('fonts/Roboto-Italic.ttf') format('truetype');
}
@font-face
{
    font-family: 'Roboto';
    font-weight: 900;
    font-style: normal;

    src: url('fonts/Roboto-Black.ttf') format('truetype');
}
@font-face
{
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;

    src: url('fonts/Roboto-Light.ttf') format('truetype');
}
@font-face
{
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;

    src: url('fonts/Roboto-LightItalic.ttf') format('truetype');
}
@font-face
{
    font-family: 'Rubik';
    font-weight: bold;
    font-style: normal;

    src: url('fonts/Rubik-Bold.ttf') format('truetype');
}
@font-face
{
    font-family: 'Rubik';
    font-weight: 500;
    font-style: italic;

    src: url('fonts/Rubik-MediumItalic.ttf') format('truetype');
}
@font-face
{
    font-family: 'Rubik';
    font-weight: bold;
    font-style: italic;

    src: url('fonts/Rubik-BoldItalic.ttf') format('truetype');
}
@font-face
{
    font-family: 'Rubik';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/Rubik-Regular.ttf') format('truetype');
}
@font-face
{
    font-family: 'Rubik';
    font-weight: 900;
    font-style: italic;

    src: url('fonts/Rubik-BlackItalic.ttf') format('truetype');
}
@font-face
{
    font-family: 'Rubik';
    font-weight: normal;
    font-style: italic;

    src: url('fonts/Rubik-Italic.ttf') format('truetype');
}
@font-face
{
    font-family: 'Rubik';
    font-weight: 900;
    font-style: normal;

    src: url('fonts/Rubik-Black.ttf') format('truetype');
}
@font-face
{
    font-family: 'Rubik';
    font-weight: 300;
    font-style: normal;

    src: url('fonts/Rubik-Light.ttf') format('truetype');
}
@font-face
{
    font-family: 'Rubik';
    font-weight: 300;
    font-style: italic;

    src: url('fonts/Rubik-LightItalic.ttf') format('truetype');
}
body,
article,
section,
div,
nav,
menu,
a,
li,
ul,
p,
h1,
h2,
blockquote,
data,
fieldset,
form
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}
