.StepOne__Content
    include ../orderingHead
    .StepOne__StatusBar_Ur
    .StepOne__Head Контактные данные
    .StepOne__Text Вы заказываете как:

    .StepOne__ButtonWrap

        a.Button.Button_Color_Not.Button_Size_Lg(href="orderingStepOne.html")
            span.Button-Text.Button-Text_Color_Black.Button-Text_Uppercase
                span.Button-Icon.Button-Icon_UserRed
                | Физическое лицо
        a.Button.Button_Color_Red.Button_Size_Lg(href="#")
            span.Button-Text.Button-Text_Color_White.Button-Text_Uppercase
                span.Button-Icon.Button-Icon_UserBlack
                | Юридическое лицо

    .StepOne__FormWrap
        form.StepOne__Form
            label.StepOne__Form-Label(for="orderNameUser") Ваше имя:
                input.StepOne__Form-Input(type="text" name="orderNameUser" id="orderNameUser")
            .StepOne__FormPhone
                label.StepOne__Form-Label(for="orderPhoneUser") Номер телефона:
                    input.StepOne__Form-Input.StepOne__Form-Input_phone(type="text" name="orderPhoneUser" id="orderPhoneUser")
                label.StepOne__Form-Label(for="orderNumberUser") &nbsp
                    input.StepOne__Form-Input.StepOne__Form-Input_phone(type="text" name="orderNumberUser" id="orderNumberUser" disabled="disabled")

    p.StepOne__Or или
    .StepOne__Social
        p.StepOne__SocialText авторизуйтесь через социальные сети
        .StepOne__SicialList.social
            a.social__element.social__element_vk-lg.social__element_lg.social__link(href="#")
            a.social__element.social__element_fb-lg.social__element_lg.social__link(href="#")
            a.social__element.social__element_od-lg.social__element_lg.social__link(href="#")
            a.social__element.social__element_in-lg.social__element_lg.social__link(href="#")
            a.social__element.social__element_you-lg.social__element_lg.social__link(href="#")

    .StepOne__ButtonWrap
        button.Button.Button_Color_Not.Button_Size_Lg.StepOne__Button
            span.Button-Text.Button-Text_Color_Black.Button-Text_Uppercase
                span.Button-Icon.Button-Icon_Cancel
                | Отменить заказ
        button.Button.Button_Color_Red.Button_Size_Sm.StepOne__Button#ButtonStepTwo
            span.Button-Text.Button-Text_Color_White
                | Продолжить
                span.Button-Icon.Button-Icon_ArrowWhiteRight
