.StepOne__Content
    include ../orderingHead
    .StepOne__StatusBar
    .StepOne__Head Контактные данные
    .StepOne__Text Вы заказываете как:

    .StepOne__ButtonWrap
        button.button.button_sm.StepOne__Button
            span.button__text
                span.button__icon.button__icon_user
                | Физическое лицо
        button.button.button_white.button_sm.StepOne__Button
            span.button__text.button__text_white
                span.button__icon.button__icon_userRed
                | Юридическое лицо

    .StepOne__FormWrap
        form.StepOne__Form
            label.StepOne__Form-Label(for="orderNameUser") Ваше имя:
                input.StepOne__Form-Input(type="text" name="orderNameUser" id="orderNameUser")
            .StepOne__FormPhone
                label.StepOne__Form-Label(for="orderPhoneUser") Номер телефона:
                    input.StepOne__Form-Input.StepOne__Form-Input_phone(type="text" name="orderPhoneUser" id="orderPhoneUser")
                label.StepOne__Form-Label(for="orderNumberUser") &nbsp
                    input.StepOne__Form-Input.StepOne__Form-Input_phone(type="text" name="orderNumberUser" id="orderNumberUser" disabled="disabled")

    p.StepOne__Or или
    .StepOne__Social
        p.StepOne__SocialText авторизуйтесь через социальные сети
        .StepOne__SicialList.social
            a.social__element.social__element_vk-lg.social__element_lg.social__link(href="#")
            a.social__element.social__element_fb-lg.social__element_lg.social__link(href="#")
            a.social__element.social__element_od-lg.social__element_lg.social__link(href="#")
            a.social__element.social__element_in-lg.social__element_lg.social__link(href="#")
            a.social__element.social__element_you-lg.social__element_lg.social__link(href="#")

    .StepOne__ButtonWrap
        button.button.button_white.button_md.StepOne__Button
            span.button__text.button__text_white
                span.button__icon.button__icon_cancel
                | Отменить заказ
        button.button.button_md.StepOne__Button#ButtonNext
            span.button__text
                | Продолжить
                span.button__icon.button__icon_arrowWhite
