.advantages
  border-bottom: 1px solid #e0e0e0
  padding: 30px 15px 0px 15px
  &__wrapper
  &__slider
    width: 911px
    margin: 0 auto
    &-item
      height: 314px
      padding: 0 15px
    &-img
      width: 180px
      height: 160px
      border: 1px solid #f2f2f2
      img
        height: 100%
        width: 100%
    &-text
      padding: 15px 0
      &__title
        font:
          family: $fontFamilyAdditionally
          size: 14px
          weight: 500
      &__bottom
        margin: 10px 0 5px 0
        font: 
          family: $fontFamilyDefault
          size: 14px
        color: #828282
.slide-right-card
  top: 145px
  right: -28px
.slide-left-card
  top: 145px
  left: -35px