.attention
    .attention__wrapp
        p.attention__text
            |ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ, ПЕРЕД ИСПОЛЬЗОВАНИЕМ НЕОБХОДИМО ОЗНАКОМИТЬСЯ
            |С ИНСТРУКЦИЕЙ И пРОКОНСУЛЬТИРОВАТЬСЯ С ВРАЧОМ