.businessBanner
    .businessBanner__wrapper
        .businessBanner__inner.businessBanner__inner-text
            h1
                | Business
            h2
                | На здоровье всегда есть спрос
            hr
            p
                | Начните работать с крупнейшим производителем медицинской техники и ТСР в России и СНГ
        .businessBanner__inner.businessBanner__inner-table
            .businessBanner__item.businessBanner__item-table
                .businessBanner__table
                    .businessBanner__table-column
                        .businessBanner__circle
                        .businessBanner__plus
                            p
                                | Более 3000 позиций медицинской техники и ТСР
                    .businessBanner__table-column
                        .businessBanner__circle
                        .businessBanner__plus
                            p
                                | Более 17.000 м2 складских мощностей класса А
                    .businessBanner__table-column
                        .businessBanner__circle
                        .businessBanner__plus
                            p
                                | Личный кабинет с отслеживанием покупок и системой бонусов
                    .businessBanner__table-column
                        .businessBanner__circle
                        .businessBanner__plus
                            p
                                | Выгодные цены и постоянные скидки
                    .businessBanner__table-column
                        .businessBanner__plus
                            h4 Сотрудничество с «Армед»
                    .businessBanner__table-column
                        .businessBanner__circle
                        .businessBanner__plus
                            p
                                | Отгрузка в течение 48 часов и доставка по всей России
                    .businessBanner__table-column
                        .businessBanner__circle
                        .businessBanner__plus
                            p
                                | 20 сервисных центров по всей России
                    .businessBanner__table-column
                        .businessBanner__circle
                        .businessBanner__plus
                            p
                                | Рекламная поддержка
                    .businessBanner__table-column
                        .businessBanner__circle
                        .businessBanner__plus
                            p
                                | Обучение ваших сотрудников
