.edit
  width: $maxWidth
  height: 600px
  background-color: #fff
  padding: 30px
  border: 1px solid #e0e0e0
  &__head
    display: flex
    align-items: center
    text-transform: uppercase
    color: $lkHeadColor
    font-size: 2.6em
    font-family: 'Rubik'
    font-weight: 400
  &__icon
    width: 30px
    height: 30px
    background-image: url("images/Icon/lk_sprite.svg")
    background-repeat: no-repeat
    &_company
      background-position: 0 -210px
      margin-right: 5px
  &__name-company
    color: $GlobalColor
    padding-left: 10px
    font-size: 0.8em
    align-self: flex-end
    padding-bottom: 2px
  &__tabs
    margin-top: 20px
    font-size: 1.8em
    &-list
      list-style: none
      display: flex
      justify-content: flex-start
    &-item:not(:last-child)
      margin-right: 44px
    &-link
      font-family: 'Rubik'
      color: $lkLinkColor
      text-decoration: none
      margin-bottom: 3px
      display: inline-block
      &_active
        border-bottom: 2px solid $GlobalColor
        & > a
          color: $lkLinkActiveColor