.edit
  width: $maxWidth
  height: auto
  background-color: #fff
  padding: 30px
  border: 1px solid #e0e0e0
  &__head
    display: flex
    align-items: center
    text-transform: uppercase
    color: $lkHeadColor
    font-size: 2.6em
    font-family: 'Rubik'
    font-weight: 400
  &__icon
    width: 30px
    height: 30px
    background-image: url("images/Icon/lk_sprite.svg")
    background-repeat: no-repeat
    &_company
      background-position: 0 -210px
      margin-right: 5px
  &__name-company
    color: $GlobalColor
    padding-left: 10px
    font-size: 0.8em
    align-self: flex-end
    padding-bottom: 2px
  &__tabs
    margin-top: 20px
    &-wrapp
      height: 670px
      &_tabs1
        margin: 0 auto
        max-width: 852px
      &_tabs2
        max-width: 1366px

      &_tabs3
        margin: 0 auto
        max-width: 450px
    &-list
      list-style: none
      display: flex
      justify-content: flex-start
    &-item:not(:last-child)
      margin-right: 44px
    &-link
      font-family: 'Rubik'
      color: $lkLinkColor
      text-decoration: none
      margin-bottom: 3px
      display: inline-block
      font-size: 1.8em
      &_active
        border-bottom: 2px solid $GlobalColor
        & > a
          color: $lkLinkActiveColor
    &-drope
      margin-bottom: 15px
      width: 100%
      height: 90px
      background-image: url("images/lk/drope__zone.svg")
      background-repeat: no-repeat
    &-text
      color: $lkTextColor
      font-size: 1.4em
      margin-bottom: 15px
    &-label
      margin-top: 15px
      font-size: 1.4em
      font-weight: 300
      color: $lkLabelColor
    &-days
      margin-top: 15px
  &__map
    display: flex
    align-items: center
    &-tick
    &-text
      font-size: 1.4em
      color: $lkLabelColor
    &-link
      color: $lkTextColor
      font-size: 1.4em
      letter-spacing: 0.05em
      &:hover
        text-decoration: none
  &__form
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    &-label
      width: 45%
      display: flex
      font-weight: 300
      flex-wrap: wrap
      color: $lkLabelColor
      font-size: 1.4em
      margin-bottom: 15px
      &_logo
        position: relative
    &-input
      width: 405px
      height: 40px
      margin-top: 5px
    &-button
      font-size: 1em
      height: 40px
      position: absolute
      right: 0
      top: 7px
  &__chuse-company
    margin-bottom: 15px
  &__chuse-address
    margin-bottom: 15px
  &__users
    &-head
      display: flex
      justify-content: space-between
.form
  &__address
    &-city
      display: flex
      flex-wrap: wrap
    &-home
      display: flex
      justify-content: space-between
  &__city
    &-label
      width: 100%
      font-weight: 300
      display: flex
      flex-wrap: wrap
      color: $lkLabelColor
      font-size: 1.4em
      margin-bottom: 15px
    &-input
      width: 100%
      height: 40px
      margin-top: 5px
  &__home
    &-label
      width: calc(100%/3 - 30px)
      color: $lkLabelColor
      font-size: 1.4em
      font-weight: 300
      margin-bottom: 15px
    &-input
      width: 100%
      height: 40px
.delete
  &__break
    width: 16px
    height: 16px
    background-image: url("images/lk/delete__break.png")
    background-repeat: no-repeat
    position: absolute
    right: -20px
    top: 8px
    cursor: pointer
.opening-hours, .break-hours
  display: flex
  flex-wrap: wrap
  &__label
    position: relative
    width: 100%
    display: flex
    justify-content: space-between
    margin-bottom: 15px
    font-size: 1.4em
    color: $lkLabelColor
  &__hour-start, &__minute-start, &__hour-end, &__minute-end
    width: 42px
    font-family: Roboto
    height: 26px
    font-size: 1em
    color: $lkTextColor
  &__delimiter
    padding: 0 5px
    font-size: 1.5em
  &__add
    font-size: 1.4em
    width: 100%
    cursor: pointer
    color: $lkLinkColor
    text-align: center
    &:hover
      color: #000
.day
  margin-bottom: 15px
  &__label
    border: 1px solid #F2F2F2
    border-radius: 2px
    padding: 8px 14px
    margin-right: 5px
    position: relative
    font-size: 1.4em
    letter-spacing: 0.05em
  &__indicator
    display: none
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    border-radius: 2px
  &__input
    display: none
    &:checked + .day__indicator
      display: flex
      justify-content: center
      align-items: center
      color: #fff
      background-color: $ConfirmColor
.schedule
  margin-bottom: 15px
  &__input
    display: none
    &:checked + .schedule__label
      text-decoration: underline
      color: $lkTextColor
  &__label
    font-size: 1.2em
    color: $lkLabelColor
    margin-right: 10px