html,
body,
menu,
h2,
h3,
h1,
h6,
h4,
h5,
li,
a,
footer,
header,
nav,
div,
p,
img,
ul,
ol,
li,
input,
label,
button,
span,
select,
option
  margin: 0
  padding: 0
  box-sizing: border-box
  outline: none
  border: none

body
  font-family: $fontFamilyDefault
  font-size: $fontSize
  background-color: $SiteBgColor

img
  height: auto
  max-width: 100%
  vertical-align: middle

.icon-right
  position: absolute
  background: url(images/Icon/arrow-right.png) center no-repeat
  width: 10px
  height: 10px
  right: 0px
  top: 60%

/* ============== PLACEHOLDER ================== */
::-webkit-input-placeholder
  color: #BDBDBD
  font-family: $fontFamilyDefault
  font-size: 1.2em
::-moz-placeholder
  color: #BDBDBD
  font-family: $fontFamilyDefault
  font-size: 1.2em
::-ms-input-placeholder
  color: #BDBDBD
  font-family: $fontFamilyDefault
  font-size: 1.2em
::-moz-placeholder
  color: #BDBDBD
  font-family: $fontFamilyDefault
  font-size: 1.2em
