html,
body,
menu,
h2,
h3,
h1,
h6,
h4,
h5,
li,
a,
footer,
header,
nav,
div,
p,
img,
ul,
li,
input,
label,
button,
span
  margin: 0
  padding: 0
  box-sizing: border-box
  outline: none


body
  font-family: $fontFamilyDefault
  font-size: $fontSize
  background-color: $SiteBgColor

.container
  padding-top: 113px
  width: $maxWidth
  margin: 0 auto
  height: auto

.full-width
  position: relative
  width: 100vw
  margin-left: calc(-50vw + 50% - 10px)


.cardTovaraWrap
  display: flex
  justify-content: space-around
  flex-wrap: wrap