html,
body,
menu,
h2,
h3,
h1,
h6,
h4,
h5,
li,
a,
footer,
header,
nav,
div,
p,
img,
ul,
ol,
li,
input,
label,
button,
span,
select,
option,
textarea,
i
  margin: 0
  padding: 0
  box-sizing: border-box
  outline: none
  border: none
html
  scroll-behavior: smooth
a
  text-decoration-skip-ink: none
body
  font-family: $fontFamilyDefault
  font-size: $fontSize
  background-color: $SiteBgColor

img
  height: auto
  max-width: 100%
  vertical-align: middle

.icon-right
  position: absolute
  background: url(images/Icon/arrow-right.png) center no-repeat
  width: 10px
  height: 10px
  right: 0px
  top: 60%


/* ============== PLACEHOLDER ================== */
::-webkit-input-placeholder
  color: #BDBDBD
  font-family: $fontFamilyDefault
  font-size: 1.2em
::-moz-placeholder
  color: #BDBDBD
  font-family: $fontFamilyDefault
  font-size: 1.2em
::-ms-input-placeholder
  color: #BDBDBD
  font-family: $fontFamilyDefault
  font-size: 1.2em
::-moz-placeholder
  color: #BDBDBD
  font-family: $fontFamilyDefault
  font-size: 1.2em


.UIKit
  margin: 20px
  padding: 20px
  border: 1px solid red
  width: 100vw
  height: 100vh
  &-Table
    border-spacing: 0px
    width: 100%
  &-Line
    border: 1px solid #000
    padding: 5px
    &:not(:last-child)
      width: 10%
