$maxWidth: 1366px //Ширина контентной области
$fontFamilyDefault: 'Roboto' //Шрифт по умолчанию
$fontFamilyAdditionally: 'Rubik' //Дополнительный шрифт
$fontSize: 10px //Базовый размер шрифта
$GlobalColor: rgba(198, 40, 40, 1) //Основной красный цвет для сайта
$ConfirmColor: rgba(125, 196, 114, 1) //Основной зеленый цвет для сайта

// Цвета используемые в footer
$footerBgColor: rgba(255, 255, 255, 1)
$footerTextColor: rgba(130, 130, 130, 1)
$headerFooterColor: rgba(79, 79, 79, 1)
$linkFooterColor: rgba(130, 130, 130, 1)
$linkHoverFooterColor: rgba(198, 40, 40, 1)
$textFooterColor: rgba(136, 136, 136, 1)
$textAttentionColor: rgba(130, 130, 130, 1)

//Цвета для кнопок
$buttonRedBgColor: rgba(198, 40, 40, 1)
$buttonRedBgHoverColor: rgba(212, 44, 44, 1)
$buttonRedTextColor: rgba(255,255,255,1)
$buttonWhiteBgColor: rgba(255,255,255,1)
$buttonWhiteHoverBgColor: rgba(251, 251, 251, 1)
$buttonWhiteActiveBgColor: rgba(247, 247, 247, 1)
$buttonWhiteTextColor: rgba(79, 79, 79, 1)
$buttonWhiteBorderColor: rgba(224, 224, 224, 1)
$buttonWhiteHoverBorderColor: rgba(216, 216, 216, 1)
$buttonWhiteActiveBorderColor: rgba(216, 216, 216, 1)


//Цвета модальных окон
$bgModalColor: rgba(255, 255, 255, 0.85)
$h3ModalColor: rgba(79, 79, 79, 1)
$labelModalColor: rgba(79, 79, 79, 1)
$inputModalColor: rgba(130, 130, 130, 1)
$linkCountryModalColor: rgba(51, 51, 51, 1)
$linkCityModalColor: rgba(79, 79, 79, 1)

//Цвета для карточки товара
$cardBgColor: rgba(255,255,255,1)
$cardBorderHoverCard: rgba(189, 189, 189, 1)
$cardLinkColor: rgba(79, 79, 79, 1)
$cardLinkHoverColor: rgba(198, 40, 40, 1)
$cardBorderColor: rgba(224, 224, 224, 1)
$cardBorderHoverCard: rgba(189, 189, 189, 1)
$cardButtonBgColor: rgba(255, 255, 255, 1)
$cardButtonColor: rgba(79, 79, 79, 1)
$cardButtonBorderColor: rgba(242, 242, 242, 1)
$cardButtonBorderHoverColor: rgba(189, 189, 189, 1)

//Цвета для окон авторизации и регистрации
$linkAuthColor: rgba(79, 79, 79, 1)
$linkAuthHoverColor: rgba(198, 40, 40, 1)
$labelAuthColor: rgba(130, 130, 130, 1)
$textAuthColor: rgba(79, 79, 79, 1)

//Цвета форм
$inputTextColor: rgba(79, 79, 79, 1)
$inputBorderColor: rgba(224, 224, 224, 1)

$test: red