$maxWidth: 1366px
$fontFamily: 'Roboto'
$fontSize: 10px


// Цвета используемые на сайте
$footerBgColor: rgba(255, 255, 255, 1)
$footerTextColor: rgba(130, 130, 130, 1)
$headerFooterColor: rgba(79, 79, 79, 1)
$linkFooterColor: rgba(130, 130, 130, 1)
$linkHoverFooterColor: rgba(198, 40, 40, 1)