$maxWidth: 1366px //Ширина контентной области
$fontFamilyDefault: 'Roboto' //Шрифт по умолчанию
$fontFamilyAdditionally: 'Rubik' //Дополнительный шрифт
$fontSize: 10px //Базовый размер шрифта


// Цвета используемые на сайте
$footerBgColor: rgba(255, 255, 255, 1)
$footerTextColor: rgba(130, 130, 130, 1)
$headerFooterColor: rgba(79, 79, 79, 1)
$linkFooterColor: rgba(130, 130, 130, 1)
$linkHoverFooterColor: rgba(198, 40, 40, 1)
$textFooterColor: rgba(136, 136, 136, 1)
$textAttentionColor: rgba(130, 130, 130, 1)


//Цвета модальных окон
$bgModalColor: rgba(255, 255, 255, 0.85)
$h3ModalColor: rgba(79, 79, 79, 1);