doctype html
html(lang="ru")
    include ../include/Global/head/head
    body
        main.home
            include ../include/Global/preloader/preload
            include ../include/header/header
            include ../include/Global/breadcrums/breadcrums.pug
            section.container
                .catalog
                    include ../include/content/catalog/catalog_asside/catalog__asside_left
                    include ../include/content/catalog/catalog_content/catalog__content-ur



            include ../include/footer/footer
        include ../include/popup/popup
        //- Весь вонтент до данного коментария
        link(rel="stylesheet" type="text/css" href="style.css")
        script(src='main.js')