doctype html
html(lang="ru")
    include ../include/Global/head/head
    body
        main.home
            include ../include/Global/preloader/preload
            include ../include/header/header
            include ../include/Global/breadcrums/breadcrums
            section.container
                include ../include/content/compare/table/table
            section.container-fluid.prcard
                include ../include/global/recommend/recommend
            include ../include/footer/footer
        include ../include/popup/popup
        //- Весь контент до данного комментария
        link(rel="stylesheet" type="text/css" href="style.css")
        script(src='main.js')