doctype html
html(lang="ru")
	include ../include/Global/head/head
	body
		main.error
			include ../include/Global/error/error
		link(rel="stylesheet" type="text/css" href="style.css")
		script(src='main.js')