doctype html
html(lang="ru")
    include ../include/Global/head/head
    body
        main.home
            include ../include/Global/preloader/preload
            include ../include/header/header
            //-include ../include/Global/cookie/cookie

            //- SECTION HOME
            include ../include/content/index/home/home

            //- SECTION BANNER
            include ../include/content/index/banner/banner

            //- SECTION PRODUCT
            include ../include/content/index/product/product

            //- SECTION SALE
            include ../include/content/index/sale/sale

            //- SECTION NEWS
            include ../include/content/index/news/news

            //- SECTION FEEDBACK
            include ../include/content/index/feedback/feedback



            a(href="lk_edit.html" style="font-size: 20px") Личный кабинет
            br
            a.modalLink(href="#" data-id="quickview") Быстрый просмотр
            br
            a.modalLink(href="#" data-id="PickList") Где купить
            br
            a(href="prcard_index.html" style="font-size: 20px") Карточка товара :з
            include ../include/footer/footer
        include ../include/popup/popup

        //- Весь вонтент до данного коментария
        link(rel="stylesheet" type="text/css" href="style.css")
        script(src='main.js')