doctype html
html(lang="ru")
    include ../include/head/head
    body
        include ../include/preloader/preload


        include ../include/footer/footer
        //- Весь вонтент до данного коментария
        link(rel="stylesheet" type="text/css" href="style.css")
        script(src='site.js')