doctype html
html(lang="ru")
    include ../include/Global/head/head
    body
        main
            include ../include/Global/preloader/preload
            include ../include/header/header
            section.container-fluid
                include ../include/content/info/header/header
        include ../include/popup/popup
        //- Весь контент до данного комментария
        link(rel="stylesheet" type="text/css" href="style.css")
        script(src='main.js')