doctype html
html(lang="ru")
    include ../include/Global/head/head
    body
        main.home
            include ../include/Global/preloader/preload
            include ../include/content/main/header/header
            section 
                include ../include/content/main/banner/banner
            section
                include ../include/content/main/production/production
            section
                include ../include/content/main/services/services
            section
                include ../include/content/main/shops/shops
            section
                include ../include/content/main/contacts/contacts
            section
                include ../include/content/main/video/video
        include ../include/footer/footer


        //- Весь вонтент до данного коментария

        link(rel="stylesheet" type="text/css" href="style.css")
        script(src='main.js')