doctype html
html(lang="ru")
    include ../include/Global/head/head
    body
        main.home
            include ../include/Global/preloader/preload
            include ../include/header/header
            include ../include/Global/breadcrums/breadcrums
            include ../include/content/pr_card/anchor/anchor
            section.container
                .container-prcard
                    include ../include/content/pr_card/view/view
                    include ../include/content/pr_card/advantages/advantages
                    include ../include/content/pr_card/video/video
                    include ../include/content/pr_card/detail/detail
                    include ../include/content/pr_card/set/set
                    include ../include/content/pr_card/reviews/reviews
                .container-fixedcard

            include ../include/footer/footer
        //- Весь контент до данного комментария
        link(rel="stylesheet" type="text/css" href="style.css")
        script(src='main.js')