doctype html
html(lang="ru")
    include ../include/Global/head/head
    body
        main.home
            include ../include/Global/preloader/preload
            include ../include/content/main/header/header
            section
                include ../include/content/promo/business/banner/banner
            section
                include ../include/content/promo/business/numbers/numbers
            section
                include ../include/content/promo/business/partners/partners
            section
                include ../include/content/promo/business/video/video
            section
                include ../include/content/promo/business/contacts/contacts
        include ../include/footer/footer


        //- Весь вонтент до данного коментария

        link(rel="stylesheet" type="text/css" href="style.css")
        script(src='main.js')