doctype html
html(lang="ru")
    include ../include/Global/head/head
    body
        main
            include ../include/Global/preloader/preload
            include ../include/content/main/header/header

            include ../include/Promo/Busines/Bunner/Bunner
            include ../include/Promo/Busines/TCP/TCP
            include ../include/Promo/Busines/LK/Lk
            include ../include/Promo/Busines/LKImage/LiImage
            include ../include/Promo/Busines/Logist/Logist


            include ../include/footer/footer
        include ../include/popup/popup
        //- Весь контент до данного комментария
        link(rel="stylesheet" type="text/css" href="style.css")
        script(src='main.js')