doctype html
html(lang="ru")
    include ../include/Global/head/head
    body
        main.home
        .UI-Kit
            h2(style="text-transform: uppercase") кнопки
            table.UIKit-Table
                tr.UIKit-Row
                    td.UIKit-Line Пример
                    td.UIKit-Line Шаблон
                tr.UIKit-Row
                    td.UIKit-Line
                        button.Button.Button_Color_Red.Button_Size_XL
                            span.Button-Text.Button-Text_Color_White.Button-Text_Uppercase.Button-Text_Size_L
                                span.Button-Icon.Button-Icon_Cancel
                                | Надпись
                    td.UIKit-Line
                        pre
                            |button.Button.Button_Color_Red.Button_Size_XL
                            |    span.Button-Text.Button-Text_Color_White.Button-Text_Uppercase.Button-Text_Size_L
                            |        span.Button-Icon.Button-Icon_Tel
                            |        | Надпись
                tr.UIKit-Row
                    td.UIKit-Line
                        button.Button.Button_Color_White.Button_Size_XL
                            span.Button-Text.Button-Text_Uppercase.Button-Text_Size_L
                                span.Button-Icon.Button-Icon_AddUser
                                | Надпись
                    td.UIKit-Line
                        pre
                            |button.Button.Button_Color_Red.Button_Size_XL
                            |    span.Button-Text.Button-Text_Color_White.Button-Text_Uppercase.Button-Text_Size_L
                            |        span.Button-Icon.Button-Icon_Tel
                            |        | Надпись

        link(rel="stylesheet" type="text/css" href="style.css")
        script(src='main.js')