doctype html
html(lang="ru")
    include ../include/Global/head/head
    body
        main.home
        .UI-Kit
            h2(style="text-transform: uppercase") кнопки
            table.UIKit-Table
                tr.UIKit-Row
                    td.UIKit-Line Пример
                    td.UIKit-Line Шаблон
                tr.UIKit-Row
                    td.UIKit-Line
                        button.Button.Button_Color_Red.Button_Size_Lg
                            span.Button-Text.Button-Text_Color_White.Button-Text_Uppercase
                                | Надпись
                    td.UIKit-Line
                        pre
                            |button.Button.Button_Color_Red.Button_Size_Lg
                            |    span.Button-Text.Button-Text_Color_White.Button-Text_Uppercase
                            |        | Надпись
                tr.UIKit-Row
                    td.UIKit-Line
                        button.Button.Button_Color_Red.Button_Size_Sm
                            span.Button-Text.Button-Text_Color_White
                                span.Button-Icon.Button-Icon_Basket
                                | Надпись
                    td.UIKit-Line
                        pre
                            |button.Button.Button_Color_Red.Button_Size_Sm
                            |    span.Button-Text.Button-Text_Color_White
                            |        span.Button-Icon.Button-Icon_Basket
                            |        | Надпись
                tr.UIKit-Row
                    td.UIKit-Line
                        button.Button.Button_Color_Not.Button_Size_Lg
                            span.Button-Text.Button-Text_Uppercase
                                span.Button-Icon.Button-Icon_AddUser
                                | Надпись
                    td.UIKit-Line
                        pre
                            |button.Button.Button_Color_Not.Button_Size_Lg
                            |    span.Button-Text.Button-Text_Uppercase
                            |        span.Button-Icon.Button-Icon_AddUser
                            |        | Надпись
                tr.UIKit-Row
                    td.UIKit-Line
                        button.Button.Button_Color_Not.Button_Size_Sm
                            span.Button-Text
                                span.Button-Icon.Button-Icon_AddUser
                                | Надпись
                    td.UIKit-Line
                        pre
                            |button.Button.Button_Color_Not.Button_Size_Sm
                            |    span.Button-Text
                            |        span.Button-Icon.Button-Icon_AddUser
                            |        | Надпись
                tr.UIKit-Roe
                    td.UIKit-Line(colspan=2 style="font-size: 16px")
                        p Модификаторы размера кнопки:
                        p Button_Size_Lg (255x55)
                        p Button_Size_Sm (165x45)
                        br
                        p Модификаторы цвета кнопки:
                        p Button_Color_Red (красный)
                        p Button_Color_Not (бесцветная)
                        br
                        p Модификатор шрифта
                        p Button_Color_Black (Серый цвет)
                        p Button_Color_White (Белый цвет)
                        p Button_Uppercase (апперкейз шрифта)



        link(rel="stylesheet" type="text/css" href="style.css")
        script(src='main.js')