.dropdown-catalog.js-dropdown
    .dropdown-catalog__main
        ul.dropdown-catalog__wrapper
            include data/categories
            each item in categories
                li.dropdown-catalog__item(id= item.id)
                    a.dropdown-catalog__item_link(href= item.link) #{item.name}
        .dropdown-catalog__inner
            .dropdown-catalog__category(id="#")
                .dropdown-catalog__category_title
                    | Лабораторное оборудование
                .dropdown-catalog__category_wrapper
                    include data/cat-1
                    each item in cat1
                        a.dropdown-catalog__category_link(href= item.link)
                            img.dropdown-catalog__category_image(src= item.image)
                            span.dropdown-catalog__category_text
                                | #{item.name}