.dropdown-catalog
  display: none
  position: absolute
  width: auto
  height: 502px
  background: #fff
  top: 59px
  left: 0
  z-index: 100
  &__main
    display: flex
    align-items: start
    justify-content: center
    border: 1px solid #f2f2f2
  &__wrapper
    position: relative
    width: 255px
    height: 500px
    padding: 10px
    box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.03)
  &__inner
    position: relative
    display: none
    width: 857px
    height: 500px
  &__item
    font-size: 1.6em
    list-style: none
    padding: 10px 0
    transition: all 0.3s ease
    &:hover
      padding-left: 5px
    &_link
      color: $headerItemColor
      text-decoration: none
      transition: all 0.3s ease
      &:hover
        color: $headerItemHoverColor
  &__category
    padding: 25px 30px
    height: 100%
    &_title
      font-size: 1.8em
      font-weight: 500
      text-transform: uppercase
      color: $headerCartTitle
      font-family: Rubik
      border-left: 3px solid $headerItemHoverColor
      padding: 0 10px
    &_wrapper
      margin: 20px 0
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
      align-items: start
    &_link
      display: flex
      align-items: center
      width: 250px
      height: 75px
      border-bottom: 1px solid #E0E0E0
      padding: 60px 0
      text-decoration: none
      color: $headerItemColor
      &:nth-last-child(-n+3)
        border: none
      &:hover
        color: $headerItemHoverColor
    &_image
      width: 78px
      height: 78px
    &_text
      font-size: 1.4em
      padding: 10px

