.dropdown-catalog
    .dropdown-catalog__main
        ul.dropdown-catalog__wrapper
            include data/categories
            each item in categories
                li.dropdown-catalog__item(id= item.id)
                    a.dropdown-catalog__item_link(href= item.link) #{item.name}
        .dropdown-catalog__inner
            .dropdown-catalog__category(id="#")
                .dropdown-catalog__category_title
                    | Лабораторное оборудование
                .dropdown-catalog__category_wrapper
                    a.dropdown-catalog__category_link(href="#")
                        img.dropdown-catalog__category_image(src="images/Header/catalog/dropdown-catalog__img-item--1.jpg")
                        span.dropdown-catalog__category_text
                            | Микроскопы
                    a.dropdown-catalog__category_link(href="#")
                        img.dropdown-catalog__category_image(src="images/Header/catalog/dropdown-catalog__img-item--1.jpg")
                        span.dropdown-catalog__category_text
                            | Микроскопы
                    a.dropdown-catalog__category_link(href="#")
                        img.dropdown-catalog__category_image(src="images/Header/catalog/dropdown-catalog__img-item--1.jpg")
                        span.dropdown-catalog__category_text
                            | Микроскопы
                    a.dropdown-catalog__category_link(href="#")
                        img.dropdown-catalog__category_image(src="images/Header/catalog/dropdown-catalog__img-item--1.jpg")
                        span.dropdown-catalog__category_text
                            | Микроскопы