.dropdown-catalog.js-dropdown
    .dropdown-catalog__main
        ul.dropdown-catalog__wrapper
            li.dropdown-catalog__item(id="cat1")
                a.dropdown-catalog__item_link(href="catalog_fiz.html") Медицинское оборудование и сопутствующие
                .dropdown-catalog__inner
                    .dropdown-catalog__category(id="#")
                        .dropdown-catalog__category_title
                            | Медицинское оборудование и сопутствующие
                        .dropdown-catalog__category_wrapper
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item.jpg")
                                span.dropdown-catalog__category_text
                                    | Кислородное оборудование и сопутствующие товары
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item0.jpg")
                                span.dropdown-catalog__category_text
                                    | Отсасыватели хирургические
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item03.jpg")
                                span.dropdown-catalog__category_text
                                    | Стерилизационное и дезинфекционное оборудование
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item04.jpg")
                                span.dropdown-catalog__category_text
                                    | Дозаторы шприцевые и насосы инфузионные
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item05.jpg")
                                span.dropdown-catalog__category_text
                                    | Светильники хирургические
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item06.jpg")
                                span.dropdown-catalog__category_text
                                    | Негатоскопы
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item7.jpg")
                                span.dropdown-catalog__category_text
                                    | Операционные столы
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item8.jpg")
                                span.dropdown-catalog__category_text
                                    | Мониторы прикроватные
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item9.jpg")
                                span.dropdown-catalog__category_text
                                    | Офтальмологическое оборудование
            li.dropdown-catalog__item(id="cat2")
                a.dropdown-catalog__item_link(href="catalog_fiz.html") Лабораторное оборудование
                .dropdown-catalog__inner
                    .dropdown-catalog__category(id="#")
                        .dropdown-catalog__category_title
                            | Лабораторное оборудование
                        .dropdown-catalog__category_wrapper
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item1.jpg")
                                span.dropdown-catalog__category_text
                                    | Микроскопы
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item2.jpg")
                                span.dropdown-catalog__category_text
                                    | Центрифуги и лабораторные
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item3.jpg")
                                span.dropdown-catalog__category_text
                                    | Аквадистилляторы
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item4.jpg")
                                span.dropdown-catalog__category_text
                                    | Водные бани
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item5.jpg")
                                span.dropdown-catalog__category_text
                                    | Нагревательные плиты
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item6.jpg")
                                span.dropdown-catalog__category_text
                                    | Встряхиватели и магнитные мешалки
            li.dropdown-catalog__item(id="cat3")
                a.dropdown-catalog__item_link(href="catalog_fiz.html") Медицинская мебель
                .dropdown-catalog__inner
                    .dropdown-catalog__category(id="#")
                        .dropdown-catalog__category_title
                            | Медицинская мебель
                        .dropdown-catalog__category_wrapper
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item10.jpg")
                                span.dropdown-catalog__category_text
                                    | Кровати медицинские механические
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item11.jpg")
                                span.dropdown-catalog__category_text
                                    | Электрические двух- и трехфункциональные кровати
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item12.jpg")
                                span.dropdown-catalog__category_text
                                    | Электрические пятифункциональные кровати
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item13.jpg")
                                span.dropdown-catalog__category_text
                                    | Матрасы для функциональных кроватей
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item14.jpg")
                                span.dropdown-catalog__category_text
                                    | Сопутствующие товары
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item15.jpg")
                                span.dropdown-catalog__category_text
                                    | Мебель для акушерских и гинекологических отделений
            li.dropdown-catalog__item(id="cat4")
                a.dropdown-catalog__item_link(href="catalog_fiz.html") Технические средства реабилитации
                .dropdown-catalog__inner
                    .dropdown-catalog__category(id="#")
                        .dropdown-catalog__category_title
                            | Технические средства реабилитации
                        .dropdown-catalog__category_wrapper
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item16.jpg")
                                span.dropdown-catalog__category_text
                                    | Кресла-коляски механические
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item17.jpg")
                                span.dropdown-catalog__category_text
                                    | Кресла инвалидные детские
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item18.jpg")
                                span.dropdown-catalog__category_text
                                    | Кресла инвалидные электрические
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item19.jpg")
                                span.dropdown-catalog__category_text
                                    | Кресла-каталки
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item20.jpg")
                                span.dropdown-catalog__category_text
                                    | Кресла-коляски с санитарным оснащением
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item21.jpg")
                                span.dropdown-catalog__category_text
                                    | Матрацы и подушки противопролежневые
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item22.jpg")
                                span.dropdown-catalog__category_text
                                    | Костыли
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item23.jpg")
                                span.dropdown-catalog__category_text
                                    | Трости опорные
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item24.jpg")
                                span.dropdown-catalog__category_text
                                    | Ходунки
            li.dropdown-catalog__item(id="cat5")
                a.dropdown-catalog__item_link(href="catalog_fiz.html") Приспособления для ухода и помощи в быту
                .dropdown-catalog__inner
                    .dropdown-catalog__category(id="#")
                        .dropdown-catalog__category_title
                            | Приспособления для ухода и помощи в быту
                        .dropdown-catalog__category_wrapper
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item25.jpg")
                                span.dropdown-catalog__category_text
                                    | Санитарные приспособления для ванной комнаты
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item26.jpg")
                                span.dropdown-catalog__category_text
                                    | Санитарные приспособления для туалета
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item27.jpg")
                                span.dropdown-catalog__category_text
                                    | Дополнительные приспособления для ухода за лежачими больными
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item28.jpg")
                                span.dropdown-catalog__category_text
                                    | Дополнительные приспособления для пожилых людей и людей с ограниченными возможностями
            li.dropdown-catalog__item(id="cat6")
                a.dropdown-catalog__item_link(href="catalog_fiz.html") Домашняя медтехника
                .dropdown-catalog__inner
                    .dropdown-catalog__category(id="#")
                        .dropdown-catalog__category_title
                            | Домашняя медтехника
                        .dropdown-catalog__category_wrapper
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item29.jpg")
                                span.dropdown-catalog__category_text
                                    | Ингаляторы-небулайзеры
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item30.jpg")
                                span.dropdown-catalog__category_text
                                    | Тонометры электронные
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item31.jpg")
                                span.dropdown-catalog__category_text
                                    | Тонометры механические
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item32.jpg")
                                span.dropdown-catalog__category_text
                                    | Оборудование для светотерапии
            li.dropdown-catalog__item(id="cat7")
                a.dropdown-catalog__item_link(href="catalog_fiz.html") Товары для спорта и отдыха
                .dropdown-catalog__inner
                    .dropdown-catalog__category(id="#")
                        .dropdown-catalog__category_title
                            | Товары для спорта и отдыха
                        .dropdown-catalog__category_wrapper
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item33.jpg")
                                span.dropdown-catalog__category_text
                                    | Увлажнители
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item34.jpg")
                                span.dropdown-catalog__category_text
                                    | Палки для скандинавской ходьбы
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item35.jpg")
                                span.dropdown-catalog__category_text
                                    | Тренажеры
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item36.jpg")
                                span.dropdown-catalog__category_text
                                    | Массажные приспособления
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item37.jpg")
                                span.dropdown-catalog__category_text
                                    | Подушки
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item38.jpg")
                                span.dropdown-catalog__category_text
                                    | Бинты
            li.dropdown-catalog__item(id="cat8")
                a.dropdown-catalog__item_link(href="catalog_fiz.html") Ортопедические изделия и антиварикозное белье
                .dropdown-catalog__inner
                    .dropdown-catalog__category(id="#")
                        .dropdown-catalog__category_title
                            | Ортопедические изделия и антиварикозное белье
                        .dropdown-catalog__category_wrapper
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item39.jpg")
                                span.dropdown-catalog__category_text
                                    | Ортезы
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item40.jpg")
                                span.dropdown-catalog__category_text
                                    | Трикотаж Антиварикозный, Антиэмболический, Компрессионный
            li.dropdown-catalog__item(id="cat9")
                a.dropdown-catalog__item_link(href="catalog_fiz.html") Запчасти
                .dropdown-catalog__inner
                    .dropdown-catalog__category(id="#")
                        .dropdown-catalog__category_title
                            | Запчасти
                        .dropdown-catalog__category_wrapper
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item15.jpg")
                                span.dropdown-catalog__category_text
                                    | Запчасти для гинекологического оборудования
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item10.jpg")
                                span.dropdown-catalog__category_text
                                    | Запчасти для медицинской мебели
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item16.jpg")
                                span.dropdown-catalog__category_text
                                    | Запчасти для технических средств реабилитации
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item0.jpg")
                                span.dropdown-catalog__category_text
                                    | Запчасти для медицинского оборудования
            li.dropdown-catalog__item(id="cat10")
                a.dropdown-catalog__item_link(href="catalog_fiz.html") Рекламные материалы
                .dropdown-catalog__inner
                    .dropdown-catalog__category(id="#")
                        .dropdown-catalog__category_title
                            | Рекламные материалы
                        .dropdown-catalog__category_wrapper
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item41.jpg")
                                span.dropdown-catalog__category_text
                                    | Рекламное оборудование
                            a.dropdown-catalog__category_link(href="catalog_fiz.html")
                                img.dropdown-catalog__category_image(src="images/Header/catalog/drop-item42.jpg")
                                span.dropdown-catalog__category_text
                                    | Полиграфия