.dropdown-catalog
    ul.dropdown-catalog__inner
        - var categories = ["Медицинское оборудование и сопутствующие товары", "Лабораторное оборудование", "Медицинская мебель", "Технические средства реабилитации", "Приспособления для ухода и помощи в быту", "Домашняя медтехника", "Товары для спорта и отдыха", "Ортопедические изделия и антиварикозное белье", "Запчасти", "Рекламные материалы"];
        for item in categories
            li.dropdown-catalog__item
                a.dropdown-catalog__item_link(href="#")= item