.CommentsNews
    .prcard-title
        h2
            | Комментарии
    .CommentsNews-Wrapper
        .CommentsNews-Inner
            .CommentsNews-Header
                .CommentsNews-Header_NameGroup
                    .CommentsNews-Header_Name
                        p
                            | Лимиров Евгений
                    .CommentsNews-Header_Data
                        p
                            span.ContainerNews-Data_Icon
                            | 22.12.2012
                .CommentsNews-Header_Button
                    .CommentsNews-Header_Answer
                        a(href="#")
                            span.CommentsNews-Header_Answer-Icon
                            | Ответить
            .CommentsNews-Body
                .CommentsNews-Body_Text
                    p
                        | Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                    p
                        | Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum. *
        .CommentsNews-Inner_Answer
            .CommentsNews-Header
                .CommentsNews-Header_NameGroup
                    .CommentsNews-Header_Name
                        p
                            | Лимиров Евгений
                    .CommentsNews-Header_Data
                        p
                            span.ContainerNews-Data_Icon
                            | 22.12.2012
                .CommentsNews-Header_Button
                    .CommentsNews-Header_Answer
                        a(href="#")
                            span.CommentsNews-Header_Answer-Icon
                            | Ответить
            .CommentsNews-Body
                .CommentsNews-Body_Text
                    p
                        | Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                    p
                        | Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum. *
    .CommentsNews-Wrapper
        .CommentsNews-AddComment
            .prcard-title
                h2
                    | Оставьте Ваш комментрий
            label(for="news_comments") Комментарий:
            textarea(id="news_comments" name="news_comments")
            button.Button.Button_Color_Red.Button_Size_XL
                span.Button-Text.Button-Text_Color_White.Button-Text_Size_L
                    span.Button-Icon.Button-Icon_Pencil
                    | Оставить комментрий