section.Service.PromoBusines-Section
    .Service-TextBlock.PromoBusines-TextBlock
        h2.Service-Header.PromoBusines-Header Безупречное сервисное обслуживание
        p.Service-Text.PromoBusines-Text
            |Услуги по монтажу оборудования, качественный ремонт в течение 14 дней и оригинальные запчасти в наличии. Вы сможете воспользоваться любым из 20 сервисных центров по всей России
        a.Service-Link.PromoBusines-Link(href="#") Перейти в раздел "Сервис"
    img.Service-Image(src="images/Promo/Service.png" alt="")