.primary-menu--main
    .primary-menu__catalog.primary-menu__catalog--promo
        .primary-menu__catalog_wrapper.js-dropdown-toggler
            .primary-menu__catalog-link.primary-menu__catalog-link--main
                span.burger-button--main
                | Каталог
    .primary-menu__shop
        a(href="index.html")
            | Интернет-магазин
    a(href="main.html").primary-menu__center-logo
    .primary-menu__widgets
        .primary-menu__phone
            span.primary-menu__phone-item.primary-menu__phone-item--main
                a(href="tel:+74951062676") 8 (495) 106-26-76
            span.primary-menu__phone-item.primary-menu__phone-item--main
                a(href="tel:88002006734") 8 (800) 200-67-34
        .SearchMain
            label.Label.Label_Icon.SearchMain-Icon(for='searchMain' onclick="searchShow()")
            input.Input.SearchMain-Input(type="search" id="searchMain" name="searchMain" placeholder="Поиск по сайту")
            span.Input_Button_Cancel(onclick="searchClose()")
            .search.search_hide.search_main
                .search__content.search__content_header
                    section.search__address
                        h4.search__head Продукция
                        a.search__text.search__link.search__link_header(href="catalog_fiz.html") Кислородный концентратор Armed (Армед) 8F-1
                        a.search__text.search__link.search__link_header(href="catalog_fiz.html") Концентратор кислорода Armed (Армед) 8F-1 (бук)
                        a.search__text.search__link.search__link_header(href="catalog_fiz.html") Концентратор кислорода Armed (Армед) LF-H-10A
                        a.search__text.search__link.search__link_header(href="catalog_fiz.html") Концентратор кислорода Armed (Армед) 7F-5
                        a.search__text.search__link.search__link_header(href="catalog_fiz.html") Концентратор кислорода Armed (Армед) 8F-5
                        a.search__text.search__link.search__link_header(href="catalog_fiz.html") Кислородный концентратор Armed (Армед) 8F-1
                        a.search__text.search__link.search__link_header(href="catalog_fiz.html") Кислородный концентратор Armed (Армед) 8F-1
                        a.search__text.search__link.search__link_header(href="catalog_fiz.html") Кислородный концентратор Armed (Армед) 8F-1
                    section.search__address
                        h4.search__head Категории
                        a.search__text.search__link.search__link_header(href="catalog_fiz.html") Кислородные концентраторы (17)
                        a.search__text.search__link.search__link_header(href="catalog_fiz.html") Расходные материалы для кислородных концентрат...
                        a.search__text.search__link.search__link_header(href="catalog_fiz.html") Кислородные концентраторы (17)
                    section.search__address
                        h4.search__head
                        a.search__text.search__link.search__link_header(href="catalog_fiz.html") Запчасти (17)
        a(href="http://wp.armed.ru/my-account/").primary-menu__icon-item.primary-menu__icon-item_personal
        .primary-menu__catalog--main
            .primary-menu__catalog_wrapper--menu
                .primary-menu__catalog-link.primary-menu__catalog-link--menu
                    | Меню
                    span.burger-button_main


.main-catalog.main-catalog--left
    .main-catalog__wrapper.main-catalog__wrapper--left
        .main-catalog__close.main-catalog__close--left
            a(href="#")
                span.Button-Icon.Button-Icon_CancelBig
                | Закрыть
        .main-catalog__nav
            ul.main-catalog__nav-main
                li.main-catalog-top
                    a.main-catalog__nav-main__link(href='#')
                        | Медицинское оборудование и сопутствующие товары
                    ul.main-catalog-bottom
                        li
                            a(href="catalog_fiz.html") Кислородное оборудование и сопутствующие товары
                        li
                            a(href="catalog_fiz.html") Отсасыватели хирургические
                        li
                            a(href="catalog_fiz.html") Стерилизационное и дезинфекционное оборудование
                        li
                            a(href="catalog_fiz.html") Дозаторы шприцевые и насосы инфузионные
                        li
                            a(href="catalog_fiz.html") Светильники хирургические
                        li
                            a(href="catalog_fiz.html") Негатоскопы
                        li
                            a(href="catalog_fiz.html") Операционные столы
                        li
                            a(href="catalog_fiz.html") Мониторы прикроватные
                        li
                            a(href="catalog_fiz.html") Офтальмологическое оборудование
                li.main-catalog-top
                    a.main-catalog__nav-main__link(href='#')
                        | Лабораторное оборудование
                    ul.main-catalog-bottom
                        li
                            a(href="catalog_fiz.html") Микроскопы
                        li
                            a(href="catalog_fiz.html") Центрифуги и лабораторные
                        li
                            a(href="catalog_fiz.html") Аквадистилляторы
                        li
                            a(href="catalog_fiz.html") Водные бани
                        li
                            a(href="catalog_fiz.html") Нагревательные плиты
                        li
                            a(href="catalog_fiz.html") Встряхиватели и магнитные мешалки
                li.main-catalog-top
                    a.main-catalog__nav-main__link(href='#') Медицинская мебель
                    ul.main-catalog-bottom
                        li
                            a(href="catalog_fiz.html") Кровати медицинские механические
                        li
                            a(href="catalog_fiz.html") Электрические двух- и трехфункциональные кровати
                        li
                            a(href="catalog_fiz.html") Электрические пятифункциональные кровати
                        li
                            a(href="catalog_fiz.html") Матрасы для функциональных кроватей
                        li
                            a(href="catalog_fiz.html") Сопутствующие товары
                        li
                            a(href="catalog_fiz.html") Мебель для акушерских и гинекологических отделений
                li.main-catalog-top
                    a.main-catalog__nav-main__link(href='#') Технические средства реабилитации
                    ul.main-catalog-bottom
                        li
                            a(href="catalog_fiz.html") Кресла-коляски механические
                        li
                            a(href="catalog_fiz.html") Кресла инвалидные детские
                        li
                            a(href="catalog_fiz.html") Кресла инвалидные электрические
                        li
                            a(href="catalog_fiz.html") Кресла-каталки
                        li
                            a(href="catalog_fiz.html") Кресла-коляски с санитарным оснащением
                        li
                            a(href="catalog_fiz.html") Матрацы и подушки противопролежневые
                        li
                            a(href="catalog_fiz.html") Костыли
                        li
                            a(href="catalog_fiz.html") Трости опорные
                        li
                            a(href="catalog_fiz.html") Ходунки
                li.main-catalog-top
                    a.main-catalog__nav-main__link(href='#') Приспособления для ухода и помощи в быту
                    ul.main-catalog-bottom
                        li
                            a(href="catalog_fiz.html") Санитарные приспособления для ванной комнаты
                        li
                            a(href="catalog_fiz.html") Санитарные приспособления для туалета
                        li
                            a(href="catalog_fiz.html") Дополнительные приспособления для ухода за лежачими больными
                        li
                            a(href="catalog_fiz.html") Дополнительные приспособления для пожилых людей и людей с ограниченными возможностями
                li.main-catalog-top
                    a.main-catalog__nav-main__link(href='#') Домашняя медтехника
                    ul.main-catalog-bottom
                        li
                            a(href="catalog_fiz.html") Ингаляторы-небулайзеры
                        li
                            a(href="catalog_fiz.html") Тонометры электронные
                        li
                            a(href="catalog_fiz.html") Тонометры механические
                        li
                            a(href="catalog_fiz.html") Оборудование для светотерапии
                li.main-catalog-top
                    a.main-catalog__nav-main__link(href='#') Товары для спорта и отдыха
                    ul.main-catalog-bottom
                        li
                            a(href="catalog_fiz.html") Увлажнители
                        li
                            a(href="catalog_fiz.html") Палки для скандинавской ходьбы
                        li
                            a(href="catalog_fiz.html") Тренажеры
                        li
                            a(href="catalog_fiz.html") Массажные приспособления
                        li
                            a(href="catalog_fiz.html") Подушки
                        li
                            a(href="catalog_fiz.html") Бинты
                li.main-catalog-top
                    a.main-catalog__nav-main__link(href='#') Ортопедические изделия и антиварикозное белье
                    ul.main-catalog-bottom
                        li
                            a(href="catalog_fiz.html") Ортезы
                        li
                            a(href="catalog_fiz.html") Трикотаж Антиварикозный, Антиэмболический, Компрессионный
                li.main-catalog-top
                    a.main-catalog__nav-main__link(href='#') Запчасти
                    ul.main-catalog-bottom
                        li
                            a(href="catalog_fiz.html") Запчасти для гинекологического оборудования
                        li
                            a(href="catalog_fiz.html") Запчасти для медицинской мебели
                        li
                            a(href="catalog_fiz.html") Запчасти для технических средств реабилитации
                        li
                            a(href="catalog_fiz.html") Запчасти для медицинского оборудования
                li.main-catalog-top
                    a.main-catalog__nav-main__link(href='#') Рекламные материалы
                    ul.main-catalog-bottom
                        li
                            a(href="catalog_fiz.html") Рекламное оборудование
                        li
                            a(href="catalog_fiz.html") Полиграфия
.main-catalog.main-catalog--right
    .main-catalog__wrapper.main-catalog__wrapper--right
        .main-catalog__close.main-catalog__close--right
            a(href="#")
                span.Button-Icon.Button-Icon_CancelBig
                | Закрыть
        .main-catalog__nav
            ul.main-catalog__nav-main.main-catalog__nav-menu
                li
                    a.main-catalog__nav-main__right(href='error.html')
                        | О компании
                li
                    a.main-catalog__nav-main__right(href='error.html')
                        | Сервис
                li
                    a.main-catalog__nav-main__right(href='error.html') Доставка
                li
                    a.main-catalog__nav-main__right(href='error.html') Оплата
                li
                    a.main-catalog__nav-main__right(href='error.html') Гарантия
                li
                    a.main-catalog__nav-main__right(href='error.html') Новости
                li
                    a.main-catalog__nav-main__right(href='error.html') Обучение
                li
                    a.main-catalog__nav-main__right(href='error.html') Франшиза
