.primary-menu.primary-menu--main
    .primary-menu__catalog.primary-menu__catalog--promo
        .primary-menu__catalog_wrapper.js-dropdown-toggler
            .primary-menu__catalog-link.primary-menu__catalog-link--main
                span.burger-button--main
                | Каталог
    .primary-menu__shop
        a(href="#")
            | Интернет-магазин
    .primary-menu__center-logo
        a(href="#")
    .primary-menu__widgets
        .primary-menu__phone
            span.primary-menu__phone-item.primary-menu__phone-item--main
                a(href="tel:+74951062676") 8 (495) 106-26-76
            span.primary-menu__phone-item.primary-menu__phone-item--main
                a(href="tel:88002006734") 8 (800) 200-67-34
        .SearchMain
            label.Label.Label_Icon.SearchMain-Icon(for='searchMain' onclick="searchShow()")
            input.Input.SearchMain-Input(type="search" id="searchMain" name="searchMain" placeholder="Поиск по сайту")
            span.Input_Button_Cancel(onclick="searchClose()")
            .search.search_hide.search_main
                .search__content.search__content_header
                    section.search__address
                        h4.search__head Продукция
                        a.search__text.search__link.search__link_header(href="#") Кислородный концентратор Armed (Армед) 8F-1
                        a.search__text.search__link.search__link_header(href="#") Концентратор кислорода Armed (Армед) 8F-1 (бук)
                        a.search__text.search__link.search__link_header(href="#") Концентратор кислорода Armed (Армед) LF-H-10A
                        a.search__text.search__link.search__link_header(href="#") Концентратор кислорода Armed (Армед) 7F-5
                        a.search__text.search__link.search__link_header(href="#") Концентратор кислорода Armed (Армед) 8F-5
                        a.search__text.search__link.search__link_header(href="#") Кислородный концентратор Armed (Армед) 8F-1
                        a.search__text.search__link.search__link_header(href="#") Кислородный концентратор Armed (Армед) 8F-1
                        a.search__text.search__link.search__link_header(href="#") Кислородный концентратор Armed (Армед) 8F-1
                    section.search__address
                        h4.search__head Категории
                        a.search__text.search__link.search__link_header(href="#") Кислородные концентраторы (17)
                        a.search__text.search__link.search__link_header(href="#") Расходные материалы для кислородных концентрат...
                        a.search__text.search__link.search__link_header(href="#") Кислородные концентраторы (17)
                    section.search__address
                        h4.search__head
                        a.search__text.search__link.search__link_header(href="#") Запчасти (17)
        a(href="http://wp.armed.ru/my-account/").primary-menu__icon-item.primary-menu__icon-item_personal
        .primary-menu__catalog--main
            .primary-menu__catalog_wrapper--menu
                .primary-menu__catalog-link.primary-menu__catalog-link--menu
                    | Меню
                    span.burger-button_main


.main-catalog.main-catalog--left
    .main-catalog__wrapper.main-catalog__wrapper--left
        .main-catalog__close.main-catalog__close--left
            a(href="#")
                span.Button-Icon.Button-Icon_CancelBig
                | Закрыть
        .main-catalog__nav
            ul
                li
                    a(href='http://wp.armed.ru/shop/')
                        | Медицинское оборудование и сопутствующие товары
                li
                    a(href='http://wp.armed.ru/shop/')
                        | Лабораторное оборудование
                li
                    a(href='http://wp.armed.ru/shop/') Медицинская мебель
                li
                    a(href='http://wp.armed.ru/shop/') Приспособления для ухода и помощи в быту
                li
                    a(href='http://wp.armed.ru/shop/') Домашняя медтехника
                li
                    a(href='http://wp.armed.ru/shop/') Товары для спорта и отдыха
                li
                    a(href='http://wp.armed.ru/shop/') Ортопедические изделия и антиварикозное белье
                li
                    a(href='http://wp.armed.ru/shop/') Запчасти
                li
                    a(href='http://wp.armed.ru/shop/') Рекламные материалы
.main-catalog.main-catalog--right
    .main-catalog__wrapper.main-catalog__wrapper--right
        .main-catalog__close.main-catalog__close--right
            a(href="#")
                span.Button-Icon.Button-Icon_CancelBig
                | Закрыть
        .main-catalog__nav
            ul
                li
                    a(href='http://wp.armed.ru/shop/')
                        | Для дома
                li
                    a(href='http://wp.armed.ru/shop/')
                        | Для близких
                li
                    a(href='http://wp.armed.ru/shop/') Для медицинский учреждений
                li
                    a(href='http://wp.armed.ru/shop/') Комментарии
