.container
  &-prcard
    max-width: 1000px
  &-fixedcard
    max-width: 366px
    padding: 15px
.prcard-title
  margin-bottom: 20px
  h2
    line-height: .9em
    letter-spacing: 0.05em
    color: #4f4f4f
    padding-left: 7px
    font:
      family: $fontFamilyAdditionally
      size: 2.3em
      weight: normal
    text:
      transform: uppercase
      align: left
    border-left: 3px solid #c62828
  &--options
    color: #c62828
    font:
      size: 14px
      weight: 500
    letter-spacing: 2.2px
.prcard
  background: #ffffff

#video,
#advantages,
#reviews,
#set,
#detail
  padding-top: 118px
  margin-top: -118px
#view
  padding-top: 151px
  margin-top: -127px
  //&:after
    //position: absolute
    //background: red
   // width: 50px
    //display: block
    //content: ''
    //height: 55px
    //left: 0
@import "anchor/anchor"
@import "view/view"
@import "advantages/advantages"
@import "video/video"
@import "detail/detail"
@import "set/set"
@import "reviews/reviews"
@import "reviews/form"
@import "same/same"
@import "widget/widget"
@import "Documents/Documents"
