section.Training.PromoBusines-Section
    img.Training-Image(src="images/Promo/Training.png" alt="")
    .Training-TextBlock.PromoBusines-TextBlock
        h2.Training-Header.PromoBusines-Header Бесплатное обучение ваших сотрудников
        p.Training-Text.PromoBusines-Text
            | Для своих партнеров мы регулярно проводим обучение правильным продажам нашего оборудования, как вживую - в нашем шоуруме, так и дистанционно – в формате интерактивных вебинаров
        a.Training-Link.PromoBusines-Link(href="#") Узнать подробности