#view
    .view
        .prcard-title
            h2 Концентратор кислорода "8F-1"&nbsp;
                span.prcard-title--options
                    | с выходом для ингаляций
        .view__wrapper
            .view__inner-slider
                .product__tool.view__tooltip
                    .product__rib.product__rib_new
                        p NEW
                    .product__rib.product__rib_hit
                        p ХИТ
                    .product__rib.product__rib_present
                        span.Button-Icon.Button-Icon_PresnetWhite-mini
                .view-slider-main
                    .view-slider-main__image
                        //.product__tool
                            .product__rib.product__rib_new
                            .product__rib.product__rib_hit
                            .product__rib.product__rib_present
                        img(src="images/quickview/quickview_slider_main.png")
                    .view-slider-main__image
                        //.product__tool
                            .product__rib.product__rib_new
                            .product__rib.product__rib_hit
                            .product__rib.product__rib_present
                        img(src="images/quickview/quickview_slider_2.png")
                    .view-slider-main__image
                        //.product__tool
                            .product__rib.product__rib_new
                            .product__rib.product__rib_hit
                            .product__rib.product__rib_present
                        img(src="images/quickview/quickview_slider_3.png")
                    .view-slider-main__image
                        //.product__tool
                            .product__rib.product__rib_new
                            .product__rib.product__rib_hit
                            .product__rib.product__rib_present
                        img(src="images/quickview/quickview_slider_4.png")
                    .view-slider-main__image
                        //.product__tool
                            .product__rib.product__rib_new
                            .product__rib.product__rib_hit
                            .product__rib.product__rib_present
                        img(src="images/quickview/quickview_slider_1.png")
                .view-slider-bottom
                    .view-slider-bottom__image
                        img(src="images/quickview/quickview_slider_1.png")
                    .view-slider-bottom__image
                        img(src="images/quickview/quickview_slider_2.png")
                    .view-slider-bottom__image
                        img(src="images/quickview/quickview_slider_3.png")
                    .view-slider-bottom__image
                        img(src="images/quickview/quickview_slider_4.png")
                    .view-slider-bottom__image
                        img(src="images/quickview/quickview_slider_main.png")
            .view__inner-description
                .view__item-about
                    //.view__item-about--special
                        .view__item-about--special__body
                            ul
                                li
                                    span
                                        | Особенность 1
                                li
                                    span
                                        | Особенность
                                li
                                    span
                                        | Особенность 3
                    p.view__item-about--text
                        | Кислородный концентратор Armed (Армед) 8F-1 - это простой, компактный и эргономичный концентратор, производящий воздушную смесь с концентрацией кислорода до 93%. Его производительности хватает для проведения сеансов профилактической кислородотерапии, а также проведения сеансов кислородной ароматерапии. Идеальный вариант для домашнего использования.

                        //a(href="#").view__item-about--link
                        //    | Подробнее
                .view__inner-feature
                    .view__item-feature__text
                        .view__item-feature__text-name.view-feature-title
                            p Характеристики:
                        .view__item-feature__text-value.view-feature-title
                            a(href="#detail") Все характеристики

                    include ../../pr_card/detail/detailData
                    each item in detailData
                        .view__item-feature__text

                            .view__item-feature__text-name
                                p Габариты
                            .view__item-feature__text-value
                                p #{item.dimensions}
                        .view__item-feature__text
                            .view__item-feature__text-name
                                p Воздушный поток на выходе
                            .view__item-feature__text-value
                                p #{item.airflow}
                        .view__item-feature__text
                            .view__item-feature__text-name
                                p Уровень шума
                            .view__item-feature__text-value
                                p #{item.noiselevel}
                        .view__item-feature__text
                            .view__item-feature__text-name
                                p Гарантия
                            .view__item-feature__text-value
                                p 3 года
                        .view__item-feature__text
                            .view__item-feature__text-name
                                p Срок службы
                            .view__item-feature__text-value
                                p #{item.lifetime}
                .view__inner-color
                    h5.description-item_title Другие варианты товара
                    p.description-item_text Цвет
                    .quickview-inner_color-box
                        a.quickview-item_color-link
                            img.quickview-item_color-image(src='images/quickview/quickview_color_1.png')
                        a.quickview-item_color-link
                            img.quickview-item_color-image(src='images/quickview/quickview_color_2.png')
                        a.quickview-item_color-link
                            img.quickview-item_color-image(src='images/quickview/quickview_color_3.png')
                        a.quickview-item_color-link
                            img.quickview-item_color-image(src='images/quickview/quickview_color_4.png')
                .view__inner-size
                    //тут блок для размера//
                    p.description-item_text Размер
                    .quickview-inner_size-box
                        a.quickview-item_size-link 20x20
                        a.quickview-item_size-link 40x40
                        a.quickview-item_size-link 70x70
                        a.quickview-item_size-link 120x30