.copyright
    .copyright__wrapp
        .copyright__list.social
            a.social__element.social__element_vk-md.social__element_md.social__link(href="#")
            a.social__element.social__element_fb-md.social__element_md.social__link(href="#")
            a.social__element.social__element_od-md.social__element_md.social__link(href="#")
            a.social__element.social__element_in-md.social__element_md.social__link(href="#")
            a.social__element.social__element_you-md.social__element_md.social__link(href="#")

        p.copyright__copy-text Copyright 2017 © Армед
        p.copyright__text
            | ОБРАЩАЕМ ВАШЕ ВНИМАНИЕ, что данный интернет-сайт и материалы,
            |размещенные на нем, носят исключительно информационный характер
            |и ни при каких условиях не являются публичной офертой, определяемой
            |положениями статьи 437 Гражданского кодекса РФ.
