.catalog__asside
    p.catalog__asside-head Уточнить раздел
    menu.catalog__asside-menu
        a.catalog__asside-link(href="catalog_tov.html") Кислородные концентраторы
            span.catalog__asside-count &nbsp15
        a.catalog__asside-link(href="catalog_tov.html") Коктейлеры
            span.catalog__asside-count &nbsp65
        a.catalog__asside-link(href="catalog_tov.html") Сопутствующие товары
            span.catalog__asside-count &nbsp78
        a.catalog__asside-link(href="catalog_tov.html") Увлажнитили кислорода
            span.catalog__asside-count &nbsp1
        a.catalog__asside-link(href="catalog_tov.html") Пульсоксиметры
            span.catalog__asside-count &nbsp19
        a.catalog__asside-link(href="catalog_tov.html") Аппараты для дыхательной терапии
            span.catalog__asside-count &nbsp99

    p.catalog__asside-head Фильтры по параметрам


    .FilterTabs
        ul.FilterTabs-List
            li.FilterTabs-Item
                a.FilterTabs-Link.catalog__asside-text(href="#FilterTab1") Розничная цена
                    span.catalog__asside-arrow
                .FilterTabs-Tab#FilterTab1
                    .catalog__asside-amountWrap
                        label.catalog__asside-label(for="amountMin") От:
                            input.catalog__asside-input#amountMin
                        label.catalog__asside-label(for="amountMax") До:
                            input.catalog__asside-input#amountMax
                    .catalog__asside-range#assideRange
            li.FilterTabs-Item
                a.FilterTabs-Link.catalog__asside-text(href="#FilterTab2") Производитель
                    span.catalog__asside-arrow
                .FilterTabs-Tab#FilterTab2
                    select.catalog__asside-select
                        option.catalog__asside-option(value="") Sony
                        option.catalog__asside-option(value="") Apple
                        option.catalog__asside-option(value="") Sumsung
                        option.catalog__asside-option(value="") Nokia
                        option.catalog__asside-option(value="") Meizu
            li.FilterTabs-Item
                a.FilterTabs-Link.catalog__asside-text(href="#FilterTab3") Производитель
                    span.catalog__asside-arrow
                .FilterTabs-Tab#FilterTab3
                    .catalog__asside-check
                        label.control.control-checkbox.FilterTabs-Label(for="filter1")
                            input.check__form-input--checkbox(type="checkbox" name="company" id="filter1")
                            .control_indicator
                            span.FilterTabs-Checkbox
                                | Apple
                                span &nbsp(15)
                        label.control.control-checkbox.FilterTabs-Label(for="filter2")
                            input.check__form-input--checkbox(type="checkbox" name="company" id="filter2")
                            .control_indicator
                            span.FilterTabs-Checkbox
                                | Sumsung
                                span &nbsp(65)
                        label.control.control-checkbox.FilterTabs-Label(for="filter3")
                            input.check__form-input--checkbox(type="checkbox" name="company" id="filter3")
                            .control_indicator
                            span.FilterTabs-Checkbox
                                | Nokia
                                span &nbsp(99)
                        label.control.control-checkbox.FilterTabs-Label(for="filter4")
                            input.check__form-input--checkbox(type="checkbox" name="company" id="filter4")
                            .control_indicator
                            span.FilterTabs-Checkbox
                                | Sony
                                span &nbsp(1)
            li.FilterTabs-Item
                a.FilterTabs-Link.catalog__asside-text(href="#FilterTab4") Производитель
                    span.catalog__asside-arrow
                .FilterTabs-Tab#FilterTab4
                    .catalog__asside-toggleWrap.toggle
                        .catalog__asside-toggle.toggle__item
                            input.catalog__asside-toggleInput.toggle__input(type="checkbox" name="toggle1" id="toggle1")
                            label.catalog__asside-toggleLabel.toggle__label(for="toggle1" data-id="Apple")
                        .catalog__asside-toggle.toggle__item
                            input.catalog__asside-toggleInput.toggle__input(type="checkbox" name="toggle1" id="toggle2")
                            label.catalog__asside-toggleLabel.toggle__label(for="toggle2" data-id="Nokia")
                        .catalog__asside-toggle.toggle__item
                            input.catalog__asside-toggleInput.toggle__input(type="checkbox" name="toggle1" id="toggle3")
                            label.catalog__asside-toggleLabel.toggle__label(for="toggle3" data-id="Sony")
                        .catalog__asside-toggle.toggle__item
                            input.catalog__asside-toggleInput.toggle__input(type="checkbox" name="toggle1" id="toggle4")
                            label.catalog__asside-toggleLabel.toggle__label(for="toggle4" data-id="Lenovo Apple Lenovo")




//

    a(href="#")



    a(href="#")



    a(href="#")



    a(href="#")


