-
    var cat1 = [
    {
    "name": "Микроскопы",
    "link": "catalog_fiz.html",
    "image": "images/Header/catalog/drop-item1.jpg"
    },
    {
    "name": "Центрифуги и лабораторные",
    "link": "catalog_fiz.html",
    "image": "images/Header/catalog/drop-item2.jpg"
    },
    {
    "name": "Аквадистилляторы",
    "link": "catalog_fiz.html",
    "image": "images/Header/catalog/drop-item3.jpg"
    },
    {
    "name": "Водные бани",
    "link": "catalog_fiz.html",
    "image": "images/Header/catalog/drop-item4.jpg"
    },
    {
    "name": "Нагревательные плиты",
    "link": "catalog_fiz.html",
    "image": "images/Header/catalog/drop-item5.jpg"
    },
    {
    "name": "Встряхиватели и магнитные мешалки",
    "link": "catalog_fiz.html",
    "image": "images/Header/catalog/drop-item6.jpg"
    }];