-
    var cat1 = [
    {
    "name": "Микроскопы",
    "link": "#",
    "image": "images/Header/catalog/dropdown-catalog__img-item--1.jpg"
    },
    {
    "name": "Центрифуги и лабораторные",
    "link": "#",
    "image": "images/Header/catalog/dropdown-catalog__img-item--2.jpg"
    },
    {
    "name": "Аквадистилляторы",
    "link": "#",
    "image": "images/Header/catalog/dropdown-catalog__img-item--3.jpg"
    },
    {
    "name": "Водные бани",
    "link": "#",
    "image": "images/Header/catalog/dropdown-catalog__img-item--4.jpg"
    },
    {
    "name": "Нагревательные плиты",
    "link": "#",
    "image": "images/Header/catalog/dropdown-catalog__img-item--5.jpg"
    },
    {
    "name": "Встряхиватели и магнитные мешалки",
    "link": "#",
    "image": "images/Header/catalog/drop-item-6.jpg"
    }];