-
    var categories = [
    {
    "name":"Медицинское оборудование и сопутствующие",
    "id": "cat1",
    "link": "catalog_fiz.html",
    },
    {
    "name":"Лабораторное оборудование",
    "id": "cat2",
    "link": "catalog_fiz.html"
    },
    {
    "name":"Медицинская мебель",
    "id": "cat3",
    "link": "catalog_fiz.html"
    },
    {
    "name":"Технические средства реабилитации",
    "id": "cat4",
    "link": "catalog_fiz.html"
    },
    {
    "name":"Приспособления для ухода и помощи в быту",
    "id": "cat5",
    "link": "catalog_fiz.html"
    },
    {
    "name":"Домашняя медтехника",
    "id": "cat6",
    "link": "catalog_fiz.html"
    },
    {
    "name":"Товары для спорта и отдыха",
    "id": "cat7",
    "link": "catalog_fiz.html"
    },
    {
    "name":"Ортопедические изделия и антиварикозное белье",
    "id": "cat8",
    "link": "catalog_fiz.html"
    },
    {
    "name":"Запчасти",
    "id": "cat9",
    "link": "catalog_fiz.html"
    },
    {
    "name":"Рекламные материалы",
    "id": "cat10",
    "link": "catalog_fiz.html"
    }];