-
    var categories = [
    {
    "name":"Медицинское оборудование и сопутствующие",
    "id": "cat-1",
    "link": "#"
    },
    {
    "name":"Лабораторное оборудование",
    "id": "cat-2",
    "link": "#"
    },
    {
    "name":"Медицинская мебель",
    "id": "cat-3",
    "link": "#"
    },
    {
    "name":"Технические средства реабилитации",
    "id": "cat-4",
    "link": "#"
    },
    {
    "name":"Приспособления для ухода и помощи в быту",
    "id": "cat-5",
    "link": "#"
    },
    {
    "name":"Домашняя медтехника",
    "id": "cat-6",
    "link": "#"
    },
    {
    "name":"Товары для спорта и отдыха",
    "id": "cat-7",
    "link": "#"
    },
    {
    "name":"Ортопедические изделия и антиварикозное белье",
    "id": "cat-8",
    "link": "#"
    },
    {
    "name":"Запчасти",
    "id": "cat-9",
    "link": "#"
    },
    {
    "name":"Рекламные материалы",
    "id": "cat-10",
    "link": "#"
    }];