#modal_PickList.modal
    .modal__content_pickList.modal__content
        span#close_PickList.modal__close
        h3.modal__head Где купить Самовывоз
        main.modal__pickList-list
            include pickList/pickList