section.card.card_present
    .card_present__mod1
        img.card__image.card_present__image(src="images/Card/vstryah.png" alt="Изображение подарка")
        a.card__link.card_present__link(href="#") Коктейлер (сосуд) кислородный "Armed" LDPE BAG
    button.Button.Button_Color_Not.Button_Size_Sm
        span.Button-Text.Button-Text_Color_Black
            span.Button-Icon.Button-Icon_Present
            |Выбрать
    //a.card_present__button(href="#") Выбрать
        span.card__icon.card_present__icon
    p.card_present__selected
        span.card__icon.card_present__selected-icon
        sapn.card_present__selected-text Выбрано
    a.card__icon.card__icon_heart(href="#")
    a.card__icon.card__icon_comparison(href="#")

