.fluent
    .fluent__wrapper
        .fluent__inner.fluent__inner-background.background-business
        .fluent__inner.fluent__inner-background.background-home
        .fluent__inner.fluent__inner-background.background-care
        .fluent__inner.fluent__inner-background.background-pro
        .fluent__inner.fluent__inner-preview
            .fluent__item.fluent__item-info
                .fluent__info.fluent__info-business.bg-on
                    h2
                        | Business
                    h3
                        | Юридическим лицам
                    hr
                    p
                        | Работа с компанией «Армед» - это целый комплекс выгод, начиная с доступной стоимости и широкого ассортимента продукции и заканчивая высочайшим уровнем сервиса и эффективной рекламной поддержкой
                    a(href="promo_bus.html")
                        | Подробнее
                .fluent__info.fluent__info-home
                    h2
                        | Home
                    h3
                        | Для дома
                    hr
                    p
                        | Огромный выбор функциональной медицинской техники для дома. Наша продукция не только полезна для всей семьи, но и отлично впишется в любой домашний интерьер благодаря стильному дизайну
                    a(href="#")
                        span
                            | Подробнее
                .fluent__info.fluent__info-care
                    h2
                        | Care
                    h3
                        | Забота о близких
                    hr
                    p
                        | Мы заботимся о тех, кто особенно в этом нуждается. Широкий ассортимент кресел-колясок и многих других технических средств реабилитации с высокой функциональностью и доступными ценами
                    a(href="#")
                        span
                            | Подробнее
                .fluent__info.fluent__info-pro
                    h2
                        | Pro
                    h3
                        | Для медицинских учреждений
                    hr
                    p
                        | Мы успешно работаем с большим количеством частных и государственных медицинских учреждений. Отлично знаем нюансы работы в системах государственных закупок по 44-ФЗ и 223-ФЗ
                    a(href="#")
                        span
                            | Подробнее
            .fluent__item.fluent__item-card.fluent__item-business.fluent__active#fluentBusiness
                h4
                    | Business
                span
                    | Юридическим лицам
                hr
            .fluent__item.fluent__item-card.fluent__item-home#fluentHome
                h4
                    | Home
                span
                    | Для дома
                hr
            .fluent__item.fluent__item-card.fluent__item-care#fluentCare
                h4
                    | Care
                span
                    | Забота о близких
                hr
            .fluent__item.fluent__item-card.fluent__item-pro#fluentPro
                h4
                    | Pro
                span
                    | Для медицинских учреждений
                hr
