.ContainerNews
    .title-h2
        h2
            | Популярное лекарство повышает риск рака в 7 раз
    .ContainerNews-Wrapper(style="background-image: url(\"../images/news/news-bg.png\")")
        .ContainerNews-Body
            .ContainerNews-Data
                p.ContainerNews-Data_Text
                    span.ContainerNews-Data_Icon
                    | 22.22.2012


            .ContainerNews-Information
                p 
                    | Новое исследование ученых из Университета Южной Дании (University of Southern Denmark) и Датского онкологического общества (Danish Cancer Society) доказало, что популярное средство от гипертонии увеличивает риск развития рака кожи в несколько раз. Датские исследователи обратили внимание на препараты от повышенного давления, содержащие гидрохлоротиазид.
                h6 
                    | Невероятно высокий риск
                p 
                    | Исследование, в котором приняли около 80 000 датчан, страдающих от рака кожи, показало, что применение гидрохлоротиазида увеличивает риск развития рака почти в 7 раз. В ходе работы исследователи выявили четкую связь между использованием гидрохлоротиазида и вероятностью развития плоскоклеточной карциномы. Для чистоты эксперимента ученые проверили и другие средства от высокого давления, но ни одно из них не показало связи с развитием рака.
                p 
                    | «Мы знали, что гидрохлоротиазид сделал кожу более уязвимой для повреждения ультрафиолетовыми лучами, но для нас явилось очень неприятным открытием то, что долговременное использование этого средства многократно увеличивает риск развития рака кожи», - рассказал профессор Энтон Поттегорд (Anton Pottegård) из Университета Южной Дании.
                h6 
                    | Риск ухудшения
                p 
                    | Существует несколько типов рака кожи. Плоскоклеточная карцинома, с развитием которой ученые связывают применение гидрохлоротиазида, имеет несложное лечение и довольно низкую смертность. Однако в любом случае лечение должно быть оперативным, что влечет определенные риски.
                ul 
                    li
                        span
                            | Гидрохлоротиазид является одним из наиболее часто используемых
                    li
                        span
                            | Гидрохлоротиазид является одним из наиболее часто используемых
                    li
                        span
                            | Гидрохлоротиазид является одним из наиболее часто используемых
                    li
                        span
                            | Гидрохлоротиазид является одним из наиболее часто используемых
                p 
                    | «Не следует прерывать лечение без предварительной консультации в медучреждении. Однако, если вы для лечения гипертонии используете гидрохлоротиазид, вам нужно побыстрее поговорить с вашим лечащим врачом, чтобы узнать, можно ли выбрать другое лекарство», - отметил Энтон Поттегорд.
                p 
                    | Ученые продлжают изучать связь между применением гидрохлоротиазида и раком кожи. Кроме того, они уже известили о результатах своих исследований соответствующие медицинские компании, а также Датское агентство по лекарственным средствам.
                img.news-image-full(src="images/news/middle-img.png")
                p
                    | Новое исследование ученых из Университета Южной Дании (University of Southern Denmark) и Датского онкологического общества (Danish Cancer Society) доказало, что популярное средство от гипертонии увеличивает риск развития рака кожи в несколько раз. Датские исследователи обратили внимание на препараты от повышенного давления, содержащие гидрохлоротиазид.
                p
                    | «Мы знали, что гидрохлоротиазид сделал кожу более уязвимой для повреждения ультрафиолетовыми лучами, но для нас явилось очень неприятным открытием то, что долговременное использование этого средства многократно увеличивает риск развития рака кожи», - рассказал профессор Энтон Поттегорд (Anton Pottegård) из Университета Южной Дании.
                img.news-image-left(src="images/news/10.png", style="float: left;")
                h6
                    | Невероятно высокий риск
                p
                    | Исследование, в котором приняли около 80 000 датчан, страдающих от рака кожи, показало, что применение гидрохлоротиазида увеличивает риск развития рака почти в 7 раз. В ходе работы исследователи выявили четкую связь между использованием гидрохлоротиазида и вероятностью развития плоскоклеточной карциномы. Для чистоты эксперимента ученые проверили и другие средства от высокого давления, но ни одно из них не показало связи с развитием рака.
                p
                    | «Мы знали, что гидрохлоротиазид сделал кожу более уязвимой для повреждения ультрафиолетовыми лучами, но для нас явилось очень неприятным открытием то, что долговременное использование этого средства многократно увеличивает риск развития рака кожи», - рассказал профессор Энтон Поттегорд (Anton Pottegård) из Университета Южной Дании.
                .clearfix
                p
                    | «Мы знали, что гидрохлоротиазид сделал кожу более уязвимой для повреждения ультрафиолетовыми лучами, но для нас явилось очень неприятным открытием то, что долговременное использование этого средства многократно увеличивает риск развития рака кожи», - рассказал профессор Энтон Поттегорд (Anton Pottegård) из Университета Южной Дании.
                table
                    tr
                        th
                            | Размер/окружность, см
                        td
                            | 1
                        td
                            | 2
                        td
                            | 3
                        td
                            | 4
                        td
                            | 5
                        td
                            | 6
                    tr
                        th
                            | Размер обуви
                        td
                            | 46-56
                        td
                            | 90-20
                        td
                            | 46-56
                        td
                            | 90-20
                        td
                            | 46-56
                        td
                            | 90-20
            .ContainerNews-Footer
                .ContainerNews-Footer_Tags
                    p
                        | Тэги:&nbsp;
                    a(href="#")
                        | Fusce
                    span
                        |,&nbsp;
                    a(href="#")
                        | Vitae
                    span
                        | ,&nbsp;
                    a(href="#")
                        | Tincidunt
                .ContainerNews-Footer_Social
                    p
                        | Поделиться:
                    a(href="#").ContainerNews-Footer_Social-vk
                    a(href="#").ContainerNews-Footer_Social-fb
                    a(href="#").ContainerNews-Footer_Social-ok
                    a(href="#").ContainerNews-Footer_Social-tw
                    a(href="#").ContainerNews-Footer_Social-tg
            .ContainerNews-Gallery#NewsGallery
            .ContainerNews-ButtonGroup
                a.Button.Button_Color_NotColor.Button_Size_XL
                    span.Button-Text.Button-Text_Size_L.Button-Text_Uppercase
                        span.Button-Icon.Button-Icon_ArrowRedLeft
                        | Предыдущая
                a(href="news_dashboard.html").Button.Button_Color_Red.Button_Size_XL
                    span.Button-Text.Button-Text_Color_White.Button-Text_Uppercase.Button-Text_Size_L
                        | Все новости
                a.Button.Button_Color_NotColor.Button_Size_XL
                    span.Button-Text.Button-Text_Size_L.Button-Text_Uppercase
                        | Следующая
                        span.Button-Icon.Button-Icon_ArrowRedRight