menu.asside_left
    li.asside_left__item
        a.asside_left__link(href="lk_index.html")
            span.asside_left__icon.asside_left__icon_index
            | Главная
    li.asside_left__item
        a.asside_left__link(href="lk_orders.html")
            span.asside_left__icon.asside_left__icon_orders
            | Заказы
    li.asside_left__item
        a.asside_left__link(href="error.html")
            span.asside_left__icon.asside_left__icon_document
            | Документы
    //li.asside_left__item
        a.asside_left__link(href="lk_service.html")
            span.asside_left__icon.asside_left__icon_service
            | Cервис
    li.asside_left__item
        a.asside_left__link(href="lk_profile.html")
            span.asside_left__icon.asside_left__icon_profile
            | Профиль
    li.asside_left__item
        a.asside_left__link(href="lk_edit.html")
            span.asside_left__icon.asside_left__icon_company
            | Профиль компаниии
    li.asside_left__item
        a.asside_left__link(href="lk_pricelist.html")
            span.asside_left__icon.asside_left__icon_settings
            | Прайс лист
