.BunnerBusines
  background-image: url("images/BunnresBusines/Background1.jpg")
  background-repeat: no-repeat
  width: 100%
  height: 100vh
  overflow-x: hidden

  &-Wrap
    width: 1366px
    margin: 0 auto
    display: flex
    align-items: center
    position: relative
    padding-top: 340px;
  &-Images
    width: 816px
    height: 693px
    opacity: 0
    position: absolute
    top: 183px
    right: -47px
  &-Text
    margin-left: 4px
  &-Head
    font-family: 'Rubik'
    font-size: 43px
    font-weight: 500
    letter-spacing: 4.3px
    color: rgb(128, 120, 122)
    text-transform: uppercase
  &-SubHead
    font-family: 'Rubik'
    font-size: 26px
    color: rgb(130, 130, 130)
    font-weight: 400
    &:after
      content: ""
      position: relative
      top: 11px
      display: block
      width: 388px
      height: 1px
      background: linear-gradient(to left, rgba(189,189,189, 0),rgba(189,189,189, 1))

  &-Description
    margin-top: 46px
    width: 576px
    font-family: Rubik
    font-size: 19px
    color: rgb(79, 79, 79)
  &-Map
    position: absolute
    width: 400px
    height: 200px
    right: 330px
    top: 474px
  &-Circle
    z-index: 100
    opacity: 0
    position: absolute
    width: 8px
    height: 8px
    background-color: #D64B4B
    //border: 1px solid #D64B4B
    border-radius: 50%
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0)
    &_Size_Big
      width: 14px
      height: 14px
  &-Line
    opacity: 0
    position: absolute
    background-color: #D64B4B
    height: 1px
    transform-origin: 0 0
//box-shadow: 0 0 4px rgba(214, 75, 75, 0.85)

.tooltip
  position: absolute
  z-index: 9999
  left: -9999px
  border: 1px solid #fff
  color: #828282
  font:
  size: 13px
  background-color: #ffffff
  padding: 10px 10px
  border-radius: 5px
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1)

#City0
  top: 36px
  left: 28px
#City1
#City2
  top: 16px
  left: 45px
#City3
  top: 78px
  left: 19px
#City4
  top: 99px
  left: 51px
#City5
  top: 136px
  left: 45px
#City6
  top: 145px
  left: 69px
#City7
  top: -6px
  left: 108px
#City8
  top: -16px
  left: 190px
#City9
  left: 150px
  top: 15px
#City10
  top: 74px
  left: 92px
#City11
  top: 50px
  left: 139px
#City12
  left: 196px
  top: 22px
#City13
  right: 139px
  top: 46px
#City14
  right: 109px
  top: 22px
#City15
  right: 99px
  top: 74px
#City16
  right: 11px
  top: 49px


#line1
  width: 51px
  transform: rotate(231deg)
  top: 44px
  left: 36px
#line2
  top: 44px
  left: 35px
  width: 41px
  transform: rotate(107deg)
#line3
  top: 54px
  left: 144px
  width: 55px
  transform: rotate(153deg)
#line4
  top: 44px
  left: 37px
  width: 62px
  transform: rotate(73deg)
#line5
  top: 44px
  left: 34px
  width: 28px
  transform: rotate(301deg)
#line6
  top: 103px
  left: 56px
  width: 39px
  transform: rotate(460deg)
#line7
  top: 140px
  left: 49px
  width: 26px
  transform: rotate(379deg)
#line8
  top: 44px
  left: 37px
  width: 107px
  transform: rotate(365deg)
#line9
  top: 54px
  left: 143px
  width: 37px
  transform: rotate(286deg)
#line10
  top: 20px
  left: 154px
  width: 48px
  transform: rotate(207deg)
#line11
  top: 54px
  left: 143px
  width: 64px
  transform: rotate(333deg)
#line12
  top: 26px
  left: 200px
  width: 39px
  transform: rotate(260deg)
#line13
  top: 26px
  left: 200px
  width: 62px
  transform: rotate(23deg)
#line14
  top: 50px
  left: 257px
  width: 39px
  transform: rotate(-39deg)
#line15
  top: 50px
  left: 257px
  width: 49px
  transform: rotate(395deg)
#line16
  top: 78px
  left: 296px
  width: 93px
  transform: rotate(-16deg)
