.BunnerBusines
  background-image: url("images/BunnresBusines/Background1.jpg")
  background-repeat: no-repeat
  width: 100%
  height: 100vh
  //overflow-x: hidden

  &-Wrap
    width: 1366px
    margin: 0 auto
    display: flex
    align-items: center
    position: relative
    padding-top: 340px;
  &-Images
    opacity: 0
    position: absolute
    top: 183px
    right: -47px
  &-Text
    margin-left: 4px
  &-Head
    font-family: 'Rubik'
    font-size: 43px
    font-weight: 500
    letter-spacing: 4.3px
    color: rgb(128, 120, 122)
    text-transform: uppercase
  &-SubHead
    font-family: 'Rubik'
    font-size: 26px
    color: rgb(130, 130, 130)
    font-weight: 400
    &:after
      content: ""
      position: relative
      top: 11px
      display: block
      width: 388px
      height: 1px
      background: linear-gradient(to left, rgba(189,189,189, 0),rgba(189,189,189, 1))

  &-Description
    margin-top: 46px
    width: 576px
    font-family: 'Rubik'
    font-size: 19px
    color: rgb(79, 79, 79)
  &-Map
    position: absolute
    width: 400px
    height: 200px
    right: 330px
    top: 474px
  &-Circle
    z-index: 100
    opacity: 0
    position: absolute
    width: 16px
    height: 16px
    background-color: #D64B4B
    //border: 1px solid #D64B4B
    border-radius: 50%
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0)
    &:hover
      + .BunnerBusines-Obl
        opacity: 1
        transition: 0.4s
  &-Line
    opacity: 0
    position: absolute
    background-color: #D64B4B
    height: 1px
    transform-origin: 0 0

  &-Obl
    opacity: 0
    position: absolute
    transition: 0.4s
//box-shadow: 0 0 4px rgba(214, 75, 75, 0.85)
.lineWrap
  position: relative
.tooltip
  position: absolute
  z-index: 9999
  left: -9999px
  border: 1px solid #fff
  color: #828282
  font:
  size: 13px
  background-color: #ffffff
  padding: 10px 10px
  border-radius: 5px
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1)

#DalVostok
  top: -291px
  right: -369px
  &-City
    top: -74px
    left: 569px
  &-Line
    top: 51px
    left: 430px
    width: 192px
    transform: rotate(-39deg)

#Sibir
  top: -164px
  right: -186px
  &-City
    top: 46px
    left: 419px
  &-Line
    top: -16px;
    left: 310px;
    width: 137px;
    -webkit-transform: rotate(-39deg);
    transform: rotate(31deg);
#Privoljsk
  top: -48px
  right: 141px
  &-City
    top: 0px
    left: 179px
  &-Line
    top: -28px;
    left: 130px;
    width: 65px;
    -webkit-transform: rotate(-39deg);
    transform: rotate(32deg);

#Ural
  top: -118px
  right: 16px
  &-City
    top: -25px
    left: 299px
  &-Line
    top: 8px;
    left: 190px;
    width: 120px;
    -webkit-transform: rotate(-39deg);
    transform: rotate(-12deg);

#SeverZapad
  top: -163px
  right: 53px
  &-City
    top: -82px
    left: 199px
  &-Line
    top: -28px;
    left: 125px;
    width: 92px;
    -webkit-transform: rotate(-39deg);
    transform: rotate(-30deg);

#Centr
  top: -74px
  right: 204px
  &-City
    top: -38px
    left: 119px
  &-Line
    top: 51px
    left: 430px
    width: 192px
    transform: rotate(-39deg)

#Ujnij
  top: 10px
  right: 250px
  &-City
    top: 35px
    left: 108px
  &-Line
    top: -30px;
    left: 127px;
    width: 75px;
    -webkit-transform: rotate(-39deg);
    transform: rotate(98deg);

#SeverKavkaz
  top: 47px
  right: 286px
  &-City
    top: 69px
    left: 89px
  &-Line
    top: 41px;
    left: 118px;
    width: 42px;
    -webkit-transform: rotate(-39deg);
    transform: rotate(120deg);

