.BunnerBusines
    .BunnerBusines-Wrap
        .BunnerBusines-Text
            h1.BunnerBusines-Head business
            h2.BunnerBusines-SubHead На здоровье всегда есть спрос
            p.BunnerBusines-Description Начните работать с крупнейшим производителем медицинской техники и ТСР в России и СНГ
        img.BunnerBusines-Images.BunnerBusines-MapAnimation(src="images/BunnresBusines/Map2.png")
        .BunnerBusines-Map
            i.BunnerBusines-Line.BunnerBusines-LineAnimationDalVostok#DalVostok-Line
            i.BunnerBusines-Circle.BunnerBusines-CityAnimation8#DalVostok-City.tooltipShow(title='Дальневосточный федеральный округ')
            img.BunnerBusines-Obl.BunnerBusines-OblAnimation8#DalVostok(src="images/BunnresBusines/Obl/DalVostok.png")
            i.BunnerBusines-Line.BunnerBusines-LineAnimationSibir#Sibir-Line
            i.BunnerBusines-Circle.BunnerBusines-CityAnimation7#Sibir-City.tooltipShow(title='Сибирский федеральный округ')
            img.BunnerBusines-Obl.BunnerBusines-OblAnimation7#Sibir(src="images/BunnresBusines/Obl/Sibir.png")
            i.BunnerBusines-Line.BunnerBusines-LineAnimationUral#Ural-Line
            i.BunnerBusines-Circle.BunnerBusines-CityAnimation6#Ural-City.tooltipShow(title='Уральский федеральный округ')
            img.BunnerBusines-Obl.BunnerBusines-OblAnimation6#Ural(src="images/BunnresBusines/Obl/Ural.png")
            i.BunnerBusines-Line.BunnerBusines-LineAnimationPrivoljsk#Privoljsk-Line
            i.BunnerBusines-Circle.BunnerBusines-CityAnimation5#Privoljsk-City.tooltipShow(title='Приволжский федеральный округ')
            img.BunnerBusines-Obl.BunnerBusines-OblAnimation5#Privoljsk(src="images/BunnresBusines/Obl/Privolj.png")
            i.BunnerBusines-Line.BunnerBusines-LineAnimationSeverZapad#SeverZapad-Line
            i.BunnerBusines-Circle.BunnerBusines-CityAnimation2#SeverZapad-City.tooltipShow(title='Северо-Западный федеральный округ')
            img.BunnerBusines-Obl.BunnerBusines-OblAnimation2#SeverZapad(src="images/BunnresBusines/Obl/SeveroZapad.png")
            i.BunnerBusines-Line.BunnerBusines-LineAnimation#Centr-Line
            i.BunnerBusines-Circle.BunnerBusines-CityAnimation1#Centr-City.tooltipShow(title='Центральный федеральный округ')
            img.BunnerBusines-Obl.BunnerBusines-OblAnimation1#Centr(src="images/BunnresBusines/Obl/Central.png")
            i.BunnerBusines-Line.BunnerBusines-LineAnimationUjnij#Ujnij-Line
            i.BunnerBusines-Circle.BunnerBusines-CityAnimation3#Ujnij-City.tooltipShow(title='Южный федеральный округ')
            img.BunnerBusines-Obl.BunnerBusines-OblAnimation3#Ujnij(src="images/BunnresBusines/Obl/Ujnij.png")
            i.BunnerBusines-Line.BunnerBusines-LineAnimationSeverKavkaz#SeverKavkaz-Line
            i.BunnerBusines-Circle.BunnerBusines-CityAnimation4#SeverKavkaz-City.tooltipShow(title='Севро-Кавказский федеральный округ')
            img.BunnerBusines-Obl.BunnerBusines-OblAnimation4#SeverKavkaz(src="images/BunnresBusines/Obl/SeverKavkaz.png")







