.BunnerBusines
    .BunnerBusines-Wrap
        .BunnerBusines-Text
            h1.BunnerBusines-Head business
            h2.BunnerBusines-SubHead На здоровье всегда есть спрос
            p.BunnerBusines-Description Начните работать с крупнейшим производителем медицинской техники и ТСР в России и СНГ
        img.BunnerBusines-Images.BunnerBusines-MapAnimation(src="images/BunnresBusines/Map1.png")
        .BunnerBusines-Map
            sapn.BunnerBusines-Circle.BunnerBusines-Circle_Size_Big#City0.BunnerBusines-CityAnimation.tooltipShow(title="Название города")
            span.BunnerBusines-Circle#City1.BunnerBusines-CityAnimation_1.tooltipShow(title="Название города")
            span.BunnerBusines-Circle#City2.BunnerBusines-CityAnimation_1.tooltipShow(title="Название города")
            span.BunnerBusines-Circle#City3.BunnerBusines-CityAnimation_1.tooltipShow(title="Название города")
            span.BunnerBusines-Circle#City4.BunnerBusines-CityAnimation_1.tooltipShow(title="Название города")
            span.BunnerBusines-Circle#City5.BunnerBusines-CityAnimation_2.tooltipShow(title="Название города")
            span.BunnerBusines-Circle#City6.BunnerBusines-CityAnimation_3.tooltipShow(title="Название города")
            span.BunnerBusines-Circle#City7.BunnerBusines-CityAnimation_3.tooltipShow(title="Название города")
            span.BunnerBusines-Circle#City8.BunnerBusines-CityAnimation_3.tooltipShow(title="Название города")
            span.BunnerBusines-Circle#City9.BunnerBusines-CityAnimation_2.tooltipShow(title="Название города")
            span.BunnerBusines-Circle#City10.BunnerBusines-CityAnimation_2.tooltipShow(title="Название города")
            span.BunnerBusines-Circle#City11.BunnerBusines-CityAnimation_1.tooltipShow(title="Название города")
            span.BunnerBusines-Circle#City12.BunnerBusines-CityAnimation_2.tooltipShow(title="Название города")
            span.BunnerBusines-Circle#City13.BunnerBusines-CityAnimation_3.tooltipShow(title="Название города")
            span.BunnerBusines-Circle#City14.BunnerBusines-CityAnimation_4.tooltipShow(title="Название города")
            span.BunnerBusines-Circle#City15.BunnerBusines-CityAnimation_4.tooltipShow(title="Название города")
            span.BunnerBusines-Circle#City16.BunnerBusines-CityAnimation_5.tooltipShow(title="Название города")

            span.BunnerBusines-Line#line1.BunnerBusines-LineAnimation1
            span.BunnerBusines-Line#line2.BunnerBusines-LineAnimation2
            span.BunnerBusines-Line#line3.BunnerBusines-LineAnimation7
            span.BunnerBusines-Line#line4.BunnerBusines-LineAnimation3
            span.BunnerBusines-Line#line5.BunnerBusines-LineAnimation4
            span.BunnerBusines-Line#line6.BunnerBusines-LineAnimation6
            span.BunnerBusines-Line#line7.BunnerBusines-LineAnimation13
            span.BunnerBusines-Line#line8.BunnerBusines-LineAnimation5
            span.BunnerBusines-Line#line9.BunnerBusines-LineAnimation9
            span.BunnerBusines-Line#line10.BunnerBusines-LineAnimation10
            span.BunnerBusines-Line#line11.BunnerBusines-LineAnimation8
            span.BunnerBusines-Line#line12.BunnerBusines-LineAnimation11
            span.BunnerBusines-Line#line13.BunnerBusines-LineAnimation12
            span.BunnerBusines-Line#line14.BunnerBusines-LineAnimation14
            span.BunnerBusines-Line#line15.BunnerBusines-LineAnimation15
            span.BunnerBusines-Line#line16.BunnerBusines-LineAnimation16