.BunnerBusines
    .BunnerBusines-Wrap
        .BunnerBusines-Text
            h1.BunnerBusines-Head business
            h2.BunnerBusines-SubHead На здоровье всегда есть спрос
            p.BunnerBusines-Description Начните работать с крупнейшим производителем медицинской техники и ТСР в России и СНГ
        img.BunnerBusines-Images.BunnerBusines-MapAnimation(src="images/BunnresBusines/Map2.png")
        .BunnerBusines-Map
            i.BunnerBusines-Circle#City1.tooltipShow(title='Калининградская область')
            img.BunnerBusines-Obl#Kalinegrad(src="images/BunnresBusines/Obl/Kalinengradskaay.png")
            i.BunnerBusines-Circle#City2.tooltipShow(title='Мурманская область')
            img.BunnerBusines-Obl#Murmanska(src="images/BunnresBusines/Obl/Murmanskaay.png")
            i.BunnerBusines-Circle#City3.tooltipShow(title='Республика Карелия')
            img.BunnerBusines-Obl#Kareliay(src="images/BunnresBusines/Obl/Kareliay.png")
            i.BunnerBusines-Circle#City4.tooltipShow(title='Ленинградская область')
            img.BunnerBusines-Obl#Leningrad(src="images/BunnresBusines/Obl/Leningradskaay.png")
            i.BunnerBusines-Circle#City5.tooltipShow(title='Псковская область')
            img.BunnerBusines-Obl#Pskovs(src="images/BunnresBusines/Obl/Pskovskaay.png")
            i.BunnerBusines-Circle#City6.tooltipShow(title='Новгородская область')
            img.BunnerBusines-Obl#Novgorodsk(src="images/BunnresBusines/Obl/Novgorodskaay.png")
            i.BunnerBusines-Circle#City7.tooltipShow(title='Тверская область')
            img.BunnerBusines-Obl#Tverska(src="images/BunnresBusines/Obl/Tverskaay.png")
            i.BunnerBusines-Circle#City8.tooltipShow(title='Смоленская область')
            img.BunnerBusines-Obl#Smolenska(src="images/BunnresBusines/Obl/Smolenskaay.png")
            i.BunnerBusines-Circle#City9.tooltipShow(title='Московская область')
            img.BunnerBusines-Obl#Moskovska(src="images/BunnresBusines/Obl/Moskovskaay.png")
            i.BunnerBusines-Circle#City10.tooltipShow(title='Калужская область')
            img.BunnerBusines-Obl#Kalujska(src="images/BunnresBusines/Obl/Kalujskaay.png")
            i.BunnerBusines-Circle#City11.tooltipShow(title='Брянская область')
            img.BunnerBusines-Obl#Braynska(src="images/BunnresBusines/Obl/Braynskaay.png")
            i.BunnerBusines-Circle#City12.tooltipShow(title='Курская область')
            img.BunnerBusines-Obl#Kurska(src="images/BunnresBusines/Obl/Kurskaay.png")
            i.BunnerBusines-Circle#City13.tooltipShow(title='Орловская область')
            img.BunnerBusines-Obl#Orlovska(src="images/BunnresBusines/Obl/Orlovskaay.png")
            i.BunnerBusines-Circle#City14.tooltipShow(title='Тульская область')
            img.BunnerBusines-Obl#Tulska(src="images/BunnresBusines/Obl/Tulskaay.png")
            i.BunnerBusines-Circle#City15.tooltipShow(title='Рязанская область')
            img.BunnerBusines-Obl#Rayzanska(src="images/BunnresBusines/Obl/Razanskaay.png")
            i.BunnerBusines-Circle#City16.tooltipShow(title='Липецкая область')
            img.BunnerBusines-Obl#Lipecka(src="images/BunnresBusines/Obl/Lipeckaay.png")
            i.BunnerBusines-Circle#City17.tooltipShow(title='Воронежская область')
            img.BunnerBusines-Obl#Voronejska(src="images/BunnresBusines/Obl/Voronejskaay.png")
            i.BunnerBusines-Circle#City18.tooltipShow(title='Белгородская область')
            img.BunnerBusines-Obl#Belgorodska(src="images/BunnresBusines/Obl/Belgorodskaay.png")
            i.BunnerBusines-Circle#City19.tooltipShow(title='Ростовская область')
            img.BunnerBusines-Obl#Rostovska(src="images/BunnresBusines/Obl/Rostovskaay.png")
            i.BunnerBusines-Circle#City20.tooltipShow(title='Краснодарский край')
            img.BunnerBusines-Obl#Krasnodarsk(src="images/BunnresBusines/Obl/Krasnodarskij.png")
            i.BunnerBusines-Circle#City21.tooltipShow(title='Карачаево-Черкесская республика')
            img.BunnerBusines-Obl#KarachChrkesk(src="images/BunnresBusines/Obl/KarachevoCherkesiay.png")
            i.BunnerBusines-Circle#City22.tooltipShow(title='Ставропольский край')
            img.BunnerBusines-Obl#Stavropolsk(src="images/BunnresBusines/Obl/Stavropoliskij.png")
            i.BunnerBusines-Circle#City23.tooltipShow(title='Республика Калмыкия')
            img.BunnerBusines-Obl#Kalmiki(src="images/BunnresBusines/Obl/Kalmikiay.png")
            i.BunnerBusines-Circle#City24.tooltipShow(title='Кабардино-Балканская республика')
            img.BunnerBusines-Obl#KabardinoBalkan(src="images/BunnresBusines/Obl/KabardinoBalkanskaay.png")
            i.BunnerBusines-Circle#City25.tooltipShow(title='Республика Северная Осетия')
            img.BunnerBusines-Obl#SeverOsetia(src="images/BunnresBusines/Obl/SevernaayOsetiay.png")
            i.BunnerBusines-Circle#City26.tooltipShow(title='Чеченская республика')
            img.BunnerBusines-Obl#Chechenska(src="images/BunnresBusines/Obl/Chechenskaay.png")
            i.BunnerBusines-Circle#City27.tooltipShow(title='Республика Дагестан')
            img.BunnerBusines-Obl#Dagestan(src="images/BunnresBusines/Obl/Dagestan.png")
            i.BunnerBusines-Circle#City28.tooltipShow(title='Астраханская область')
            img.BunnerBusines-Obl#Astrahan(src="images/BunnresBusines/Obl/Astrahanskaay.png")
            i.BunnerBusines-Circle#City29.tooltipShow(title='Волгоградская область')
            img.BunnerBusines-Obl#Volgogradska(src="images/BunnresBusines/Obl/Volgogradskaya.png")
            i.BunnerBusines-Circle#City30.tooltipShow(title='Саратовская область')
            img.BunnerBusines-Obl#Saratovska(src="images/BunnresBusines/Obl/Saratovskaay.png")
            i.BunnerBusines-Circle#City31.tooltipShow(title='Тамбовская область')
            img.BunnerBusines-Obl#Tambovska(src="images/BunnresBusines/Obl/Tambovskaay.png")
            i.BunnerBusines-Circle#City32.tooltipShow(title='Самарская область')
            img.BunnerBusines-Obl#Samarska(src="images/BunnresBusines/Obl/Samarskaay.png")
            i.BunnerBusines-Circle#City33.tooltipShow(title='Ульяновская область')
            img.BunnerBusines-Obl#Ulaynovska(src="images/BunnresBusines/Obl/Ulaynovskaay.png")
            i.BunnerBusines-Circle#City34.tooltipShow(title='Пензенская область')
            img.BunnerBusines-Obl#Penzenska(src="images/BunnresBusines/Obl/Penzenskaay.png")
            i.BunnerBusines-Circle#City35.tooltipShow(title='Республика мордовия')
            img.BunnerBusines-Obl#Mordovia(src="images/BunnresBusines/Obl/Mordoviay.png")
            i.BunnerBusines-Circle#City36.tooltipShow(title='Нижегородская область')
            img.BunnerBusines-Obl#Nihegorodska(src="images/BunnresBusines/Obl/Nijegorodskaya.png")
            i.BunnerBusines-Circle#City37.tooltipShow(title='Владимирская область')
            img.BunnerBusines-Obl#Vladimerska(src="images/BunnresBusines/Obl/Vladimirskaay.png")
            i.BunnerBusines-Circle#City38.tooltipShow(title='Ярославская область')
            img.BunnerBusines-Obl#Ayroslavska(src="images/BunnresBusines/Obl/Ayroslavskaay.png")
            i.BunnerBusines-Circle#City39.tooltipShow(title='Вологодская область')
            img.BunnerBusines-Obl#Vologodska(src="images/BunnresBusines/Obl/Vologodskaay.png")
            i.BunnerBusines-Circle#City40.tooltipShow(title='Костромская область')
            img.BunnerBusines-Obl#Kostromska(src="images/BunnresBusines/Obl/Kostromskaay.png")
            i.BunnerBusines-Circle#City41.tooltipShow(title='Ивановская область')
            img.BunnerBusines-Obl#Ivanovska(src="images/BunnresBusines/Obl/Ivanovskaay.png")
            i.BunnerBusines-Circle#City42.tooltipShow(title='Архангельская область')
            img.BunnerBusines-Obl#Arhangelska(src="images/BunnresBusines/Obl/Arhangelskaay.png")
            i.BunnerBusines-Circle#City43.tooltipShow(title='Кировская область')
            img.BunnerBusines-Obl#Kirovska(src="images/BunnresBusines/Obl/Kirovskaay.png")
            i.BunnerBusines-Circle#City44.tooltipShow(title='Республика Марий-Эл')
            img.BunnerBusines-Obl#Mariel(src="images/BunnresBusines/Obl/Mariel.png")
            i.BunnerBusines-Circle#City45.tooltipShow(title='Чувашская республика')
            img.BunnerBusines-Obl#Chuvashska(src="images/BunnresBusines/Obl/Chuvashiay.png")
            i.BunnerBusines-Circle#City46.tooltipShow(title='Республика Татарстан')
            img.BunnerBusines-Obl#Tatrstan(src="images/BunnresBusines/Obl/Tatarstan.png")
            i.BunnerBusines-Circle#City47.tooltipShow(title='Оренбургская область')
            img.BunnerBusines-Obl#Orenburgska(src="images/BunnresBusines/Obl/Orenburgskaay.png")
            