#modal_Present.modal
    .modal__content_present.modal__content
        span#close_Present.modal__close
        h3.modal__head Выбор подарка
        main.modal__present-list.mCustomScrollbar(data-mcs-theme="dark")
            -for (var i = 0; i < 25; i++)
                include ../card/card_present