.Client
    .Client-Organization
        a.Client-Item.Client-Link(href="#")
            img.Client-Foto(src="images/Header/client_foto/Foto.png" alt="Фото клиента")
            .Client-Info
                p.Client-Name Название организации
                p.Client-OrdersCount 11234 заказов
        a.Client-Item.Client-Link(href="#")
            img.Client-Foto(src="images/Header/client_foto/Foto_2.png" alt="Фото клиента")
            .Client-Info
                p.Client-Name Название организации 2
                p.Client-OrdersCount 11234 заказов
        a.Client-Item.Client-Link(href="#")
            img.Client-Foto(src="images/Header/client_foto/Foto_3.png" alt="Фото клиента")
            .Client-Info
                p.Client-Name Название организации 3
                p.Client-OrdersCount 11234 заказов
        a.Client-Item.Client-Link(href="#")
            img.Client-Foto(src="images/Header/client_foto/Foto.png" alt="Фото клиента")
            .Client-Info
                p.Client-Name Название организации 4
                p.Client-OrdersCount 11234 заказов
    .Clien-PrivateAccaunt
        p.Client-Text Личный аккаунт
        a.Client-Item.Client-Link(href="#")
            img.Client-Foto(src="images/Header/client_foto/Foto_3.png" alt="Фото клиента")
            .Client-Info
                p.Client-Name Имя клиента
                p.Client-OrdersCount 11234 заказов