.Client
  display: none
  position: absolute
  top: 50px
  right: 0
  width: 300px
  height: auto
  border: 1px solid rgba(224, 224, 224, 1)
  background-color: rgba(255, 255, 255, 1)
  &-Organization
    height: 185px

  &-Item
    display: flex
    align-items: center
    justify-content: flex-start
    padding: 10px 0 10px 5px
    border-bottom: 1px solid rgba(224, 224, 224, 1)
  &-Link
    text-decoration: none
    background-color: rgba(255, 255, 255, 0)
    &:hover
      background-color: rgba(242, 242, 242, 1)
  &-Foto
    width: 38px
    height: 38px
    border-radius: 50%
    margin-right: 5px
  &-Text
    border-top: 1px solid rgba(224, 224, 224, 1)
    border-bottom: 1px solid rgba(224, 224, 224, 1)
    text-align: center
    font-size: 1.4em
    color: rgb(189, 189, 189)
  &-Name
    font-family: Rubik
    font-size: 1.2em
    letter-spacing: 0.7px
    color: rgb(79, 79, 79)
  &-OrderCount
    color: rgb(189, 189, 189)