.StepFinish_fiz
  &__Wrap
    width: 675px
    margin: 0 auto
    text-align: center
  &__Content
    padding-bottom: 60px
  &__ChekIcon
    margin-bottom: 15px
  &__StatusBar
    width: 100%
    height: 102px
    background-image: url("images/Ordering/StatusBar__StepFinish_fiz.png")
    background-position: center center
    background-repeat: no-repeat
    margin-bottom: 40px
  &__Text
    padding: 5px 20px 5px 20px
    font-size: 1.4em
    color: #828282
    text-align: center
    margin-bottom: 10px
  &__Title
    margin: 20px 0
    font:
      family: 'Rubik'
      size: 1.8em
      weight: 500
    letter-spacing: 0.05em
    color: #4f4f4f
    text-transform: uppercase
  &__ContactWrap
    padding:  5px 40px 5px 70px
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 50px
    margin-top: 5px
  &__Link
    font-weight: 500
    font-size: 1.8em
    color: #828282
    text-decoration: none
    position: relative
    &:hover
      color: $GlobalColor
    &_Phone:before
      content: ''
      display: block
      position: absolute
      top: 0
      left: -25px
      background-image: url("images/sprite.png")
      background-position: -25px -330px
      width: 25px
      height: 25px

    &_Mail:before
      content: ''
      display: block
      position: absolute
      top: 0
      left: -30px
      background-image: url("images/sprite.png")
      background-position: 0 -330px
      width: 25px
      height: 25px
  &__Input
    background: #FFFFFF
    border: 1px solid #E0E0E0
    width: 375px
    height: 40px
    padding: 10px
    margin-bottom: 40px
  &__Button
    margin: 0 auto