section.quickview
    .quickview-wrapper_slider
            .quickview-item_slider--main
                img(src='images/quickview/quickview_slider_main.png').quickview-item_slider--main__img
            .quickview-inner_slider--group
                .quickview-item_slider--bottom
                    img(src='images/quickview/quickview_slider_1.png')
                .quickview-item_slider--bottom
                    img(src='images/quickview/quickview_slider_2.png')
                .quickview-item_slider--bottom
                    img(src='images/quickview/quickview_slider_3.png')
                .quickview-item_slider--bottom
                    img(src='images/quickview/quickview_slider_4.png')
                .quickview-item_slider--bottom
                    img(src='images/quickview/quickview_slider_3.png')

    .quickview-wrapper_description
        h4.description_title Концентратор кислорода "Armed" 8F-1
        .quickview-inner_color
            //тут блок для цвета //
            h5.description-item_title Другие варианты товара
            p.description-item_text Цвет
            .quickview-inner_color-box
                a.quickview-item_color-link
                    img.quickview-item_color-image(src='images/quickview/quickview_color_1.png')
                a.quickview-item_color-link
                    img.quickview-item_color-image(src='images/quickview/quickview_color_2.png')
                a.quickview-item_color-link
                    img.quickview-item_color-image(src='images/quickview/quickview_color_3.png')
                a.quickview-item_color-link
                    img.quickview-item_color-image(src='images/quickview/quickview_color_4.png')
        .quickview-inner_size
            //тут блок для размера//
            p.description-item_text Размер
            .quickview-inner_size-box
                a.quickview-item_size-link 20x20
                a.quickview-item_size-link 40x40
                a.quickview-item_size-link 70x70
                a.quickview-item_size-link 120x30
        .quickview-inner_feature
            h5.description-item_title Характеристики
            //тут блок характеристик//
            .quickview-item_feature-text
                .quickview-item_feature-text_name
                    p Наши предложения
                .quickview-item_feature-text_value
                    p Хит продаж / Новинка
            .quickview-item_feature-text
                .quickview-item_feature-text_name
                    p Производитель
                .quickview-item_feature-text_value
                    p  Apple
            .quickview-item_feature-text
                .quickview-item_feature-text_name
                    p Цвет
                .quickview-item_feature-text_value
                    p  Черный
            .quickview-item_feature-text
                .quickview-item_feature-text_name
                    p Гарантия
                .quickview-item_feature-text_value
                    p 18 месяцев
            .quickview-item_feature-text
                .quickview-item_feature-text_name
                    p Размер одежды
                .quickview-item_feature-text_value
                    p XS
        .quickview-inner_about
            h5.description-item_title Описание
            p.quickview-item_about-text
                | Роскошная кровать с мягким изголовьем подарит вам незабываемые сны. А стильный дизайн будет радовать глаз и прекрасно украсит любой интерьер. Роскошная кровать с мягким изголовьем подарит вам незабываемые сны. Роскошная кровать с мягким изголовьем подарит вам незабываемые сны.
            a.quickview-item_about-link
                | Подробнее...
    .quickview-wrapper_buy
        h5.description-item_title Концентратор кислорода 8F-1
        p.quickview-item_buy__vendor Артикул: 489454654898
        .quickview-inner_buy__cost
            p.quickview-item_buy__newcost
                | 1 999 385&nbsp;
                span.quickview-item_buy__newcost-symbol
                    | &#8381;
            p.quickview-item_buy__oldcost
                | 9 999 999&nbsp;
            span.quickview-item_buy__oldcost-symbol
                | &#8381;
        .quickview-inner_buy__amount
            p.quickview-item_buy__amount-title
                | Кол-во:
            .primary-menu__cart_product_volume
                span.primary-menu__cart_product_minus
                input.primary-menu__cart_product_entry.quickview_entry(type="text" value="1" disabled="disabled")
                span.primary-menu__cart_product_plus
        .quickview-inner_buy__buybutton
            button.Button.Button_Color_Red.Button_Size_Sm
                span.Button-Text.Button-Text_Color_White
                    span.Button-Icon.Button-Icon_Basket
                    |В корзину
            //button.product__button.button.button_icon.button_product
                span.button__text
                    span.button__icon.button__icon_basket
                    | В корзину
        .quickview-inner_buy__icons
            a(href="#").quickview-inner_buy__icons-like
            a(href="compare.html").quickview-inner_buy__icons-arrow
            a(href="#" data-id="Buy").modalLink.quickview-inner_buy__icons-click
        .quickview-inner_buy__delivery
            .quickview-item_buy__delivery-select
                .Select#CitySelect
                    a.Select-Head#SelectCity(href="#" data-value="None")
                        sapn.StatusOrder-Text Выберите город
                    .Select-Catalog
                        a.Select-Item(href="#" data-value="None")
                            sapn.StatusOrder-Text Не выбрано
                        a.Select-Item(href="#" data-value="Moskow")
                            sapn.StatusOrder-Text Москва
                        a.Select-Item(href="#" data-value="Balashiha")
                            sapn.StatusOrder-Text Балашиха
                        a.Select-Item(href="#" data-value="Zkorpat")
                            sapn.StatusOrder-Text Зажорпатье


                //select.quickview__select
                    option.quickview__select-option Москва
                    option.quickview__select-option Санкт-Петербург
                    option.quickview__select-option Караганда
                    option.quickview__select-option Сыктывкар
                    option.quickview__select-option Балашиха
            .quickview-item_buy__delivery-popup
                .delivery-car
                    span.delivery-car_icon
                    p.delivery-car_text
                        | Доставка:&nbsp;
                        span.changed_delivery
                            | 800 &#8381;
                .delivery-self
                    span.delivery-self_icon
                    p.delivery-self_text
                        | Самовывоз:&nbsp;
                    a.delivery-self_link.modalLink(href="#" data-id="PickList")
                        | 5 пунктов
        .quickview-inner_buy__social
            p.dilevery_header Поделиться
            .quickview-item_buy__social
                a(href="#").quickview-item_buy__social-icon__vk
                a(href="#").quickview-item_buy__social-icon__fb
                a(href="#").quickview-item_buy__social-icon__yt
                a(href="#").quickview-item_buy__social-icon__it
                a(href="#").quickview-item_buy__social-icon__tg
