section.quickview
    .quickview_wrapper-slider
        .slider.quickview_wrapper-slider.quickview_slider
            .quickview_wrapper-slider__item
                p Тут что-то
            .quickview_wrapper-slider__item
                p Тут что-то2
            .quickview_wrapper-slider__item
                p Тут что-то3
    .quickview_wrapper-description
        p Тут что-то
    .quickview_wrapper-buy
        p Тут что-то