.StepThree_Ur
  &__Wrap
    width: 1000px
    margin: 0 auto
  &__Content
    padding-bottom: 60px
  &__StatusBar
    width: 100%
    height: 100px
    background-image: url("images/Ordering/StatusBar__StepThree_Ur.png")
    background-position: center center
    background-repeat: no-repeat
    margin-bottom: 40px
  &__Head
    font-family: 'Rubik'
    font-weight: 500
    font-size: 1.8em
    text-align: center
    letter-spacing: 0.05em
    text-transform: uppercase
    margin-bottom: 30px