.StepThree_Ur
  &__Wrap
    width: 1000px
    margin: 0 auto
  &__Content
    padding-bottom: 60px
  &__StatusBar
    width: 100%
    height: 100px
    background-image: url("images/Ordering/StatusBar__StepThree_Ur.png")
    background-position: center center
    background-repeat: no-repeat
    margin-bottom: 40px
  &__Head
    font-family: 'Rubik'
    font-weight: 500
    font-size: 1.8em
    text-align: center
    letter-spacing: 0.05em
    text-transform: uppercase
    margin-bottom: 30px
  &__Form
    display: flex
    justify-content: flex-start
    align-items: flex-end
    margin-bottom: 15px
    &-Label
      display: flex
      flex-direction: column
      align-items: flex-start
      font-weight: 300
      font-size: 1.4em
      color: #828282
      margin-bottom: 10px
    &-Input
      background: #FFFFFF
      border: 1px solid #E0E0E0
      width: 375px
      height: 40px
      margin-top: 5px
      padding: 0 10px
      &_active
        border: 1px solid orange
      &:disabled
        background-color: #ccc
      &_sm
        width: 100px