.StepThree_fiz__Content
    include ../orderingHead
    .StepThree_fiz__StatusBar
    .StepThree_fiz__Wrap
        p.StepThree_fiz__Head Способ оплаты
        p.StepThree_fiz__Text Выберите удобный для вас способ оплаты:
        .StepThree_fiz__PaymentMethod
            .StepThree_fiz__PaymentMethod-Method
                input.StepThree_fiz__PaymentMethod-Input(type="radio" name="Method" id="MethodPurse")
                label.StepThree_fiz__PaymentMethod-Label.StepThree_fiz__PaymentMethod-Label_Purse(for="MethodPurse")
                p.StepThree_fiz__PaymentMethod-Text Наличный расчет
            .StepThree_fiz__PaymentMethod-Method
                input.StepThree_fiz__PaymentMethod-Input(type="radio" name="Method" id="MethodCard")
                label.StepThree_fiz__PaymentMethod-Label.StepThree_fiz__PaymentMethod-Label_Card(for="MethodCard")
                p.StepThree_fiz__PaymentMethod-Text Банковской картой
            .StepThree_fiz__PaymentMethod-Method
                input.StepThree_fiz__PaymentMethod-Input(type="radio" name="Method" id="MethodCardSame")
                label.StepThree_fiz__PaymentMethod-Label.StepThree_fiz__PaymentMethod-Label_CardSame(for="MethodCardSame")
                p.StepThree_fiz__PaymentMethod-Text Банковкской катрой при получении


            //.StepThree_fiz__PaymentMethod-Method
                .StepThree_fiz__PaymentMethod-Image.StepThree_fiz__PaymentMethod-Image_Purse
                p.StepThree_fiz__PaymentMethod-Text Наличный расчет
            //.StepThree_fiz__PaymentMethod-Method
                .StepThree_fiz__PaymentMethod-Image.StepThree_fiz__PaymentMethod-Image_Card
                p.StepThree_fiz__PaymentMethod-Text Банковской картой
            //.StepThree_fiz__PaymentMethod-Method
                .StepThree_fiz__PaymentMethod-Image.StepThree_fiz__PaymentMethod-Image_CardSame
                p.StepThree_fiz__PaymentMethod-Text Банковской картой при получении
