.detail
    .prcard-title
        h2 Характеристики:
        p.detail__table-title Прочие
    table.detail__table#detail-table
        tbody
            tr
                th
                    p.detail__table-item
                        | Наши предложени
                td
                    p.detail__table-item
                        | Хит продаж / Новинка
            tr
                th
                    p.detail__table-item
                        | Производитель
                        a.product__question.product__question-detail(href="#", title="Тут какой-то текст")
                td
                    p.detail__table-item
                        | Хит продаж / Новинка
            tr
                th
                    p.detail__table-item
                        | Гарантия
                td
                    p.detail__table-item.detail__table-item__success
                        | Есть
            tr
                th
                    p.detail__table-item
                        | Размер одежды
                td
                    p.detail__table-item.detail__table-item__fail
                        | Нет
    p.detail__table-title Основные характеристики
        table.detail__table
            tbody
                tr
                    th
                        p.detail__table-item
                            | Наши предложени
                    td
                        p.detail__table-item
                            | Хит продаж / Новинка
