-
    var detailData = [
    {
    "name" : "Концентратор кислорода \"Armed\" 8F-1",
    "cost" : "25 990",
    "oldcost" : "28 000",
    "image" : "images/CompareData/conc_1.jpg",
    "dimensions" : "280х175х300 мм",
    "airflow" : "0-5 л/мин",
    "noiselevel" : "35 дБ",
    "power" : "100 Вт",
    "networkfrequency" : "50 Гц",
    "networkpower" : "220 ± 22 В",
    "operatingtime" : "3-5 мин",
    "volumeofhumidifier" : "250 мл",
    "rangeoftheremotecontrol" : "5 м",
    "lifetime" : "10 лет"
    }]