.MiniBanner
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  &_Color_Default
    background-color: rgb(250, 250, 250)
  &_Color_IceBlue
    background-color: rgb(235, 248, 255)
  &_Color_White
    background-color: rgb(250, 250, 250)
  &_Color_VeryLightPink
    background-color: rgb(255, 242, 242)
  &_Color_PaleGrey
    background-color: rgb(225, 242, 239)
  &_Color_OffWhite
    background-color: rgb(255, 250, 232)
  &-Head
    width: 90%
    text-align: center
    text-transform: uppercase
    font-family: 'Rubik'
    font-size: 17px
    font-weight: 500
    letter-spacing: 2.6px
    &Additionally
      margin-left: 5px
      &_Color_Red
        color: $GlobalColor
      &_Color_Peach
        color: rgb(255, 177, 120)
    &_Color_TealBlue
      color: rgb(0, 151, 166)
    &_Color_GreyishBroun
      color: rgb(79, 79, 79)
    &_Color_Grapefruit
      color: rgb(255, 99, 99)
    &_Color_GreenyBlue
      color: rgb(78, 191, 157)

  &-Description
    text-align: center
    margin-top: 5px
    font-family: 'Rubik'
    text-transform: uppercase
    font-size: 11px
    letter-spacing: 0.6px
    color: rgb(130, 130, 130)