-
    var PriceData = [
        {
            "name" : "Концентратор кислорода \"Armed\" 7F-1L",
            "costRRC" : "25 990",
            "costMin" : "20 200",
            "presence" : 1,
            "id" : "id1"
        },
        {
            "name" : "Концентратор кислорода \"Armed\" 8F-1",
            "costRRC" : "25 990",
            "costMin" : "20 200",
            "presence" : 1,
            "id" : "id2"
        },
        {
            "name" : "Концентратор кислорода \"Armed\" 7F-3L",
            "costRRC" : "33 400",
            "costMin" : "29 900",
            "presence" : 1,
            "id" : "id3"
        },
        {
            "name" : "Концентратор кислорода \"Armed\" 7F-5",
            "costRRC" : "44 590",
            "costMin" : "39 100",
            "presence" : 1,
            "id" : "id4"
        },
        {
            "name" : "Концентратор кислорода \"Armed\" 7F-5L",
            "costRRC" : "44 590",
            "costMin" : "39 100",
            "presence" : 1,
            "id" : "id5"
        },
        {
            "name" : "Концентратор кислорода \"Armed\" 7F-10L",
            "costRRC" : "79 990",
            "costMin" : "75 990",
            "presence" : 1,
            "id" : "id6"
        },
        {
            "name" : "Концентратор кислорода \"Armed\" LF-H-10А",
            "costRRC" : "299 000",
            "costMin" : "269 000",
            "presence" : 0,
            "id" : "id7"
        },
        {
            "name" : "Пульсоксиметр медицинский \"Armed\": YX200",
            "costRRC" : "1 4999",
            "costMin" : "1 199",
            "presence" : 1,
            "id" : "id8"
        },
        {
            "name" : "Пульсоксиметр напалечный MD300C12",
            "costRRC" : "2 250",
            "costMin" : "1 750",
            "presence" : 1,
            "id" : "id9"
        },
        {
            "name" : "Пульсоксиметр медицинский \"Armed\" YX301",
            "costRRC" : "3 050",
            "costMin" : "2 590",
            "presence" : 1,
            "id" : "id10"
        },
        {
            "name" : "Пульсоксиметр медицинский \"Armed\" YX302",
            "costRRC" : "3 250",
            "costMin" : "2 690",
            "presence" : 1,
            "id" : "id11"
        },
        {
            "name" : "Пульсоксиметр серии MD300 с принадлежностями MD300М",
            "costRRC" : "19 000",
            "costMin" : "15 000",
            "presence" : 0,
            "id" : "id12"
        },
        {
            "name" : "Отсасыватель хирургический электрический \"Armed\" 7Е-A",
            "costRRC" : "16 990",
            "costMin" : "13 400",
            "presence" : 1,
            "id" : "id13"
        },
        {
            "name" : "Отсасыватель хирургический электрический \"Armed\" 7Е-В",
            "costRRC" : "16 900",
            "costMin" : "13 400",
            "presence" : 1,
            "id" : "id14"
        },
        {
            "name" : "Отсасыватель хирургический электрический \"Armed\" 7D",
            "costRRC" : "19 100",
            "costMin" : "15 900",
            "presence" : 1,
            "id" : "id15"
        },
        {
            "name" : "Отсасыватель хирургический электрический \"Armed\" 7А-23D",
            "costRRC" : "19 100",
            "costMin" : "15 500",
            "presence" : 1,
            "id" : "id16"
        },
        {
            "name" : "Отсасыватель хирургический электрический \"Armed\" 7A-23B",
            "costRRC" : "20 300",
            "costMin" : "16 900",
            "presence" : 1,
            "id" : "id17"
        },
        {
            "name" : "Отсасыватель хирургический электрический \"Armed\" 7А",
            "costRRC" : "29 850",
            "costMin" : "19 900",
            "presence" : 0,
            "id" : "id18"
        },
        {
            "name" : "Медицинский многофункциональный операционный стол \"Armed\" ST-IV",
            "costRRC" : "171 700",
            "costMin" : "154 000",
            "presence" : 1,
            "id" : "id19"
        },
        {
            "name" : "Медицинский многофункциональный операционный стол \"Armed\" ST-III",
            "costRRC" : "179 000",
            "costMin" : "156 000",
            "presence" : 1,
            "id" : "id20"
        },
        {
            "name" : "Медицинский многофункциональный операционный стол \"Armed\" ST-II",
            "costRRC" : "183 000",
            "costMin" : "159 000",
            "presence" : 1,
            "id" : "id21"
        },
        {
            "name" : "Медицинский многофункциональный операционный стол \"Armed\" ST-I",
            "costRRC" : "240 000",
            "costMin" : "209 990",
            "presence" : 1,
            "id" : "id22"
        },
        {
            "name" : "Медицинский многофункциональный операционный стол \"Armed\" ST-V",
            "costRRC" : "423 000",
            "costMin" : "368 000",
            "presence" : 0,
            "id" : "id23"
        }
    ]