.clips
	display: flex
	justify-content: center
	background: pink
	height: 700px
	&__top
		width: 600px
		border: 1px solid red
		&-item
			h3
				font:
					size: 2.4em
					family: 'Rubik'
				letter-spacing: 0.05em
				color: #4f4f4f
	&__bottom 
		width: 600px
		font-size: 30px
		border: 1px solid green
		&-item
			width: 600px