.clips.container
	.clips__wrapper
		.clips__top
			.clips__top-item
				h3
					| "Чихаго" Рециркуляторы Армед - все боляют, а Вы нет
				iframe(width="560" height="315" src="https://www.youtube.com/embed/uSYm-J6BBtE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
				.clips__top-social
					p
						| Поделиться
						
			.clips__top-item
				p еще какой-то текст2
			.clips__top-item
				p еще какой-то текст3
		.clips__bottom
			.clips__bottom-item
				p еще какой-то текст
			.clips__bottom-item
				p еще какой-то текст 2
			.clips__bottom-item
				p еще какой-то текст 3