.clips
	.container
		.clips__wrapper
			.clips__top
				.clips__top-item
					h3
						| Как выбрать рециркуляторы Армед
					iframe(width="894" height="503" src="https://www.youtube.com/embed/epdpi1gQrp0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
					.clips__top-social
						.copyright__list.social
							.clips__social-text
								p
									| Поделиться:
							a.social__element.social__element_color_vk-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_fb-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_od-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_in-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_you-md.social__element_md.social__link(href="#")
				.clips__top-item
					h3
						| Как выбрать кресло-коляску ТМ Армед
					iframe(width="894" height="503" src="https://www.youtube.com/embed/2SGaM5OfmPk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
					.clips__top-social
						.copyright__list.social
							.clips__social-text
								p
									| Поделиться:
							a.social__element.social__element_color_vk-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_fb-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_od-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_in-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_you-md.social__element_md.social__link(href="#")
				.clips__top-item
					h3
						| Концентраторы кислорода ТМ Армед
					iframe(width="894" height="503" src="https://www.youtube.com/embed/IJ2c_swFFbM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
					.clips__top-social
						.copyright__list.social
							.clips__social-text
								p
									| Поделиться:
							a.social__element.social__element_color_vk-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_fb-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_od-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_in-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_you-md.social__element_md.social__link(href="#")
				.clips__top-item
					h3
						| Концентраторы кислорода ТМ Армед
					iframe(width="894" height="503" src="https://www.youtube.com/embed/IJ2c_swFFbM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
					.clips__top-social
						.copyright__list.social
							.clips__social-text
								p
									| Поделиться:
							a.social__element.social__element_color_vk-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_fb-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_od-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_in-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_you-md.social__element_md.social__link(href="#")
				.clips__top-item
					h3
						| Как выбрать кресло-коляску ТМ Армед
					iframe(width="894" height="503" src="https://www.youtube.com/embed/2SGaM5OfmPk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
					.clips__top-social
						.copyright__list.social
							.clips__social-text
								p
									| Поделиться:
							a.social__element.social__element_color_vk-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_fb-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_od-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_in-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_you-md.social__element_md.social__link(href="#")
				.clips__top-item
					h3
						| Как выбрать рециркуляторы Армед
					iframe(width="894" height="503" src="https://www.youtube.com/embed/epdpi1gQrp0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
					.clips__top-social
						.copyright__list.social
							.clips__social-text
								p
									| Поделиться:
							a.social__element.social__element_color_vk-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_fb-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_od-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_in-md.social__element_md.social__link(href="#")
							a.social__element.social__element_color_you-md.social__element_md.social__link(href="#")
			.clips__bottom
				.clips__bottom-item
					img(src="images/main/clips/1.png")
				.clips__bottom-item
					img(src="images/main/clips/2.png")
				.clips__bottom-item
					img(src="images/main/clips/3.png")
				.clips__bottom-item
					img(src="images/main/clips/3.png")
				.clips__bottom-item
					img(src="images/main/clips/2.png")
				.clips__bottom-item
					img(src="images/main/clips/1.png")