menu.asside_right
    li.asside_right__item
        a.asside_right__link(href="lk_index.html")
            | Сравнение товаров
            span.asside_right__icon.asside_right__icon_compar
    li.asside_right__item
        a.asside_right__link(href="lk_orders.html")
            | Избранные товары
            span.asside_right__icon.asside_right__icon_favorites
    li.asside_right__item
        a.asside_right__link(href="cart.html")
            | Корзина
            span.asside_right__icon.asside_right__icon_basket
    li.asside_right__item
        a.asside_right__link#filterOpen(href="lk_service.html")
            | Фильтры
            span.asside_right__icon.asside_right__icon_filters
        form.orders__filter-popup.LkFilterHide#filterPopup
            input.orders__filter-search(type="text" name="filterSearch" id="filterSearch" placeholder="Поиск по заказам")
            label.orders__filter-label(for="filterData") Дата заказа
                input.orders__filter-input(type="text" name="filterData" id="filterData" placeholder="Выберите диапазон дат")
            label.orders__filter-label(for="filterNumber") Номер заказа
                input.orders__filter-input(type="text" name="filterNumber" id="filterNumber" placeholder='Введите номер заказа')
            p.orders__filter-label Статус заказа
                .Select.Select_BorderBottom#filterStatsu
                    a.Select-Head#SelectFilter(href="#" data-value="None")
                        sapn.StatusOrder-Text.StatusOrder-Text_Placeholder Выберите статус
                    .Select-Catalog
                        a.Select-Item(href="#" data-value="None")
                            sapn.StatusOrder-Text.StatusOrder-Text_Placeholder Не выбрано
                        a.Select-Item(href="#" data-value="Delivered")
                            span.StatusOrder
                                span.StatusOrder-Color.StatusOrder-Color_Delivered
                                sapn.StatusOrder-Text Доставлено
                        a.Select-Item(href="#" data-value="InDelivered")
                            span.StatusOrder
                                span.StatusOrder-Color.StatusOrder-Color_InDelivered
                                sapn.StatusOrder-Text В доставке
                        a.Select-Item(href="#" data-value="PendingPayment")
                            span.StatusOrder
                                span.StatusOrder-Color.StatusOrder-Color_PendingPayment
                                sapn.StatusOrder-Text Ожидает оплаты
                        a.Select-Item(href="#" data-value="Paid")
                            span.StatusOrder
                                span.StatusOrder-Color.StatusOrder-Color_Paid
                                sapn.StatusOrder-Text Оплачен
                        a.Select-Item(href="#" data-value="NotVerifed")
                            span.StatusOrder
                                span.StatusOrder-Color.StatusOrder-Color_NotVerifed
                                sapn.StatusOrder-Text Не подтвержден
                        a.Select-Item(href="#" data-value="Canseled")
                            span.StatusOrder
                                span.StatusOrder-Color.StatusOrder-Color_Canseled
                                sapn.StatusOrder-Text Отменен
                        a.Select-Item(href="#" data-value="InProcessing")
                            span.StatusOrder
                                span.StatusOrder-Color.StatusOrder-Color_InProcessing
                                sapn.StatusOrder-Text В обработке
                        a.Select-Item(href="#" data-value="ShipmentProhibited")
                            span.StatusOrder
                                span.StatusOrder-Color.StatusOrder-Color_ShipmentProhibited
                                sapn.StatusOrder-Text Отгрузка запрещена


            p.orders__filter-label Заказ на имя
                .Select.Select_BorderBottom#filterName
                    a.Select-Head#SelectName(href="#" data-value="None")
                        sapn.StatusOrder-Text.StatusOrder-Text_Placeholder Выберите ФИО
                    .Select-Catalog
                        a.Select-Item(href="#" data-value="None")
                            sapn.StatusOrder-Text.StatusOrder-Text_Placeholder Не выбрано
                        a.Select-Item(href="#" data-value="User1")
                            sapn.StatusOrder-Text Июрагим Оглы Муса
                        a.Select-Item(href="#" data-value="User2")
                            sapn.StatusOrder-Text Авдеев Игорь Викторович
                        a.Select-Item(href="#" data-value="User3")
                            sapn.StatusOrder-Text Хан Султан Хазлед Лери
                        a.Select-Item(href="#" data-value="User4")
                            sapn.StatusOrder-Text Фамилия Имя Отчество


            label.orders__filter-label(for="sumStart") Сумма от:
                .sum__wrapp
                    input.orders__filter-sum-start(type="text" name="sumStart" id="sumStart")
                    span.orders__filter-dash &mdash;
                    input.orders__filter-sum-end(type="text" name="sumEnd" id="sumEnd")
            button(type="reset").Button.Button_Color_Not.Button_Size_Sm#FilterReset
                span.Button-Text.Button-Text_Color_Black
                    span.Button-Icon.Button-Icon_Cancel
                    |Сбросить фильтр
            //button.orders__filter-button.button.button_white.button_icon.button_md(type="reset")
                span.button__text.button__text_white
                    span.button__icon.button__icon_cancel
                    | Сбросить фильтр
