menu.asside_right
    li.asside_right__item
        a.asside_right__link(href="lk_index.html")
            span.asside_right__icon.asside_right__icon_index
            | Главная
    li.asside_right__item
        a.asside_right__link(href="lk_orders.html")
            span.asside_right__icon.asside_right__icon_orders
            | Заказы
    li.asside_right__item
        a.asside_right__link(href="lk_document.html")
            span.asside_right__icon.asside_right__icon_document
            | Документы
    li.asside_right__item
        a.asside_right__link(href="lk_service.html")
            span.asside_right__icon.asside_right__icon_service
            | Cервис
    li.asside_right__item
        a.asside_right__link(href="lk_profile.html")
            span.asside_right__icon.asside_right__icon_profile
            | Профиль
    li.asside_right__item
        a.asside_right__link(href="lk_edit.html")
            span.asside_right__icon.asside_right__icon_company
            | Профиль компаниии
    li.asside_right__item
        a.asside_right__link(href="lk_address.html")
            span.asside_right__icon.asside_right__icon_address
            | Адреса
    li.asside_right__item
        a.asside_right__link(href="lk_settings.html")
            span.asside_right__icon.asside_right__icon_settings
            | Настройки