body
  background-color: #fff
.Button
  font-family: 'Exo'
  cursor: pointer
  border: 0
  display: flex
  align-items: center
  justify-content: center
  text-decoration: none
  &_Size_Lg
    width: 255px
    height: 55px
  &_Size_Sm
    width: 165px
    height: 45px
  &_Color_Red
    background-color: $GlobalColor
  &_Color_Not
    background-color: rgba(255, 255, 255, 0)
    transition: 0.4s
    &:hover
      background-color: #f8f8f8
      transition: 0.4s
    &:active
      background-color: #f1f1f1
      transition: 0.4s


  &-Text
    display: flex
    align-items: center
    justify-content: center
    position: relative
    top: -2px
    letter-spacing: 0.07em
    font-size: 16px
    &_Color_Black
      color: rgba(79, 79, 79, 1)
    &_Color_White
      color: rgba(255, 255, 255, 1)
    &_Uppercase
      font-family: 'Exo 2 Semi'
      text-transform: uppercase
    &_Margin25
      margin-left: 25px

  &-Icon
    width: 20px
    height: 20px
    position: relative
    background-image: url("images/sprite.png")
    background-repeat: no-repeat
    // Модификатор отдельной иконки из спрайта
    //TODO проверить соответсвие названию
    &_Tel
      background-position: -122px -24px
    &_Entity
      background-position: -122px -44px
    &_Phone
    &_Mail
    &_ArrowRedLeft
      background-position: -48px -90px
    &_ArrowRedRight
      background-position: -48px -72px
    &_ArrowBlackLeft
      background-position: -66px -90px
    &_ArrowBlackRight
      top: 2px
      left: -2px
      background-position: -66px -72px
    &_Basket
      background-position: -122px -104px
    &_BasketRed
      background-position: -40px -270px
    &_Lock
      background-position: -122px -84px
    &_Cancel
      background-position: 0 -270px
    &_CancelRed
      background-position: -20px -270px
    &_AddUser
      background-position: -80px -290px
    &_AddUserRed
      background-position: -100px -290px
    &_Pencil
      background-position: -122px -64px
    &_User
      background-position: -60px -310px
    &_UserBlack
      background-position: -80px -310px
    &_UserRed
      background-position: -100px -310px
    &_Present
      top: 0.7px
      background-position: -40px -290px


.Button:hover
  .Button-Icon_ArrowBlackRight
    //top: 3px
    left: 0px
    background-position: -48px -72px
  .Button-Icon_Present
    background-position: -60px -290px
