.button
  font-family: 'Rubik'
  width: 255px
  height: 65px
  border: 0
  background-color: $buttonRedBgColor
  color: $buttonRedTextColor
  text-transform: uppercase
  margin-top: 20px
  cursor: pointer
  border-radius: 2px
  &:hover
    background-color: $buttonRedBgHoverColor
  &:active
    background-color: $buttonRedBgHoverColor
  &__text
    display: flex
    justify-content: center
    align-items: center
    letter-spacing: 0.05em
    &_white
      color: $buttonWhiteTextColor
  &__icon
    width: 20px
    height: 20px
    background-image: url("images/Button/button__icon.svg")
    background-repeat: no-repeat
    &_tel
      background-position: 0 -120px
      margin-right: 5px
    &_entry
      background-position: 0 -60px
      margin-right: 12px
    &_phone
      background-position: 0 0
    &_mail
      background-position: 0 -20px
    &_arrow
      background-position: 0 -140px
    &_basket
      background-position: 0 -180px
      padding-left: 32px
  //Модификатор белой кнопки
  &_white
    background-color: $buttonWhiteBgColor
    border: 1px solid $buttonWhiteBorderColor
    &:hover
      background-color: $buttonWhiteHoverBgColor
      border-color: $buttonWhiteHoverBorderColor
    &:avtive
      background-color: $buttonWhiteActiveBgColor
      border-color: $buttonWhiteActiveBorderColor

  &_product
    width: 165px
    height: 45px
    margin: 15px 0 25px 0
    font-size: 1.6em
    letter-spacing: 0.05em
    text-transform: none