body
  background-color: #fff
.Button
  font-family: 'Exo'
  cursor: pointer
  border: 0
  display: flex
  align-items: center
  justify-content: center
  text-decoration: none
  &_Align_Right
    justify-content: flex-end
  &_Size_Xxl
    width: 340px
    height: 100px
  &_Size_Lg
    width: 255px
    height: 55px
  &_Size_Sm
    width: 165px
    height: 45px
  &_Color_White
    background-color: #fff
  &_Color_Red
    background-color: $GlobalColor
  &_Border
    border: 1px solid #f2f2f2
  &_Color_Not
    background-color: rgba(255, 255, 255, 0)
    transition: 0.4s
    &:hover
      //background-color: #f8f8f8
      transition: 0.4s
      .Button-Text
        color: #c62828
    &:active
      background-color: #f1f1f1
      transition: 0.4s


  &-Text
    display: flex
    align-items: center
    justify-content: center
    position: relative
    top: -2px
    letter-spacing: 0.07em
    font-size: 16px
    &_Color_Grey
      color: #828282
    &_Color_Black
      color: rgba(79, 79, 79, 1)
    &_Color_White
      color: rgba(255, 255, 255, 1)
    &_Color_Red
      color: #c62828
    &_Uppercase
      font-family: 'Exo 2 Semi'
      text-transform: uppercase
    &_Margin25
      margin-left: 25px

  &-Icon
    width: 20px
    height: 20px
    position: relative
    background-image: url("images/sprite.png")
    background-repeat: no-repeat
    // Модификатор отдельной иконки из спрайта
    //TODO проверить соответсвие названию
    &_Tel
      background-position: -122px -24px
    &_Entity
      background-position: -122px -44px
    &_Phone
    &_Mail
    &_ArrowRedLeft
      background-position: -48px -90px
    &_ArrowRedRight
      background-position: -48px -72px
    &_ArrowBlackLeft
      background-position: -66px -90px
    &_ArrowBlackRight
      top: 2px
      left: -2px
      background-position: -66px -72px
    &_ArrowWhiteRight
      background-position: -162px -96px
      margin-top: 4px
    &_Basket
      background-position: -122px -104px
      margin-top: 2px
      margin-right: 6px
    &_BasketRed
      background-position: -40px -270px
    &_BasketAddWhite
      background-position: -96px -37px
    &_Lock
      background-position: -122px -84px
    &_Cancel
      background-position: -50px -330px
    &_CancelBig
      background-position: -0px -270px
    &_CancelRed
      background-position: -20px -270px
    &_AddUser
      background-position: -80px -290px
    &_AddUserRed
      background-position: -100px -290px
    &_Pencil
      background-position: -122px -64px
    &_User
      background-position: -60px -310px
    &_UserBlack
      background-position: -80px -310px
    &_UserRed
      background-position: -100px -310px
    &_Present
      top: 0.7px
      background-position: -40px -290px
    &_Plus
      background-position: -100px -290px
    &_CirclePlusRed
      width: 51px
      height: 51px
      margin-right: 10px
      background-position: 0 -381px


.Button:hover
  .Button-Icon_ArrowBlackRight
    //top: 3px
    left: 0px
    background-position: -48px -72px
  .Button-Icon_Present
    background-position: -60px -290px
