.infos__tabs
	ul.infos__tabs-list.tabs.tabs-info.container
		li.info__tabs-element.tabs__element-info
			a.infos__tabs-link.tabs__link-info(href="#company") О компании
		li.info__tabs-element.tabs__element-info
			a.infos__tabs-link.tabs__link-info(href="#client") Уголок покупателя
		li.info__tabs-element.tabs__element-info
			a.infos__tabs-link.tabs__link-info(href="#service") Сервис
		li.info__tabs-element.tabs__element-info
			a.infos__tabs-link.tabs__link-info(href="#entity") Юридическим лицам
		li.info__tabs-element.tabs__element-info
			a.infos__tabs-link.tabs__link-info(href="#contacts") Контакты
	.infos__tabs-mini#company
		ul.infos__tabs-list.tabs-inner.tabs
			li.info__tabs-element.tabs__element
				a.infos__tabs-link.tabs__link-inner(href="#us") О нас
			li.info__tabs-element.tabs__element
				a.infos__tabs-link.tabs__link-inner(href="#buy") Наши покупатели
			li.info__tabs-element.tabs__element
				a.infos__tabs-link.tabs__link-inner(href="#review") Отзывы
			li.info__tabs-element.tabs__element
				a.infos__tabs-link.tabs__link-inner(href="#charity") Благотворительность
		// О компании
		.infos__wrapper#us
			h2 О нас
		// Покупатели
		.infos__wrapper#buy
			h2 Наши покупатели
		// Блок отзывов
		.infos__wrapper#review
			h2 Отзывы
		// Благотворительность
		.infos__wrapper#charity
			h2 Благотворительность
	.infos__tabs-mini#client
		ul.infos__tabs-list.tabs-inner.tabs
			li.info__tabs-element.tabs__element
				a.infos__tabs-link.tabs__link-inner(href="#pay") Оплата
			li.info__tabs-element.tabs__element
				a.infos__tabs-link.tabs__link-inner(href="#delivery") Доставка и самовывоз
			li.info__tabs-element.tabs__element
				a.infos__tabs-link.tabs__link-inner(href="#return") Гарантии и возврат
			li.info__tabs-element.tabs__element
				a.infos__tabs-link.tabs__link-inner(href="#info-sale") Акции
		// Оплата
		.infos__wrapper#pay
			h2 Оплата
		// Доставка и самовывоз
		.infos__wrapper#delivery
			h2 Доставка и самовывоз
		// Гарантии и возврат
		.infos__wrapper#return
			h2 Гарантии и возврат
		// Акции
		.infos__wrapper#info-sale
			h2 Акции
	.infos__tabs-mini#entity
		ul.infos__tabs-list.tabs-inner.tabs
			li.info__tabs-element.tabs__element
				a.infos__tabs-link.tabs__link-inner(href="#franchise") Франшиза
			li.info__tabs-element.tabs__element
				a.infos__tabs-link.tabs__link-inner(href="#coop") Сотрудничество
			li.info__tabs-element.tabs__element
				a.infos__tabs-link.tabs__link-inner(href="#stors") Для магазинов и крупных сетей
			li.info__tabs-element.tabs__element
				a.infos__tabs-link.tabs__link-inner(href="#trade") Для торговых компаний и конкурсов
			li.info__tabs-element.tabs__element
				a.infos__tabs-link.tabs__link-inner(href="#pickup") Доставка и самовывоз
		//Франшиза
		.infos__wrapper#franchise
			h2 Франшиза
		//Сотрудничество
		.infos__wrapper#coop
			h2 Сотрудничество
		//Для магазинов и крупных сетей
		.infos__wrapper#stors
			h2 Для магазинов и крупных сетей
		//Для торговых компаний и конкурсов
		.infos__wrapper#trade
			h2 Для торговых компаний и конкурсов
		// Доставка и самовывоз
		.infos__wrapper#pickup
			h2 Доставка и самовывоз
	//Блок контактов
	.info__contacts#contacts
		include ../Contacts/Contacts