.Documents
  border-bottom: 1px solid #e0e0e0
  padding: 30px 15px 30px 15px
  &-Slider
    width: 911px
    margin: 0 auto
  &-SliderItem
    width: 200px
  &-Image
    width: 180px
  &-NameDocument
    font-family: 'Rubik'
    font-weight: 500
    font-size: 1.4em
    color: #4F4F4F
    padding-top: 30px