.Documents#Documents
    .prcard-title
        h2 Документы
    .Documents-Slider
        .Documents-SliderItem
            img.Documents-Image(src="images/Documents/Documents_1.jpg" alt="Документ")
            p.Documents-NameDocument Название документа
        .Documents-SliderItem
            img.Documents-Image(src="images/Documents/Documents_2.jpg" alt="Документ")
            p.Documents-NameDocument Название документа
        .Documents-SliderItem
            img.Documents-Image(src="images/Documents/Documents_3.jpg" alt="Документ")
            p.Documents-NameDocument Название документа
        .Documents-SliderItem
            img.Documents-Image(src="images/Documents/Documents_4.jpg" alt="Документ")
            p.Documents-NameDocument Название документа
        .Documents-SliderItem
            img.Documents-Image(src="images/Documents/Documents_5.jpg" alt="Документ")
            p.Documents-NameDocument Название документа
        .Documents-SliderItem
            img.Documents-Image(src="images/Documents/Documents_6.jpg" alt="Документ")
            p.Documents-NameDocument Название документа
