.Documents
  border-bottom: 1px solid #e0e0e0
  padding: 30px 15px 30px 15px
  &-Slider
    width: 911px
    margin: 0 auto
  &-SliderItem
    width: 200px
  &-Link
    text-decoration: none
    &:hover + .Documents-Print
      display: flex
  &-Image
    width: 180px
  &-NameDocument
    font-family: 'Rubik'
    font-weight: 500
    font-size: 1.4em
    color: #4F4F4F
    padding-top: 30px
  &-Print
    display: none
    position: absolute
    top: 0
    width: 180px
    background-color: rgba(0,0,0,0.6)
    height: 85%
    //display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    &:hover
      display: flex
  &-LinkPrint, &-LinkSave
    font-size: 1.2em;
    width: 70%;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    &:hover
      background-color: #000
  &-LinkPrint
    margin-bottom: 5px
