.widget
    .widget__wrapper
        h5.description-item_title Концентратор кислорода 8F-1
        p.quickview-item_buy__vendor Артикул: 489454654898
        .widget__inner
            img(src="images/quickview/quickview_slider_main.png")
            .widget__icon
                a(href="#").quickview-inner_buy__icons-like
                a(href="compaire.html").quickview-inner_buy__icons-arrow
                a(href="#").quickview-inner_buy__icons-click
        .quickview-inner_buy__cost
            p.quickview-item_buy__newcost
                | 1 999 385&nbsp;
                span.quickview-item_buy__newcost-symbol
                    | &#8381;
            p.quickview-item_buy__oldcost
                | 9 999 999&nbsp;
            span.quickview-item_buy__oldcost-symbol
                | &#8381;
        a.quickview__link.quickview__link_NotLink.modalLink(href="#" data-id="Entity") Для юридических лиц
        .quickview-inner_buy__amount
            p.quickview-item_buy__amount-title
                | Кол-во:
            .primary-menu__cart_product_volume
                span.primary-menu__cart_product_minus
                input.primary-menu__cart_product_entry.quickview_entry(type="text" value="1" disabled="disabled")
                span.primary-menu__cart_product_plus
        .quickview-inner_buy__buybutton
            .Tempory-BlockButtonChange.Tempory-BlockButtonChange_Basket
                button.Button.Button_Color_Red.Button_Size_Sm.product__button
                    span.Button-Text.Button-Text_Color_White
                        span.Button-Icon.Button-Icon_Basket
                        | В корзину
            .Tempory-BlockButtonChange.Tempory-BlockButtonChange_Pred
                button.Button.Button_Color_Red.Button_Size_Sm.product__button
                    span.Button-Text.Button-Text_Color_White
                        span.Button-Icon.Button-Icon_Basket
                        | Пердзаказ

                a.quickview__link(href="#")
                    | Или&nbsp
                    span.quickview__link_NotLink Посмотреть аналоги

        .quickview-inner_buy__delivery
            .quickview-item_buy__delivery-select
                .Select#CitySelect
                    a.Select-Head#SelectCity(href="#" data-value="None")
                        sapn.StatusOrder-Text Выберите город
                    .Select-Catalog
                        a.Select-Item(href="#" data-value="None")
                            sapn.StatusOrder-Text Не выбрано
                        a.Select-Item(href="#" data-value="Moskow")
                            sapn.StatusOrder-Text Москва
                        a.Select-Item(href="#" data-value="Balashiha")
                            sapn.StatusOrder-Text Балашиха
                        a.Select-Item(href="#" data-value="Zkorpat")
                            sapn.StatusOrder-Text Зажорпатье
                //select.quickview__select
                    option.quickview__select-option Москва
                    option.quickview__select-option Санкт-Петербург
                    option.quickview__select-option Караганда
                    option.quickview__select-option Сыктывкар
                    option.quickview__select-option Балашиха
            .quickview-item_buy__delivery-popup
                .delivery-car
                    span.delivery-car_icon
                    p.delivery-car_text
                        | Доставка:&nbsp;
                        span.changed_delivery
                            | 800 &#8381;
                .delivery-self
                    span.delivery-self_icon
                    p.delivery-self_text
                        | Самовывоз:&nbsp;
                    a(href="Pick").delivery-self_link.modalLink
                        | 5 пунктов
    .widget__social
        p.dilevery_header Поделиться
        .quickview-item_buy__social
            a(href="#").quickview-item_buy__social-icon__vk
            a(href="#").quickview-item_buy__social-icon__fb
            a(href="#").quickview-item_buy__social-icon__yt
            a(href="#").quickview-item_buy__social-icon__it
            a(href="#").quickview-item_buy__social-icon__tg