@keyframes up
  from
    top: 112px
  to
    top: 59px

@keyframes down
  from
    top: 52px
  to
    top: 112px


.asside_down
  animation-name: down
  animation-duration: 0.2s
  animation-fill-mode: forwards
  animation-timing-function: linear
.asside_up
  animation-name: up
  animation-duration: 0.4s
  animation-fill-mode: forwards
  animation-timing-function: linear