@keyframes up
  from
    top: 112px
  to
    top: 59px
@keyframes down
  from
    top: 52px
  to
    top: 112px
.asside_down
  animation-name: down
  animation-duration: 0.2s
  animation-fill-mode: forwards
  animation-timing-function: linear
.asside_up
  animation-name: up
  animation-duration: 0.4s
  animation-fill-mode: forwards
  animation-timing-function: linear

//Анимация для показа фильтра в правом меню в личном кабинете
@keyframes LkFilterShow
  from
    height: 0
    opacity: 0
  to
    height: 500px
    opacity: 1
@keyframes LkFilterHide
  from
    height: 500px
    opacity: 1
  to
    height: 0
    opacity: 0
.LkFilterShow
  animation-name: LkFilterShow
  animation-duration: 0.3s
  animation-fill-mode: forwards
  animation-timing-function: linear
.LkFilterHide
  animation-name: LkFilterHide
  animation-duration: 0.3s
  animation-fill-mode: forwards
  animation-timing-function: linear

//Анимация для показа правого меню в личном кабинете
@keyframes LkAsideShow
  from
    width: 50px
  to
    width: 235px
@keyframes LkAsideHide
  from
    width: 235px
  to
    width: 50px
.LkAside-Show
  animation-name: LkAsideShow
  animation-duration: 0.3s
  animation-fill-mode: forwards
  animation-timing-function: linear
.LkAside-Hide
  animation-name: LkAsideHide
  animation-duration: 0.3s
  animation-fill-mode: forwards
  animation-timing-function: linear

//Анимация появления поиска
@keyframes SearchShow
  from
    width: 0
    padding-right: 0
    padding-left: 0
  to
    width: 500px
    padding-right: 15px
    padding-left: 15px
@keyframes SearchHide
  from
    padding-right: 15px
    padding-left: 15px
    width: 500px
  to
    padding-right: 0
    padding-left: 0
    width: 0
.SearchShow
  animation-name: SearchShow
  animation-duration: 0.3s
  animation-fill-mode: forwards
  animation-timing-function: linear
.SearchHide
  animation-name: SearchHide
  animation-duration: 0.3s
  animation-fill-mode: forwards
  animation-timing-function: linear

