@keyframes up
  from
    top: 112px
  to
    top: 59px
@keyframes down
  from
    top: 52px
  to
    top: 112px
.asside_down
  animation-name: down
  animation-duration: 0.2s
  animation-fill-mode: forwards
  animation-timing-function: linear
.asside_up
  animation-name: up
  animation-duration: 0.4s
  animation-fill-mode: forwards
  animation-timing-function: linear

//Анимация для показа фильтра в правом меню в личном кабинете
@keyframes LkFilterShow
  from
    height: 0
    opacity: 0
  to
    height: 500px
    opacity: 1
@keyframes LkFilterHide
  from
    height: 500px
    opacity: 1
  to
    height: 0
    opacity: 0
.LkFilterShow
  animation-name: LkFilterShow
  animation-duration: 0.3s
  animation-fill-mode: forwards
  animation-timing-function: linear
.LkFilterHide
  animation-name: LkFilterHide
  animation-duration: 0.3s
  animation-fill-mode: forwards
  animation-timing-function: linear

//Анимация для показа правого меню в личном кабинете
@keyframes LkAsideShow
  from
    width: 50px
  to
    width: 235px
@keyframes LkAsideHide
  from
    width: 235px
  to
    width: 50px
.LkAside-Show
  animation-name: LkAsideShow
  animation-duration: 0.3s
  animation-fill-mode: forwards
  animation-timing-function: linear
.LkAside-Hide
  animation-name: LkAsideHide
  animation-duration: 0.3s
  animation-fill-mode: forwards
  animation-timing-function: linear

//Анимация появления поиска
@keyframes SearchShow
  from
    width: 0
    padding-right: 0
    padding-left: 0
  to
    width: 500px
    padding-right: 15px
    padding-left: 15px
@keyframes SearchHide
  from
    padding-right: 15px
    padding-left: 15px
    width: 500px
  to
    padding-right: 0
    padding-left: 0
    width: 0
.SearchShow
  animation-name: SearchShow
  animation-duration: 0.3s
  animation-fill-mode: forwards
  animation-timing-function: linear
.SearchHide
  animation-name: SearchHide
  animation-duration: 0.3s
  animation-fill-mode: forwards
  animation-timing-function: linear


//Анимация текста на кнопке в карточке товара
@keyframes text
  from
    visibility: hidden
  to
    visibility: visible


/* --- Анимация BunnerBusines --- */
@keyframes Map
  0%
    opacity: 0
  100%
    opacity: 1
.BunnerBusines-MapAnimation
  animation-name: Map
  animation-duration: 1.8s
  animation-fill-mode: forwards
  animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53)

@keyframes City
  0%
    transform: scale(0)
    opacity: 0
  30%
    opacity: 1
  50%
    transform: scale(1.3)
  80%
    transform: scale(0.8)
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0)
  100%
    transform: scale(1)
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15)
    opacity: 1
@keyframes Obl
  0%
    opacity: 0
  50%
    opacity: 0.5
  100%
    opacity: 0
@keyframes Ujnij-Lline
  0%
    width: 0
    opacity: 0
  20%
    opacity: 1
  100%
    width: 75px
    opacity: 1
@keyframes SeverKavkaz-Lline
  0%
    width: 0
    opacity: 0
  20%
    opacity: 1
  100%
    width: 42px
    opacity: 1
@keyframes SeverZapad-Lline
  0%
    width: 0
    opacity: 0
  20%
    opacity: 1
  100%
    width: 92px
    opacity: 1
@keyframes Ural-Lline
  0%
    width: 0
    opacity: 0
  20%
    opacity: 1
  100%
    width: 120px
    opacity: 1
@keyframes Privoljsk-Lline
  0%
    width: 0
    opacity: 0
  20%
    opacity: 1
  100%
    width: 65px
    opacity: 1
@keyframes Sibir-Lline
  0%
    width: 0
  100%
    width: 137px
    opacity: 1
@keyframes DalVostok-Lline
  0%
    width: 0
    opacity: 0
  20%
    opacity: 1
  100%
    width: 192px
    opacity: 1


.BunnerBusines-CityAnimation1
  animation-name: City
  animation-delay: 2s
  animation-duration: 0.6s
  animation-fill-mode: forwards
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
.BunnerBusines-OblAnimation1
  animation-name: Obl
  animation-delay: 2.1s
  animation-duration: 1s
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
.BunnerBusines-LineAnimationUjnij
  animation-name: Ujnij-Lline
  animation-delay: 2.6s
  animation-duration: .6s
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
  animation-fill-mode: forwards
.BunnerBusines-LineAnimationSeverZapad
  animation-name: SeverZapad-Lline
  animation-delay: 2.6s
  animation-duration: 0.6s
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
  animation-fill-mode: forwards
.BunnerBusines-LineAnimationPrivoljsk
  animation-name: Privoljsk-Lline
  animation-delay: 2.6s
  animation-duration: 0.6s
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
  animation-fill-mode: forwards



.BunnerBusines-CityAnimation2
  animation-name: City
  animation-delay: 3.2s
  animation-duration: 0.6s
  animation-fill-mode: forwards
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
.BunnerBusines-OblAnimation2
  animation-name: Obl
  animation-delay: 3.3s
  animation-duration: 1s
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
.BunnerBusines-CityAnimation3
  animation-name: City
  animation-delay: 3.2s
  animation-duration: 0.6s
  animation-fill-mode: forwards
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
.BunnerBusines-OblAnimation3
  animation-name: Obl
  animation-delay: 3.3s
  animation-duration: 1s
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
.BunnerBusines-CityAnimation5
  animation-name: City
  animation-delay: 3.2s
  animation-duration: 0.6s
  animation-fill-mode: forwards
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
.BunnerBusines-OblAnimation5
  animation-name: Obl
  animation-delay: 3.3s
  animation-duration: 1s
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
.BunnerBusines-LineAnimationSeverKavkaz
  animation-name: SeverKavkaz-Lline
  animation-delay: 3.5s
  animation-duration: .6s
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
  animation-fill-mode: forwards
.BunnerBusines-LineAnimationUral
  animation-name: Ural-Lline
  animation-delay: 3.5s
  animation-duration: .6s
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
  animation-fill-mode: forwards



.BunnerBusines-CityAnimation6
  animation-name: City
  animation-delay: 4.1s
  animation-duration: 0.6s
  animation-fill-mode: forwards
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
.BunnerBusines-OblAnimation6
  animation-name: Obl
  animation-delay: 4.2s
  animation-duration: 1s
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
.BunnerBusines-LineAnimationSibir
  animation-name: Sibir-Lline
  animation-delay: 4.5s
  animation-duration: 0.4s
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
  animation-fill-mode: forwards



.BunnerBusines-CityAnimation7
  animation-name: City
  animation-delay: 5s
  animation-duration: 0.6s
  animation-fill-mode: forwards
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
.BunnerBusines-OblAnimation7
  animation-name: Obl
  animation-delay: 5.1s
  animation-duration: 1s
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
.BunnerBusines-LineAnimationDalVostok
  animation-name: DalVostok-Lline
  animation-delay: 5.5s
  animation-duration: 0.4s
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
  animation-fill-mode: forwards


.BunnerBusines-CityAnimation8
  animation-name: City
  animation-delay: 5.9s
  animation-duration: 0.6s
  animation-fill-mode: forwards
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
.BunnerBusines-OblAnimation8
  animation-name: Obl
  animation-delay: 6s
  animation-duration: 1s
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)


.BunnerBusines-CityAnimation4
  animation-name: City
  animation-delay: 3.7s
  animation-duration: 0.6s
  animation-fill-mode: forwards
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
.BunnerBusines-OblAnimation4
  animation-name: Obl
  animation-delay: 3.7s
  animation-duration: 1s
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)














































