section.Reclame.PromoBusines-Section
    .Reclame-TextBlock.PromoBusines-TextBlock
        h2.Reclame-Header.PromoBusines-Header Мощная рекламная поддержка
        p.Reclame-Text.PromoBusines-Text
            |Наша продукция популярна на рынке не только благодаря высокому качеству и демократичной стоимости, но и за счет мощной рекламной поддержки. «Вирусные» видеоролики, участие в выставках, печатная реклама, грамотный SMM и множество других современных маркетинговых инструментов
        a.Reclame-Link.PromoBusines-Link(href="catalog_ur.html") Просмотреть видеоролики
    img.Reclame-Image(src="images/Promo/Reclame.png" alt="")