.pick
  margin: 0 auto
  &_container
    display: flex
    flex-direction: row
    padding: 15px
    border-bottom: 1px solid $borderPickColor
    &_wrapp
      height:  518px
      overflow: auto
  &_header
    display: flex
    flex-direction: row
    border-bottom: 1px solid $borderPickColor
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.02)
    padding: 10px
    &__text
      color: $textHeaderPick
      font:
        size: 1.6em
      text-align: left
      &-address
        @extend .pick_header__text
        flex: .6
      &-time
        @extend .pick_header__text
        flex: .2
      &-mode
        @extend .pick_header__text
        flex: .2
      &-amt
        @extend .pick_header__text
        flex: .1
      &-button
        flex: .2
  &_pickup
    width: 957px
    background-color: $cardBgColor
    border: 1px solid $cardBorderColor
    display: flex
    flex-direction: column
    align-items: stretch
    justify-content: space-around
    margin-bottom: 10px
    &__text
      text-align: left
      font:
        size: 1.4em
        weight: 400
      color: $textPickColor
      &-address
        @extend .pick_pickup__text
        flex: 0.6
      &-time
        flex: 0.2
        @extend .pick_pickup__text
      &-mode
        flex: 0.2
        @extend .pick_pickup__text
      &-amt
        margin-top: 8px
        color: #7DC472
        flex: 0.1
        @extend .pick_pickup__text
    &__icon
      position: absolute
      top: 9px
      left: 23px
      background-position: 0 -160px
.popupPick-button
  flex: 0.2