.Documents#Documents
    .prcard-title
        h2 Документы
    .Documents-Slider
        .Documents-SliderItem
            a.Documents-Link(href="images/Documents/Documents_1.jpg" data-lightbox="DocumentsImage")
                img.Documents-Image(src="images/Documents/Documents_1.jpg" alt="Название 1")
                p.Documents-NameDocument Название документа
                //.Documents-Print
                    a.Documents-LinkPrint(href="images/Documents/Documents_1.jpg" onclick="imagePrint($(this).attr('href')); return false;") Распечатать
                    a.Documents-LinkSave(href="#") Сохранить
        .Documents-SliderItem
            a.Documents-Link(href="images/Documents/Documents_2.jpg" data-lightbox="DocumentsImage")
                img.Documents-Image(src="images/Documents/Documents_2.jpg" alt="Название документа 2")
                p.Documents-NameDocument Название документа
                //.Documents-Print
                    a.Documents-LinkPrint(href="#") Распечатать
                    a.Documents-LinkSave(href="#") Сохранить
        .Documents-SliderItem
            a.Documents-Link(href="images/Documents/Documents_3.jpg" data-lightbox="DocumentsImage")
                img.Documents-Image(src="images/Documents/Documents_3.jpg" alt="Название документа 3")
                p.Documents-NameDocument Название документа
                //.Documents-Print
                    a.Documents-LinkPrint(href="#") Распечатать
                    a.Documents-LinkSave(href="#") Сохранить
        .Documents-SliderItem
            a.Documents-Link(href="images/Documents/Documents_4.jpg" data-lightbox="DocumentsImage")
                img.Documents-Image(src="images/Documents/Documents_4.jpg" alt="Название документа 4")
                p.Documents-NameDocument Название документа
                //.Documents-Print
                    a.Documents-LinkPrint(href="#") Распечатать
                    a.Documents-LinkSave(href="#") Сохранить
        .Documents-SliderItem
            a.Documents-Link(href="images/Documents/Documents_5.jpg" data-lightbox="DocumentsImage")
                img.Documents-Image(src="images/Documents/Documents_5.jpg" alt="Название документа 5")
                p.Documents-NameDocument Название документа
                //.Documents-Print
                    a.Documents-LinkPrint(href="#") Распечатать
                    a.Documents-LinkSave(href="#") Сохранить
        .Documents-SliderItem
            a.Documents-Link(href="images/Documents/Documents_6.jpg" data-lightbox="DocumentsImage")
                img.Documents-Image(src="images/Documents/Documents_6.jpg" alt="Название документа 6")
                p.Documents-NameDocument Название документа
                //.Documents-Print
                    a.Documents-LinkPrint(href="#") Распечатать
                    a.Documents-LinkSave(href="#") Сохранить




