.fluent
    .fluent__wrapper
        .fluent__inner.fluent__inner-background //для фона
        .fluent__inner.fluent__inner-preview
            .fluent__item.fluent__item-info // большая информация при раскрытии
            .fluent__item.fluent__item-card.fluent__item-business.fluent__active
            .fluent__item.fluent__item-card.fluent__item-home
            .fluent__item.fluent__item-card.fluent__item-care
            .fluent__item.fluent__item-card.fluent__item-pro