.infolk
  padding: 0 30px
  width: 100%
  height: 60px
  background-color: $headerInfolkBgColor
  box-shadow: 0 7px 6px $headerInfolkShadowColor
  display: flex
  justify-content: space-between
  align-items: center
  border-top: 1px solid #f2f2f2
  border-bottom: 1px solid #f2f2f2
  &__notifaction
    height: 100%
    align-items: center
    display: flex
    justify-content: center
    border-right: 1px solid #f2f2f2
  &__link
    display: flex
    align-items: center
    color: $headerInfolkLinkColor
    font-size: 1.2em
    text-decoration: none
  &__user
    &-data
      text-align: right
      padding-right: 5px
    &-foto
      border-radius: 50%
    &-company
      color: $headerInfolkCompanyColor
      font-size: 1.6em
      font-family: 'Rubik'
      letter-spacing: 0.05em
      text-transform: uppercase
    &-name
      font-size: 1.4em
      color: $headerInfolkNameColor
  &__info
    flex-grow: 1
    display: flex
    justify-content: space-between
    &-user
      display: flex
      align-items: center
      margin-right: 35px
    &-text
      font-family: 'Rubik'
      font-size: 1.6em;
      color: $headerInfolkTextColor
      letter-spacing: 0.05em;
      margin-left: 30px;
      margin-right: 15px;
      &-manager
        display: flex
        flex-wrap: wrap
    &-foto
      width: 36px
      height: 36px
      border-radius: 50%
      margin-right: 11px
    &-name
      font-size: 1.4em
      color: $headerInfolkNameColor
      width: 100%
      padding-left: 6px
    &-manager
      display: flex
      align-items: center
      &-wrapp
        display: flex
        justify-content: flex-start
        align-items: center
  &__exit
    height: 100%
    display: flex
    align-items: center
    padding-left: 34px
    border-left: 1px solid #f2f2f2
    &-link
      display: flex
      align-items: center
      text-decoration: none
      font-size: 1.6em
      color: #000
  &__icon
    width: 24px
    height: 24px
    background-image: url("images/Header/infolk__sprite.png")
    background-repeat: no-repeat
    &_mail
      background-position: 0 -48px
    &_ring
      background-position: 0 -24px
    &_exit
      background-position: 0 0
    &_tel
      background-position: 0 -264px
    &_mailsm
      background-position: 0 -288px
  &__mail, &__ring
    width: 24px
    height: 24px
    margin-right: 34px
    display: flex
    position: relative
  &__alarm
    background-color: $GlobalColor
    width: 9px
    height: 9px
    position: absolute
    border-radius: 50%
    &_mail
      top: 0
      right: 0
    &_ring
      top: 0
      right: 0