.infolk
  padding: 0 30px
  width: 100%
  height: 60px
  background-color: $headerInfolkBgColor
  box-shadow: 0 7px 6px $headerInfolkShadowColor
  display: flex
  justify-content: space-between
  align-items: center
  border: 1px solid #000
  &__notifaction
    height: 100%
    align-items: center
    display: flex
    justify-content: center
    border-right: 1px solid #f2f2f2
  &__info
    flex-grow: 1
  &__exit
    height: 100%
    display: flex
    align-items: center
    padding-left: 34px
    border-left: 1px solid #f2f2f2
    &-link
      display: flex
      align-items: center
      text-decoration: none
      font-size: 1.6em
      color: #000
  &__icon
    width: 24px
    height: 24px
    background-image: url("images/Header/infolk__sprite.png")
    background-repeat: no-repeat
    &_mail
      background-position: 0 -48px
    &_ring
      background-position: 0 -24px
    &_exit
      background-position: 0 0px
  &__mail, &__ring
    width: 24px
    height: 24px
    margin-right: 34px
