.infolk
    .infolk__notifaction
        a.infolk__mail(href="#")
            span.infolk__icon.infolk__icon_mail
        a.infolk__ring(href="#")
            span.infolk__icon.infolk__icon_ring
    .infolk__info
        .infolk__info-manager
            p.infolk__info-text Ваш менеджер:
            .infolk__info-
        .infolk__info-user
    .infolk__exit
        a.infolk__exit-link(href="#")
            span.infolk__icon.infolk__icon_exit
            |Выйти