.product
  background-color: $productBgColor
  width: 255px
  height: 380px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  margin-bottom: 20px
  text-align: center
  position: relative
  &_entity
    width: 100%
    height: 85px
    flex-direction: row
    justify-content: center
    &Smal
      width: 100%
      height: auto
      flex-direction: row
      justify-content: center
      padding: 5px 15px
    &_hover
      box-shadow: 0 0 10px rgba(130, 130, 130, 0.25)
    &_nothover
      box-shadow: 0 0 10px rgba(130, 130, 130, 0.15)
  &_entitySmal
    width: 100%
    height: auto
    flex-direction: row
    justify-content: center
    padding: 5px 15px
    margin-bottom: 0
    box-shadow: none
    &:nth-child(even)
      background: #F6F6F6
      &:hover
        background: #efefef
    &_hover
      background: #efefef
    &_nothover
      background: white
  &__main
    &_entity
      display: flex
      justify-content: space-between
      align-items: center
      width: 100%
    &_entitySmal
      display: flex
      justify-content: space-between
      align-items: center
      width: 100%
  &__link
    display: block
    width: auto
    height: 210px
    position: relative
    &_entity
      height: 83px
    &_entitySmal
      display: none
  &__image
    height: 210px
    &_entity
      height: 83px
      margin-left: 10px
  &__tool
    position: absolute
    width: 40%
    height: auto
    top: 65px
    left: -3px
    z-index: 100
    &_entity
      top: 0
      left: 0
      height: 100%
      width: 10%
      display: flex
      flex-direction: column
      align-items: flex-start
      justify-content: center
      &Smal
        display: none
  &__rib
    height: 20px
    width: 100%
    background-image: url("images/product/ribbon__sprite.svg")
    background-repeat: no-repeat
    position: relative
    &_entity
      background-image: url("images/product/ribbon__sprite_entity.svg")
      height: 15px
      width: 6px
      &:not(:last-child)
        margin-bottom: 4px
      &:hover
        width: 100%
      &_new
        background-position: 0 0
      &_hit
        background-position: 0 -15px
      &_present
        background-position: 0 -30px
    &_new
      top: 0
      background-position: 0 0
    &_hit
      top: -2px
      background-position: 0 -20px
    &_present
      top: -4px
      background-position: 0 -40px
  &_hover
    border-top: 1px solid $productBorderHoverColor
    border-right: 1px solid $productBorderHoverColor
    border-left: 1px solid $productBorderHoverColor
    border-bottom: none
    box-shadow: 0 0px 5px $productShadowColor
  &_nothover
    border: 1px solid #f2f2f2
  &__head
    flex-basis: 60%
    font-family: 'Rubik'
    font-size: 1.6em
    text-transform: uppercase
    padding: 15px 3px 22px 3px
    color: $productHeadColor
    display: block
    text-decoration: none
    &_entity
      text-align: left
      font-size: 1.4em
      color: #4f4f4f
      padding: 0 0 0 20px
    &_entitySmal
      font-family: 'Roboto'
      font-size: 1.4em
      text-transform: none
      padding: 0
      flex-basis: 60%
      text-align: left
  &__button
    &Wrapp
      background-color: $productBgColor
      position: absolute
      bottom: 0px
      width: 255px
      height: auto
      align-items: center
      justify-content: center
      z-index: 200
      &_active
        display: flex
        bottom: -49px
        transition: 0.4s
        border-bottom: 1px solid $productBorderHoverColor
        border-left: 1px solid $productBorderHoverColor
        border-right: 1px solid $productBorderHoverColor
        box-shadow: 0 6px 10px $productShadowColor
        padding-bottom: 15px
      &_hide
        display: none
    &_entitySmal
      display: none!important
  &__asside
    width: 60px
    height: 380px
    position: absolute
    top: -1px
    right: -60px
    flex-direction: column
    align-items: center
    justify-content: flex-start
    padding-top: 85px
    &_active
      display: flex
      right: 0
    &_hide
      display: none
  &__icon
    width: 33px
    height: 33px
    border-radius: 50%
    background-color: $productIconBgColor
    background-image: url("images/sprite.svg")
    background-repeat: no-repeat
    margin-bottom: 15px
    &-wrapp
      display: flex
      margin-right: 15px
    &_entity
      margin-bottom: 0
      &:not(:last-child)
        margin-right: 15px
        margin-left: 20px
    &_entitySmal
      display: none
    &_favorite
      background-position: -88px -138px
      &:hover
        background-position: -121px -138px
      &_list
        background-position: -121px -138px
        &:hover
          background-position: -88px -138px
    &_comparis
      background-position: -88px -171px
      &:hover
        background-position: -121px -171px
    &_info
      background-position: -88px -204px
      &:hover
        background-position: -121px -204px
    &_buy
      background-position: -88px -237px
      &:hover
        background-position: -121px -237px
  &__price
    display: flex
    justify-content: center
    align-items: center
    position: relative
    &_entity
      flex-direction: column
      width: 120px
      font-weight: 500
      &Smal
        flex-basis: 20%
        p
          font-weight: 400
  &__cost
    color: $productCostColor
    font-size: 1.8em
    font-weight: 500
    margin-right: 11px

    &_entity
      font-size: 1.6em
      margin-right: 0
    &_entitySmal
      font-size: 1.4em
  &__oldcost
    color: $productOldCostColor
    font-size: 1.2em
    text-decoration: line-through
    margin: 0 8px
    font-weight: 500
    &_entity
      font-size: 1.2em
  &__rating
    margin-top: 14px
  &__value
    font-size: 0.9em
    font-weight: 400
  &__question
    width: 18px
    height: 18px
    border-radius: 50%
    background-color: $productQuestionBgColor
    background-image: url("images/product/product__question.svg")
    background-repeat: no-repeat
    background-position: 1px 1px
    &:hover
      background-color: $productQuestionHovertBgColor
    &_close
      position: absolute
      width: 17px
      height: 17px
      top: 5px
      right: 12px
      background-image: url("images/product/question__close.svg")
      background-position: 0 0
      background-repeat: no-repeat
      cursor: pointer
      &:hover
        background-position: 0px -17px
    &-window
      display: none
      padding: 15px
      bottom: 13px
      left: 170px
      z-index: 250
      position: absolute
      width: 272px
      height: 288px
      background-color: $productQuestionWindowBgColor
      box-shadow: 0 0 4px $productQuestionWindowsShadowColor
    &-head
      font-family: 'Rubik'
      margin-top: 10px
      margin-bottom: 25px
      color: $productQuestionWindowHeadColor
      font-size: 1.6em
      letter-spacing: 0.05em
      font-weight: 500
      text-transform: uppercase
    &-you-price,
    &-retail-price,
    &-income
      display: flex
      justify-content: space-between
      align-items: flex-end
      margin-top: 3px
    &-income
      margin-top: 15px
    &-you-price,
    &-retail-price
      padding-bottom: 15px
      border-bottom: 1px solid #E0E0E0;
    &-name
      font-size: 1.4em
    &-oldprice
      font-size: 1em
      text-decoration: line-through
      color: $productOldCostColor
    &-newprice
      font-size: 1.4em
      font-weight: 500
    &-price
      text-align: right
    &-link
      color: $productQuestionLinkColor
      font-size: 1.6em
      letter-spacing: 0.05em
      font-family: 'Rubik'
      text-decoration: none
      display: flex
      justify-content: center
      margin-top: 25px
      &:hover
        color: $GlobalColor
  &__availability
    font-size: 1.2em
    &_entity
      display: none
    &_entitySmal
      text-align: right
      display: block
      flex-basis: 10%
    &_true
      color: $ConfirmColor
    &_none
      color: $GlobalColor
  &__bascet
    &-link
      font-size: 1.4em
      color: $GlobalColor
    &_entity
      display: none
    &_entitySmal
      flex-basis: 10%
      display: inline
  &__count
    &_entity
      display: none !important
    &_entitySmal
      display: flex
.you-price_color
  color: $productQuestionYouColor
.retail-price_color
  color: $productQuestionRetailColor
.income_color
  color: $ConfirmColor
.LkProduct
  display: flex !important
  flex-direction: column
  align-items: center
  justify-content: space-between
  width: 255px
  height: 380px
  &-Head
    font-family: Rubik
    font-size: 16px
    color: rgb(130, 130, 130)
    text-decoration: none
    text-transform: uppercase
    text-align: center
  &-Image
    height: 210px
    width: 210px
  &-Value
    font-size: 0.9em
  &-Cost
    font-size: 1.1em
    font-weight: 500
    color: rgb(79, 79, 79)