.product
    .product__mian
        .product__tool
        .product__head Концентратор кислорода 7F-10L
        .product__image
        .product__price
            .product__cost
            .product__question
        .product__oldcost
        .product__rating
    .product__buttonWrapp
        .product__button
    .product__asside
        .product__favorite
        .product__comparis
        .product__info
        .product__buy