.product
  background-color: $productBgColor
  width: 255px
  height: 380px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  margin-bottom: 20px
  text-align: center
  position: relative
  &__tool
    position: absolute
    width: 80%
    height: 200px
    top: 65px
    left: -3px
  &__rib
    height: 20px
    width: 100%
    background-image: url("images/product/ribbon__sprite.svg")
    background-repeat: no-repeat
    position: relative
    &_new
      top: 0
      background-position: 0 0
    &_hit
      top: -2px
      background-position: 0 -20px
    &_present
      top: -4px
      background-position: 0 -40px
  &_hover
    border-top: 1px solid $productBorderHoverColor
    border-right: 1px solid $productBorderHoverColor
    border-left: 1px solid $productBorderHoverColor
    border-bottom: none
    box-shadow: 0 -6px 10px $productShadowColor
  &_nothover
    border: 1px solid $productBorderColor
  &__head
    font-family: 'Rubik'
    font-size: 1.6em
    text-transform: uppercase
    padding: 15px 3px 22px 3px
    color: $productHeadColor
  &__button
    &Wrapp
      background-color: $productBgColor
      position: absolute
      bottom: 0px
      width: 255px
      height: auto
      align-items: center
      justify-content: center
      z-index: 200
      &_active
        display: flex
        bottom: -85px
        transition: 0.4s
        border-bottom: 1px solid $productBorderHoverColor
        border-left: 1px solid $productBorderHoverColor
        border-right: 1px solid $productBorderHoverColor
        box-shadow: 0 6px 10px $productShadowColor
      &_hide
        display: none
  &__asside
    width: 60px
    height: 380px
    position: absolute
    top: -1px
    right: -60px
    flex-direction: column
    align-items: center
    justify-content: flex-start
    padding-top: 85px
    &_active
      display: flex
      right: 0
    &_hide
      display: none
  &__icon
    width: 33px
    height: 33px
    border-radius: 50%
    background-color: $productIconBgColor
    background-image: url("images/product/product__sprite.svg")
    background-repeat: no-repeat
    margin-bottom: 15px
    &_favorite
      background-position: 0 0
      &:hover
        background-position: -33px 0
    &_comparis
      background-position: 0 -33px
      &:hover
        background-position: -33px -33px
    &_info
      background-position: 0 -66px
      &:hover
        background-position: -33px -66px
    &_buy
      background-position: 0 -99px
      &:hover
        background-position: -33px -99px
  &__price
    display: flex
    justify-content: center
    align-items: center
    position: relative
  &__cost
    color: $productCostColor
    font-size: 1.8em
    font-weight: 500
    margin-right: 11px
  &__oldcost
    color: $productOldCostColor
    font-size: 1.2em
    text-decoration: line-through
    margin-right: 8px
    font-weight: 500
  &__rating
    margin-top: 14px
  &__value
    font-size: 0.9em
    font-weight: 400
  &__question
    width: 18px
    height: 18px
    border-radius: 50%
    background-color: $productQuestionBgColor
    background-image: url("images/product/product__question.svg")
    background-repeat: no-repeat
    background-position: 1px 1px
    &:hover
      background-color: $productQuestionHovertBgColor
    &_close
      position: absolute
      width: 17px
      height: 17px
      top: 5px
      right: 12px
      background-image: url("images/product/question__close.svg")
      background-position: 0 0
      background-repeat: no-repeat
      cursor: pointer
      &:hover
        background-position: 0px -17px
    &-window
      display: none
      padding: 15px
      top: 13px
      left: 170px
      z-index: 250
      position: absolute
      width: 272px
      height: 288px
      background-color: $productQuestionWindowBgColor
      box-shadow: 0 0 4px $productQuestionWindowsShadowColor
    &-head
      font-family: 'Rubik'
      margin-top: 10px
      margin-bottom: 25px
      color: $productQuestionWindowHeadColor
      font-size: 1.6em
      letter-spacing: 0.05em
      font-weight: 500
      text-transform: uppercase
    &-you-price,
    &-retail-price,
    &-income
      display: flex
      justify-content: space-between
      align-items: flex-end
      margin-top: 3px
    &-income
      margin-top: 15px
    &-you-price,
    &-retail-price
      padding-bottom: 15px
      border-bottom: 1px solid #E0E0E0;
    &-name
      font-size: 1.4em
    &-oldprice
      font-size: 1em
      text-decoration: line-through
      color: $productOldCostColor
    &-newprice
      font-size: 1.4em
      font-weight: 500
    &-price
      text-align: right
    &-link
      color: $productQuestionLinkColor
      font-size: 1.6em
      letter-spacing: 0.05em
      font-family: 'Rubik'
      text-decoration: none
      display: flex
      justify-content: center
      margin-top: 25px
      &:hover
        color: $GlobalColor
.you-price_color
  color: $productQuestionYouColor
.retail-price_color
  color: $productQuestionRetailColor
.income_color
  color: $ConfirmColor

