.product
  background-color: $productBgColor
  border: 1px solid $productBorderColor
  width: 255px
  height: 380px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  margin: 200px
  text-align: center
  position: relative
  &__head
    font-family: Rubik
    font-size: 1.6em
    text-transform: uppercase
    padding: 0 20px
  &__button
    &Wrapp
      position: absolute
      bottom: -52px
      width: 255px
      height: 60px
      display: flex
      align-items: center
      justify-content: center
