.ProductPrice
    .ProductPrice-Main
        a(href="#").ProductPrice-Link Кресло-кровать для родовспоможения ЫС-М1
            img.ProductPrice-Image(src="images/product/product__image.png" alt="Кресло-кровать для " +
            "родовспоможения ЫС-М1")
        p.ProductPrice-Availability.ProductPrice-Availability_True Есть на складе
        p.ProductPrice-Cost 52 232
            span.ProductPrice-Value &nbsp₽
        p.ProductPrice-MinCost 46 128
            span.ProductPrice-Value &nbsp₽
        .primary-menu__cart_product_volume.product__count_entitySmal.ProductPrice-Count
            span.primary-menu__cart_product_minus
            input.primary-menu__cart_product_entry.quickview_entry(type="text" value="0" disabled="disabled")
            span.primary-menu__cart_product_plus
        //a.ProductPrice-Checkbox(href="#") В корзину
        label.control.control-checkbox.ProductPrice-Checkbox(for="checkbox")
            input.check__form-input--checkbox(type="checkbox" id="checkbox")
            .control_indicator
            span.check__form-checkbox--information
                | Добавить