.product
    .product__mian
        .product__tool
        .product__head Концентратор кислорода 7F-10L
        .product__image
        .product__price
            .product__cost 47 990 ₽
            .product__question
        .product__oldcost 56 892 ₽
        .product__rating
    .product__buttonWrapp
        .product__button.button.button_product
    .product__asside
        .product__favorite
        .product__comparis
        .product__info
        .product__buy