.product.product_entitySm.product_entitySm_nothover

    .product__main.product__main_entitySm

        //.product__tool.product__tool_entitySm
            .product__rib.product__rib_entitySm.product__rib_entitySm_new
            .product__rib.product__rib_entitySm.product__rib_entitySm_hit
            .product__rib.product__rib_entitySm.product__rib_entitySm_present

        //a.product__link.product__link_entitySm(href="#")
            img.product__image.product__image_entitySm(src="images/product/product__image.png" alt="Кресло-кровать для " +
            "родовспоможения ЫС-М1")

        a(href="#").product__head.product__head_entitySm Кресло-кровать для родовспоможения ЫС-М1

        p.product__availability.product__availability_true Есть на складе

        .product__price.product__price_entitySm
            p.product__cost.product__cost_entitySm 47 990
                span.product__value &nbsp₽
            p.product__oldcost.product__oldcost_entitySm 56 892 ₽

        .primary-menu__cart_product_volume
            span.primary-menu__cart_product_minus
            input.primary-menu__cart_product_entry.quickview_entry(type="text" value="10" disabled="disabled")
            span.primary-menu__cart_product_plus

        a.product__bascet-link(href="#") В корзину
        //button.product__button.button.button_icon.button_white.button_md
            span.button__text.button__text_white
                span.button__icon.button__icon_basketred
                | В корзину

        //.product__icon-wrapp
            a(href="#").product__icon.product__icon_entitySm.product__icon_favorite
            a(href="#").product__icon.product__icon_entitySm.product__icon_comparis
