.LkProduct
    a(href="#").LkProduct-Head Кресло-кровать для родовспоможения ЫС-М1
    a.LkProduct-Link(href="#")
        img.LkProduct-Image(src="images/product/product__image.png" alt="Кресло-кровать для родовспоможения ЫС-М1")
    .LkProduct-Price
        p.LkProduct-Cost 47 990
            span.LkProduct-Value &nbsp₽
    img.LkProduct-Rating(src="images/product/rating.png" alt="рейтинг")