section.Tcp.PromoBusines-Section
    .Tcp-TextBlock.PromoBusines-TextBlock
        h2.Tcp-Header.PromoBusines-Header Более 3000 позиций медицинсокй техники и TCP
        p.Tcp-Text.PromoBusines-Text
            |Мы являемся крупнейшим поставщиком и производителем кислородного оборудования, домашней медтехники, технических средств реабилитации, средств обеззараживания воздуха и многих других категорий медицинской продукции
        a.Tcp-Link.PromoBusines-Link(href="catalog_ur.html") Просмотреть каталог
    img.Tcp-Image(src="images/Promo/TPC.png" alt="")