.Tcp
	background-image: url("images/Promo/TCP-Bg1.png"), url("images/Promo/TCP-Bg2.png"), url("images/Promo/TCP-Bg3.png")
	background-position: left bottom, 359px -150px, 1720px -162px;
	background-repeat: no-repeat, no-repeat, no-repeat
	display: flex
	align-items: center
	justify-content: space-between
	padding-top: 50px
	padding-bottom: 60px;
	&-TextBlock
		margin-left: 300px
		width: 785px

