.check
  width: 255px
  margin: 0 auto
  &__ili, &__text
    font-size: 1.6em
    color: $textAuthColor
    font-weight: 400
    position: relative
  &__info
    margin: 10px 0
    font:
      size: 12px
    color: #828282
  &__ili
    margin-top: 20px
    &:before, &:after
      content: ""
      width: 203px
      height: 1px
      background-color: $inputBorderColor
      position: absolute
      top: 10px
    &:before
      left: -100px
    &:after
      right: -100px
  &__active
    &-link
      border-bottom: 2px solid $GlobalColor
  &__list
    list-style: none
    &-item
      &:hover
        border-bottom: 2px solid $GlobalColor
      &:not(:last-child)
        margin-right: 30px
    &-link
      color: $linkAuthColor
      text-decoration: none
      display: flex
      align-items: center

  &__form
    display: flex
    flex-direction: column
    align-items: flex-start
    &-label
      color: $labelAuthColor
      font-size: 1.4em
      font-weight: 300
      margin-bottom: 3px
      position: relative
      width: 100%
      text-align: left
      &--entity
        color: #bdbdbd
    &-input
      width: 100%
      padding: 8px 10px
      color: $inputTextColor
      border: 1px solid #e0e0e0
      &:disabled
        background: #f2f2f2
      &:not(:last-child)
        margin-bottom: 15px
      &--checkbox:checked ~ .check__form-checkbox--orders
        color: #4f4f4f
      &--checkbox:checked ~ .check__form-checkbox--information
        color: #4f4f4f
    &-checkbox
      display: flex
      flex-direction: row
      margin-bottom: 10px
      &--information
        font:
          size: 14px
          weight: 300
        color: #bdbdbd
        margin-left: 10px
      &--orders
        position: relative
        top: -2px
        font:
          size: 14px
          weight: 400
        color: rgb(130, 130, 130)
        margin-left: 6px
  &__social
    margin-top: 15px
    margin-bottom: 15px
    &-link
      position: relative
      &:not(:last-child)
        margin-right: 20px
  &__border
    &:after
      content: ''
      width: 456px
      height: 1px
      position: absolute
      left: calc(50% - 228px)
      background-color: $inputBorderColor
  &__recovery
    color: $GlobalColor
    font-size: 1.4em
    margin-top: -4px
  &__border
    padding-bottom: 10px