section#sale
    .container-fluid
        .title-h2
            h2 Lorem ipsum
        .sale-wrapper
            .row
                .col
                    .sale__countdown
                        .sale__countdown_content
                            h2  Новогодние акции и скидки
                            p Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э.
                            .sale__countdown_date.row#date_2802
                            a.sale__countdown_button(href="#") Узнать больше
                                i.icon-right
                            //a.Button.Button_Color_Not.Button_Size_Lg.home__content_button-info
                                span.Button-Text.Button-Text_Uppercase.Button-Text_Color_White
                                    | Узнать больше
                                    span.Button-Icon.Button-Icon_ArrowBlackRight.sale__countdown_button_icon
                .col
                    .sale__product-sale
                        h3.sale__product-sale_title
                            | Распродажа СРАР-аппаратов
                        img.sale__product-sale_image(src="images/page/index/sale-product.png")
                        .sale__product-sale_inner.row.col-around
                            a(href="#").sale__product-sale_inner-item
                                img(src="images/page/index/sale-product-1.jpg")
                                span.sale__product-sale_text ReSmart: CPAP
                            a(href="#").sale__product-sale_inner-item
                                img(src="images/page/index/sale-product-2.png")
                                span.sale__product-sale_text ReSmart: Auto CPAP
                            a(href="#").sale__product-sale_inner-item
                                img(src="images/page/index/sale-product-3.png")
                                span.sale__product-sale_text ReSmart: BPAP 25
                        //a.sale__product-sale_button(href="#") Подробнее
                            i.icon-right
                        a.Button.Button_Color_Not.Button_Size_Lg.sale__product-sale_button
                            span.Button-Text.Button-Text_Color_Black.Button-Text_Uppercase.Button-Text_Margin25
                                | Подробнее
                                span.Button-Icon.Button-Icon_ArrowBlackRight.product-more__button_icon