section#sale
    .container-fluid
        .title-h2
            h2 Lorem ipsum
        .sale-wrapper
            .row
                .col
                    .sale__left
                .col
                    .sale__right