.attention
  width: 100%
  margin-top: 12px
  &__wrapp
    max-width: 1140px
    margin: 0 auto
    font-size: 2.7em
    text-transform: uppercase
    color: $textAttentionColor
    letter-spacing: 0.05em
    font-weight: 300
    text-align: center

@media screen and (max-width: 1024px)
  .attention
    &__wrapp
      padding: 0 7px

@media screen and (max-width: 768px)
  .attention
    &__wrapp
      font-size: 2.4em

@media screen and (max-width: 400px)
  .attention
    &__wrapp
      font-size: 1.5em