section.Feedback.PromoBusines-Section
    .Feedback-TextBlock.PromoBusines-TextBlock
        h2.Feedback-Header.PromoBusines-Header Остались вопросы? Задайте их прямо сейчас!
        p.Feedback-Text.PromoBusines-Text
            |Наши консультанты ответят Вам в течение 15 минут!
        form.Feedback-Form
            input.Feedback-Input(type="text" placeholder="Ваше имя")
            br
            input.Feedback-Input(type="text" placeholder="Телефон")
            br
            textarea.Feedback-TextArea(placeholder="Ваш коментарий")
            button.Button.Button_Color_Not.Button_Size_Sm.Feedback-Button
                span.Button-Text.Button-Text_Color_Black
                    | Отправить
                    span.Button-Icon.Button-Icon_ArrowBlackRight

    img.Feedback-Image(src="images/Promo/Feedback.png" alt="")