section.start-section#home
    .container-fluid
        .home-wrapper
            .container
                .row.home-inner
                    .col
                        .home__content
                            span.home__content_title
                                | Выгода 75%
                            span.home__content_subtitle
                                | Все модели за 110 000 &#8381;
                            .home__content_text
                                span.home__content_text-item
                                    | Отличные и крепкие кресла для родовспоможения.
                                    | Закажи сейчас с выгодой в 75%
                                span.home__content_text-item
                                    | В наличии&nbsp;
                                    span.home__content_text-item_red осталось 10 ед.
                            .home__content_button
                                a(href="#").home__content_button-buy.button
                                    | Купить
                                a(href="#").home__content_button-info
                                    | Узнать больше
                                    i.home__content_button-icon
                    .col
                        .home__image