section.start-section#home
    .container-fluid
        .home-wrapper
            .container
                .row.home-inner
                    .col Привет World!
                        .home__content
                    .col
                        .home__image