section.start-section#home
    .container-fluid
        .home-wrapper
            .container
                .row.home-inner
                    .col
                        .home__content
                            span.home__content_title
                                | Новинка!
                            //span.home__content_subtitle
                            //    | Все модели за 110 000 &#8381;
                            .home__content_text
                                span.home__content_text-item
                                    | Кислородный концентратор "Армед"
                                    | 8Ф-1. Теперь сборка в России!
                                //span.home__content_text-item
                                //    | В наличии&nbsp;
                                //    span.home__content_text-item_red осталось 10 ед.
                            .home__content_button
                                //a(href="#").home__content_button-buy.button
                                    | Купить
                                a.home__content_button-buy.Button.Button_Color_Red.Button_Size_Sm(href="prcard_index.html")
                                    span.Button-Text.Button-Text_Color_White
                                        | Купить
                                //a(href="#").home__content_button-info
                                    | Узнать больше
                                    i.icon-right
                                a.Button.Button_Color_Not.Button_Size_Sm.home__content_button-info(href="error.html")
                                    span.Button-Text.home__content_button-text
                                        | Узнать больше
                                        span.Button-Icon.Button-Icon_ArrowBlackRight
                    .col
                        .home__image


