.Notification
    p.Notification-Head Новых уведомлений:&nbsp
        span.Notification-CountNotification 8
    .Notification-List
        .Notification-Item
            p.Notification-MessageHead Изменение статуса заказа
            p.Notification-Message
                |Статус вашего заказа №&nbsp
                span.Notification-NumberOrder 152462
                | &nbsp был изменен на&nbsp
                span.Notification-StatusOrder.StatusOrder
                    span.StatusOrder-Color.StatusOrder-Color_Delivered
                    span.StatusOrder-Text Доставлен
            p.Notification-Date 24 окт 2017 12:30
        .Notification-Item
            p.Notification-MessageHead Изменение статуса заказа
            p.Notification-Message
                |Статус вашего заказа №&nbsp
                span.Notification-NumberOrder 152462
                | &nbsp был изменен на&nbsp
                span.Notification-StatusOrder.StatusOrder
                    span.StatusOrder-Color.StatusOrder-Color_InDelivered
                    span.StatusOrder-Text В доставке
            p.Notification-Date 24 окт 2017 12:30
        .Notification-Item
            p.Notification-MessageHead Изменение статуса заказа
            p.Notification-Message
                |Статус вашего заказа №&nbsp
                span.Notification-NumberOrder 152462
                | &nbsp был изменен на&nbsp
                span.Notification-StatusOrder.StatusOrder
                    span.StatusOrder-Color.StatusOrder-Color_Paid
                    span.StatusOrder-Text Оплачен
            p.Notification-Date 24 окт 2017 12:30
        .Notification-Item
            p.Notification-MessageHead Изменение статуса заказа
            p.Notification-Message
                |Статус вашего заказа №&nbsp
                span.Notification-NumberOrder 152462
                | &nbsp был изменен на&nbsp
                span.Notification-StatusOrder.StatusOrder
                    span.StatusOrder-Color.StatusOrder-Color_PendingPayment
                    span.StatusOrder-Text Ожидает оплаты
            p.Notification-Date 24 окт 2017 12:30
        .Notification-Item
            p.Notification-MessageHead Изменение статуса заказа
            p.Notification-Message
                |Статус вашего заказа №&nbsp
                span.Notification-NumberOrder 152462
                | &nbsp был изменен на&nbsp
                span.Notification-StatusOrder.StatusOrder
                    span.StatusOrder-Color.StatusOrder-Color_InProcessing
                    span.StatusOrder-Text В обработке
            p.Notification-Date 24 окт 2017 12:30
        .Notification-Item
            p.Notification-MessageHead Изменение статуса заказа
            p.Notification-Message
                |Статус вашего заказа №&nbsp
                span.Notification-NumberOrder 152462
                | &nbsp был изменен на&nbsp
                span.Notification-StatusOrder.StatusOrder
                    span.StatusOrder-Color.StatusOrder-Color_NotVerifed
                    span.StatusOrder-Text Не подтвержден
            p.Notification-Date 24 окт 2017 12:30
        .Notification-Item
            p.Notification-MessageHead Изменение статуса заказа
            p.Notification-Message
                |Статус вашего заказа №&nbsp
                span.Notification-NumberOrder 152462
                | &nbsp был изменен на&nbsp
                span.Notification-StatusOrder.StatusOrder
                    span.StatusOrder-Color.StatusOrder-Color_Canseled
                    span.StatusOrder-Text Отменен
            p.Notification-Date 24 окт 2017 12:30
        .Notification-Item
            p.Notification-MessageHead Изменение статуса заказа
            p.Notification-Message
                |Статус вашего заказа №&nbsp
                span.Notification-NumberOrder 152462
                | &nbsp был изменен на&nbsp
                span.Notification-StatusOrder.StatusOrder
                    span.StatusOrder-Color.StatusOrder-Color_ShipmentProhibited
                    span.StatusOrder-Text.StatusOrder-Text_ShipmentProhibited(data-tooltip="Отгрузка запрещена в связи с ...") Отгрузка запрещена
            p.Notification-Date 24 окт 2017 12:30

