@import "stepOne/stepOne"

.orderingHeader
  display: flex
  justify-content: center
  &__Head
    display: inline
    text-transform: uppercase
    font-family: 'Rubik'
    font-weight: 500
    font-size: 3em
    letter-spacing: 0.05em
    padding: 0 10px
    border-right: 3px solid $GlobalColor
    border-left: 3px solid $GlobalColor
    margin:
      top: 30px
      bottom: 30px
