@import "container/container"
@import "comments/comments"
@import "dashboard/dashboard"
.container-news
  background: #ffffff
  margin-top: 30px
.container-comment
  background: #ffffff
  margin:
    top: 60px
    bottom: 30px
  padding: 15px 0

