.banner
	.banner__wrapper.banner__wrapper-home.banner-display
		.banner__overlay
			.banner__inner.banner__inner-home
				.banner-title.banner-title--home
					h2
						| Home
					h3
						| Для дома
					.banner__item.banner__item-home
						h2
							| Полезно и уютно
						h3
							| Функциональная и стильная медицинская техница для дома
						a(href="http://wp.armed.ru/shop/")
							| Весь каталог
	.banner__wrapper.banner__wrapper-care
		.banner__overlay
			.banner__inner.banner__inner-care
				.banner-title.banner-title--care
					h2
						| Care
					h3
						| Забота о родителях
					.banner__item.banner__item-care
						h2
							| Забота о тех, кто дорог
						h3
							| Надежные и удобные технические средства реабилитации
						a(href="http://wp.armed.ru/shop/")
							| Весь каталог
	.banner__wrapper.banner__wrapper-pro
		.banner__overlay
			.banner__inner.banner__inner-pro
				.banner-title.banner-title--pro
					h2
						| Pro
					h3
						| Для медицинских учереждений
					.banner__item.banner__item-pro
						h2
							| Профессиональный подход к здоровью
						h3
							| "Армед" - крупнейший производитель и поставщик медицинской продукции в России
						a(href="http://wp.armed.ru/shop/")
							| Весь каталог
	.banner__wrapper.banner__wrapper-pro
		.banner__overlay
			.banner__inner.banner__inner-pro
				.banner-title.banner-title--pro
					h2
						| Pro
					h3
						| Для медицинских учереждений
					.banner__item.banner__item-pro
						h2
							| Профессиональный подход к здоровью
						h3
							| "Армед" - крупнейший производитель и поставщик медицинской продукции в России
						a(href="http://wp.armed.ru/shop/")
							| Весь каталог
.text-banner
	p
		| Более 3000 изделий для дома и медицинских учреждений