.bannerMain
	.bannerMain__wrapper.bannerMain__wrapper-business.bannerMain-display

		.bannerMain__overlay
			.bannerMain__inner.bannerMain__inner-business
				.bannerMain-title.bannerMain-title--business
					h2
						| Business
					h3
						| Для медицинских учереждений
				.bannerMain__item.bannerMain__item-business.bannerMain__item-display
					h2
						| Более 100 дистрибьюторов по всей России
					h3
						| Эксклюзивные условия для торговых, оптовых и розничных предприятий
					a(href="error.html")
						| Узнать больше

	.bannerMain__wrapper.bannerMain__wrapper-home
		.bannerMain__overlay
			.bannerMain__inner.bannerMain__inner-home
				.bannerMain-title.bannerMain-title--home
					h2
						| Home
					h3
						| Для дома
				.bannerMain__item.bannerMain__item-home
					h2
						| Полезно и уютно
					h3
						| Функциональная и стильная медицинская техница для дома
					a(href="error.html")
						| Весь каталог
	.bannerMain__wrapper.bannerMain__wrapper-care
		.bannerMain__overlay
			.bannerMain__inner.bannerMain__inner-care
				.bannerMain-title.bannerMain-title--care
					h2
						| Care
					h3
						| Забота о родителях
				.bannerMain__item.bannerMain__item-care
					h2
						| Забота о тех, кто дорог
					h3
						| Надежные и удобные технические средства реабилитации
					a(href="error.html")
						| Весь каталог
	.bannerMain__wrapper.bannerMain__wrapper-pro
		.bannerMain__overlay
			.bannerMain__inner.bannerMain__inner-pro
				.bannerMain-title.bannerMain-title--pro
					h2
						| Pro
					h3
						| Для медицинских учереждений
				.bannerMain__item.bannerMain__item-pro
					h2
						| Профессиональный подход к здоровью
					h3
						| "Армед" - крупнейший производитель и поставщик медицинской продукции в России
					a(href="error.html")
						| Весь каталог

