.banner
	.banner__inner.banner__inner-home
		.banner-title.banner-title--home
			h2
				| Home
			h3
				| Для дома
	.banner__inner.banner__inner-care
		.banner-title.banner-title--care
			h2
				| Care
			h3
				| Забота о родителях
	.banner__inner.banner__inner-pro
		.banner-title.banner-title--pro
			h2
				| Pro
			h3
				| Для медицинских учереждений