.bannerMain
	display: flex
	flex-direction: row
	font-size: 16px
	font-weight: 500
	letter-spacing: 0.8px
	text-transform: uppercase
	&__overlay
		//background: rgba(#423C36, 0.55)
		width: 100%
		height: 100%
		transition: background 2s

		&-none
			transition: background 2s
			background: transparent
	&__wrapper
		filter: blur(1px)
		overflow-x: hidden
		cursor: pointer
		&-home
			flex: 1
			height: 1040px
			background:
				image: url("images/main/home-bg.jpg")
				size: cover
				repeat: no-repeat
				position: center center
			transition: 2s
		&-care
			flex: 1
			height: 1040px
			background:
				image: url("images/main/care-bg.png")
				size: cover
				repeat: no-repeat
				position: center center
			transition: 2s
		&-pro
			flex: 1
			height: 1040px
			background:
				image: url("images/main/pro-bg.png")
				size: cover
				repeat: no-repeat
				position: center center
			transition: 2s
		&-business
			flex: 1
			height: 1040px
			background:
				image: url("images/main/pro-bg.png")
				size: cover
				repeat: no-repeat
				position: center center
			transition: 2s
	&__inner
		overflow-x: hidden
		width: 100%
		height: 100%
		padding:
			top: 90px
	&__item
		margin-left: -20px
		opacity: 0
		visibility: hidden
		width: 830px
		height: 270px
		background: rgba(255,255,255,0.9)
		padding: 38px 50px
		margin-top: 460px
		h2
			font:
				family: 'Rubik'
				size: 1.6em
				weight: 500
			letter-spacing: 0.1em
			margin-bottom: 15px
		h3
			font:
				size: 1em
				family: 'Roboto'
				weight: 300
			line-height: 19px
			letter-spacing: 0.05em
			color: #4f4f4f
			text-transform: uppercase
		a
			position: relative
			top: 100px
			font:
				family: $fontFamilyAdditionally
				size: 1.2em
				weight: 500
			color: #4f4f4f
			letter-spacing: 0.1em
			text-decoration: none
			text-transform: uppercase
		&-home
			h2
				color: #96DE5E
		//&-pro
		//	margin-left: -600px
		//&-care
		//	margin-left: -300px
		&-display
			visibility: visible
			opacity: 1
			transition: opacity 3s
	&-title
		width: 279px
		height: 113px
		padding:
			top: 30px
			left: 20px
		//background: rgba(255,255,255,0.8)
		transition: background 0.6s
		//&-display
			transition: background 0.6s
			background: rgba(255,255,255,0.8)
		h2
			font:
				family: 'Rubik'
				size: 1.6em
				weight: 500
			letter-spacing: 0.1em
		h3
			font:
				size: 1em
				family: 'Roboto'
				weight: 300
			line-height: 19px
			letter-spacing: 0.05em
			color: #ffffff
			text-transform: uppercase
		&--home
			h2
				color: #F2E3C9
		&--care
			h2
				color: #72BFC4
		&--pro
			h2
				color: #6191c2

	&-display
		filter: blur(0)
		flex: 4
		background-position: 80% center
		cursor: default

.test-block
	background: rgba(0,0,0,0.5)
	width: 300px
	height: 300px
	margin: 70px
	filter: blur(10px)