.countdown-section
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background: #fff
  min-height: 132px
  min-width: 110px
  border-radius: 6px
  box-shadow: 0px 3px 0px #E07B7B
  margin: 0 30px
  color: $GlobalColor

.countdown-amount, .countdown-period
  font-family: $fontFamilyAdditionally
  font-size: 4.6em
  font-weight: bold
  text-transform: uppercase
  letter-spacing: 0.05em
  text-align: center

.countdown-period
  font-size: 1.9em