//- Разметка для countdown по Figma
//-span.countdown-section
    span.countdown-amount 20
    span.countdown-period Дней
//-span.countdown-section
    span.countdown-amount 19
    span.countdown-period Часов
//-span.countdown-section
    span.countdown-amount 34
    span.countdown-period Минуты
//-span.countdown-section
    span.countdown-amount 42
    span.countdown-period Секунды