.catalog__content-main
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
    include ../../../Global/product/product
