.catalog
  &__filter
    &Label
      font-family: Roboto
      font-size: 1.6em
      color: #4F4F4F
  &__change
    display: flex
  &__icon
    width: 31px
    height: 31px
    background-image: url("images/Catalog/catalog__icon.svg")
    background-repeat: no-repeat
    &_full
      background-position: 0 -31px
      &:hover
        background-position: -31px -31px
    &_small
      background-position: 0 0
      &:hover
        background-position: -31px 0