.video
    .prcard-title
        h2 Видео
    .video__slider
        .video__inner
            .video-title
                | Рециркуляторы Армед Часть 1
            iframe(src="https://www.youtube.com/embed/DJb4PHni-0c", width="427" height="240", allow="autoplay, encrypted-media" allowfullscreen)
        .video__inner
            .video-title
                | Рециркуляторы Армед Часть 2
            iframe(src="https://www.youtube.com/embed/DJb4PHni-0c", width="427" height="240", allow="autoplay, encrypted-media" allowfullscreen)
        .video__inner
            .video-title
                | Рециркуляторы Армед Часть 3
            iframe(src="https://www.youtube.com/embed/DJb4PHni-0c", width="427" height="240", allow="autoplay, encrypted-media" allowfullscreen)