.video
    .prcard-title
        h2 Видео
    .video__slider
        .video__inner
            .video-title
                | Рециркуляторы Армед Часть 1
            iframe(width="450" height="253" src="https://www.youtube.com/embed/DJb4PHni-0c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
        .video__inner
            .video-title
                | Рециркуляторы Армед Часть 2
            iframe(width="450" height="253" src="https://www.youtube.com/embed/DJb4PHni-0c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
        .video__inner
            .video-title
                | Рециркуляторы Армед Часть 3
            iframe(width="450" height="253" src="https://www.youtube.com/embed/DJb4PHni-0c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)