.production
	a(href="http://wp.armed.ru/my-account/").production__inner.production__inner-stroller
		h2
			| Кресло-коляски
		img(src="images/main/stroller.png")
	a(href="http://wp.armed.ru/my-account/").production__inner.production__inner-recirculator
		h2
			| Рециркуляторы
		img(src="images/main/recirculator.png")
	a(href="http://wp.armed.ru/my-account/").production__inner.production__inner-operating
		h2
			| Операционные столы
		img(src="images/main/operating.png")
	a(href="http://wp.armed.ru/my-account/").production__inner.production__inner-oxygen
		h2
			| Кислородные концентраторы
		img(src="images/main/oxygen.png")
	a(href="http://wp.armed.ru/my-account/").production__inner.production__inner-aspirators
		h2
			| Отсасыватели
		img(src="images/main/aspirators.png")
	a(href="http://wp.armed.ru/my-account/").production__inner.production__inner-negatoscopes
		img(src="images/main/negatoscopes.png")
		h2
			| Негатоскопы
	a(href="http://wp.armed.ru/my-account/").production__inner.production__inner-surgical
		img(src="images/main/surgical.png")
		h2
			| Светильники хирургические
	a(href="http://wp.armed.ru/my-account/").production__inner.production__inner-ophthalmologic
		h2
			| Офтальмологическое оборудование
		img(src="images/main/ophthalmologic.png")
.production__button
	a.Button.Button_Color_Not.Button_Size_Lg
		span.Button-Text.Button-Text_Color_Black.Button-Text_Uppercase
			| Смотреть все
			span.Button-Icon.Button-Icon_ArrowRedRight