.production
	a(href="catalog_ur.html").production__wrapper.production__wrapper-oxygen
		.production__inner.production__inner-oxygen
		.production__contant
			h2
				| Кислородные концентраторы
	a(href="catalog_ur.html").production__wrapper.production__wrapper-recirculator
		.production__inner.production__inner-recirculator
		.production__contant
			h2
				| Рециркуляторы
	a(href="catalog_ur.html").production__wrapper.production__wrapper-stroller
		.production__inner.production__inner-stroller
		.production__contant
			h2
				| Кресло-коляски
	a(href="catalog_ur.html").production__wrapper.production__wrapper-aspirators
		.production__inner.production__inner-aspirators
		.production__contant
			h2
				| Отсасыватели
	a(href="catalog_ur.html").production__wrapper.production__wrapper-operating
		.production__inner.production__inner-operating
		.production__contant
			h2
				| Операционные столы
	a(href="catalog_ur.html").production__wrapper.production__wrapper-negatoscopes
		.production__inner.production__inner-negatoscopes
		.production__contant
			h2
				| Негатоскопы
	a(href="catalog_ur.html").production__wrapper.production__wrapper-surgical
		.production__inner.production__inner-surgical
		.production__contant
			h2
				| Светильники хирургические
	a(href="catalog_ur.html").production__wrapper.production__wrapper-ophthalmologic
		.production__inner.production__inner-ophthalmologic
		.production__contant
			h2
				| Офтальмологическое оборудование
.production__button
	a.Button.Button_Color_Not.Button_Size_Lg
		span.Button-Text.Button-Text_Color_Black.Button-Text_Uppercase
			| Смотреть все
			span.Button-Icon.Button-Icon_ArrowRedRight