.production
	.production__inner.production__inner-stroller
		h2
			| Кресло-коляски
		img(src="images/main/stroller.png")
	.production__inner.production__inner-recirculator
		h2
			| Рециркуляторы
		img(src="images/main/recirculator.png")
	.production__inner.production__inner-operating
		h2
			| Операционные столы
		img(src="images/main/operating.png")
	.production__inner.production__inner-oxygen
		h2
			| Кислородные концентраторы
		img(src="images/main/oxygen.png")
	.production__inner.production__inner-aspirators
		h2
			| Отсасыватели
		img(src="images/main/aspirators.png")
	.production__inner.production__inner-negatoscopes
		img(src="images/main/negatoscopes.png")
		h2
			| Негатоскопы
	.production__inner.production__inner-surgical
		img(src="images/main/surgical.png")
		h2
			| Светильники хирургические
	.production__inner.production__inner-ophthalmologic
		h2
			| Офтальмологическое оборудование
		img(src="images/main/ophthalmologic.png")