section.Lk.PromoBusines-Section
    img.Lk-Image(src="images/Promo/Lk-Bg.png" alt="")
    .Lk-TextBlock.PromoBusines-TextBlock
        h2.Lk-Header.PromoBusines-Header Отслеживание покупок и система бонусов в личном кабинете
        p.Lk-Text.PromoBusines-Text
            | В личном кабинете вы увидите всю историю покупок и их основные этапы, первыми узнаете о последних акциях и новинках, сможете просмотреть всю необходимую документацию и получить персональные бонусы
        a.Lk-Link.PromoBusines-Link.modalLink(href="#" data-id="Check") Зарегистрироваться
        a.Lk-Link.PromoBusines-Link.modalLink(href='#' data-id="Auth") Войти