.catalog__content-banners
    a.catalog__link(href="catalog_tov.html").catalog__content-itemXl.catalog__content-bannerKoncentrator.banner.banner_xl.banner_left
        p.catalog__content-nameKoncentrator.banner__text Кислородные концетраторы
    a.catalog__link(href="catalog_tov.html").catalog__content-itemXl.banner.banner_xl.banner_right.catalog__content-bannerPuls
        p.catalog__content-namePuls.banner__text Пульсоксиметры
    a.catalog__link(href="catalog_tov.html").catalog__content-itemSm.catalog__content-bannerBrearh.banner.banner_sm.banner_colRevers
        p.catalog__content-nameBrearh.banner__text Аппараты для дыхательной терапии
    a.catalog__link(href="catalog_tov.html").catalog__content-itemSm.catalog__content-bannerKislorod.banner.banner_sm.banner_right
        p.catalog__content-nameKislorod.banner__text Увлажнители кислорода
    a.catalog__link(href="catalog_tov.html").catalog__content-itemSm.catalog__content-bannerKokteiler.banner.banner_sm.banner_col
        p.catalog__content-nameKokteiler.banner__text Коктейлеры
    a.catalog__link(href="catalog_tov.html").catalog__content-itemSm.catalog__content-bannerAssociated.banner.banner_sm.banner_left
        p.catalog__content-nameAssociated.banner__text Сопутствующие товары