#product
  height: auto
  padding: 100px 0 50px 0

.title-h2
  padding-bottom: 60px
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  h2
    font-size: 3em
    text-transform: uppercase
    font-family: $fontFamilyAdditionally
    color: $headerCartTitle
    font-weight: 500
    text-align: center
    letter-spacing: 0.05em
    padding: 0 10px
    line-height: 0.8em
    border-left: 3px solid $GlobalColor
    border-right: 3px solid $GlobalColor

.product-wrapper
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  width: auto

.product-more
  margin-top: 10px
  position: relative
  width: auto
  height: auto
  display: flex
  justify-content: center
  align-items: center
  &__button
    position: relative
    width: 255px
    height: 65px
    display: flex
    justify-content: center
    align-items: center
    font-size: 1.6em
    letter-spacing: 0.05em
    font-family: $fontFamilyAdditionally
    text-transform: uppercase
    background: #fff
    color: $headerCartTitle
    text-decoration: none
    border: 1px solid #F2F2F2
    border-radius: 2px
    transition: all .3s ease
    &:hover
      border-color: #d8d8d8
      background-color: #fbfbfb
    &_icon
      right: 40px
      top: 43%