section#product
    .container
        .title-h2
            h2 Популярная продукция
        .product-wrapper
            - var x = 10;
            - for (var i=1; i<=x; i++) {
            include ../../../Global/product/product
            - }
        .product-more
            a(href="#").product-more__button
                | Смотреть всё
                i.product-more__button_icon.icon-right
        include ../../../Global/product/product_entity
        include ../../../Global/product/product_entity
        include ../../../Global/product/product_entity
        include ../../../Global/product/product_entity
        include ../../../Global/product/product_entity
        include ../../../Global/product/product_entity
        include ../../../Global/product/product_entity
        a#productChange(href="#" style="font-size: 20px") Изменить карточку
        br
        a#productChangeFull(href="#" style="font-size: 20px") Вернуть карточку
