section#product
    .container
        .title-h2
            h2 Популярная продукция
        .product-wrapper
            - var x = 10;
            - for (var i=1; i<=x; i++) {
            include ../../../Global/product/product
            - }
        .product-more
            //a(href="#").product-more__button
                | Смотреть всё
                i.product-more__button_icon.icon-right
            a(href="catalog_fiz.html").Button.Button_Color_Not.Button_Size_Lg
                span.Button-Text.Button-Text_Color_Black.Button-Text_Uppercase
                    | Смотреть все
                    span.Button-Icon.Button-Icon_ArrowBlackRight.product-more__button_icon
