.PromoBusines
	&-Section
		display: flex
		align-items: center
		justify-content: center
		padding-top: 60px
		padding-bottom: 60px
	&-Header
		font-family: 'Rubik'
		display: inline-block
		font-size: 30px
		line-height: 31.6px
		letter-spacing: 1.5px
		color: rgb(79, 79, 79)
		font-weight: 400
		border-bottom: 3px solid #E3B1B1
		padding-bottom: 10px
	&-TextBlock
		margin-left: 200px
		width: 785px
	&-Text
		font-size: 19px
		font-weight: 300
		color: rgb(79, 79, 79)
		margin-top: 40px
		margin-bottom: 20px
	&-Link
		font-family: 'Exo'
		font-size: 19px
		letter-spacing: 1px
		color: #D64B4B
		text-decoration: none