.error__wrapper
	.error__inner
		.error__recirculator
			img(src="images/error/kolba.svg")
	.error__inner
		.error__number
			img(src="images/error/number_404.svg")
		.error__text
			p Возможно, запрашиваемая страница была удалена или перенесена, либо указан ее неправильный адрес.
			p Если эта ошибка будет повторяться, пожалуйста, сообщите нам о проблеме. 
			ul
				li 
					span Перейти на&nbsp;
						a(href="index.html") главную страницу
				li 
					span Посмотреть&nbsp;
						a(href="catalog_fiz.html") каталог
				li 
					span Ознакомиться с&nbsp;
						a(href="error.html") текущими акциями и предложениями
			a.Button.Button_Color_White.Button_Size_Sm(href="#" onclick="window.history.back();")
				span.Button-Text.Button-Text_Color_black Вернуться назад
		.error__phone
			p
				| Телефон горячей линии: 8 (888) 888-88-88