.error__wrapper
	.error__inner
		.error__recirculator
			img(src="images/error/kolba.svg")
	.error__inner
		.error__number
			img(src="images/error/number_404.svg")
		.error__text
			p Возможно, запрашиваемая страница была удалена или перенесена, либо указан ее неправильный адрес.
			p Если эта ошибка будет повторяться, пожалуйста, сообщите нам о проблеме. 
			ul
				li 
					span Перейти на&nbsp; 
						a(href="#") главную страницу
				li 
					span Посмотреть&nbsp;
						a(href="#") каталог
				li 
					span Ознакомиться с&nbsp;
						a(href="#") текущими акциями и предложениями
		.error__phone
			p
				| Телефон горячей линии: 8 (888) 888-88-88