#modal_PickUnit.modal
    .modal__content_pickUnit.modal__content
        span#close_PickUnit.modal__close
        h3.modal__head Где купить Самовывоз
        main.modal__pickUnit-list
            include pickUnit/pickUnit