section.Partner.PromoBusines-Section
    .Partner-TextBlock.PromoBusines-TextBlock
        h2.Partner-Header.PromoBusines-Header Партнеры, которых вы знаете
        p.Partner-Text.PromoBusines-Text
            |Наша продукция представлена в 1300 магазинах по всей России
    .Partner-Slider
        .Partner-SliderItem
            img.Partner-SliderImage(src="images/Promo/Partner/Logo1.png")
        .Partner-SliderItem
            img.Partner-SliderImage(src="images/Promo/Partner/Logo2.png")
        .Partner-SliderItem
            img.Partner-SliderImage(src="images/Promo/Partner/Logo3.png")
        .Partner-SliderItem
            img.Partner-SliderImage(src="images/Promo/Partner/Logo4.png")
        .Partner-SliderItem
            img.Partner-SliderImage(src="images/Promo/Partner/Logo1.png")
        .Partner-SliderItem
            img.Partner-SliderImage(src="images/Promo/Partner/Logo2.png")
        .Partner-SliderItem
            img.Partner-SliderImage(src="images/Promo/Partner/Logo3.png")
        .Partner-SliderItem
            img.Partner-SliderImage(src="images/Promo/Partner/Logo4.png")
        .Partner-SliderItem
            img.Partner-SliderImage(src="images/Promo/Partner/Logo1.png")
        .Partner-SliderItem
            img.Partner-SliderImage(src="images/Promo/Partner/Logo2.png")
        .Partner-SliderItem
            img.Partner-SliderImage(src="images/Promo/Partner/Logo3.png")
        .Partner-SliderItem
            img.Partner-SliderImage(src="images/Promo/Partner/Logo4.png")
    a.Partner-Link.PromoBusines-Link(href="catalog_ur.html") Присоединяйтесь к сильнейшим!