.auth
  width: 255px
  margin: 0 auto
  &__ili, &__text
    font-size: 1.6em
    color: $textAuthColor
    font-weight: 400
    position: relative
  &__ili
    margin-top: 20px
    &:before, &:after
      content: ""
      width: 203px
      height: 1px
      background-color: $inputBorderColor
      position: absolute
      top: 10px
    &:before
      left: -100px
    &:after
      right: -100px
  &__active
    &-link
      border-bottom: 2px solid $GlobalColor
      .auth__list-link
        color: $linkAuthColor
      .auth__icon_mail
        background-position: -136px -270px
      .auth__icon_phone
        background-position: -136px -286px
  &__list
    &-tabs
      display: flex
      justify-content: center
      font-family: Rubik
      font-size: 1.4em
      letter-spacing: 0.05em
      text-transform: uppercase
      list-style: none
    &-item
      &:hover
        border-bottom: 2px solid $GlobalColor
      &:not(:last-child)
        margin-right: 30px
    &-link
      //color: $linkAuthColor
      color: #cccccc
      text-decoration: none
      display: flex
      align-items: center
  &__tabs
    margin-top: 25px
  &__form
    display: flex
    flex-direction: column
    align-items: flex-start
    &-label
      color: $labelAuthColor
      font-size: 1.4em
      font-weight: 300
      margin-bottom: 3px
      position: relative
      width: 100%
      text-align: left
    &-input
      width: 100%
      padding: 8px 10px
      color: $inputTextColor
      border: 1px solid #e0e0e0
      &:not(:last-child)
        margin-bottom: 15px
  &__social
    margin-top: 15px
    margin-bottom: 15px
    &-link
      position: relative
      &:not(:last-child)
        margin-right: 20px
  &__border
    &:after
      content: ''
      width: 456px
      height: 1px
      position: absolute
      left: calc(50% - 228px)
      background-color: $inputBorderColor
  &__text
  &__recovery
    color: $GlobalColor
    font-size: 1.4em
    margin-top: -4px
  &__border
    padding-bottom: 10px
  &__button
    margin: 20px auto 0 auto
  &__icon
    background-image: url("images/sprite.png")
    background-repeat: no-repeat
    width: 16px
    height: 16px
    &_mail
      background-position: -120px -270px
      margin-right: 5px
    &_phone
      background-position: -120px -286px
      margin-right: 2px