.auth
    .auth__wrapp
        ul.auth__list-tabs
            li.auth__list-item
                a.auth__list-link(href="#tabs1")
                    span.button__icon.button__icon_phone
                    |Телефон
            li.auth__list-item
                a.auth__list-link(href="#tabs2")
                    span.button__icon.button__icon_mail
                    |E-mail
        .auth__tabs#tabs1
              form.auth__form
                  label.auth__form-label(for="phone") Номер телефона:
                    span.alert Вы не зарегистрированы
                  input.auth__form-input(type="text" name="phone" id="phone")
                  button.auth__form-button.button.button_icon
                    span.button__text
                        span.button__icon.button__icon_tel
                        |Получить смс
        .auth__tabs#tabs2
            form.auth__form
                label.auth__form-label(for="mail") E-mail:
                    span.alert Вы не зарегистрированы
                input.auth__form-input(type="mail" name="mail" id="mail")
                label.auth__form-label(for="pass") Пароль:
                    span.alert Пароль не верен
                input.auth__form-input(type="mail" name="pass" id="pass")
                a.auth__recovery(href="#") Забыли пароль?
                button.auth__button.button.button_icon
                    span.button__text
                        span.button__icon.button__icon_entry
                        |Войти на сайт
    h6.auth__ili или
    p.auth__text используя соцсети
.auth__social.social
    a.social__element.social__element_vk-lg.social__element_lg.social__link(href="#")
    a.social__element.social__element_fb-lg.social__element_lg.social__link(href="#")
    a.social__element.social__element_od-lg.social__element_lg.social__link(href="#")
    a.social__element.social__element_in-lg.social__element_lg.social__link(href="#")
    a.social__element.social__element_you-lg.social__element_lg.social__link(href="#")
.auth__border
p.auth__text У вас всё ещё нет аккаунта? Зарегистрируйтесь сейчас
button.auth__button.button.button_white.button_icon
    span.button__text.button__text_white
        |Регистрация
        span.button__icon.button__icon_arrow