section#banner
    .container-fluid
        .banner-wrapper
            .row.banner-inner
                .banner-item.vertical
                    a(href="#")
                        img(src="images/page/index/banner-1.jpg" alt="banner-1")
                    .banner-content
                        .banner-content__title
                            h3 Новинка!
                            p Облучатель рециркулятор медицинский СH111-130
                        .banner-content__link
                            a(href="#") Подробнее
                .banner-item.default
                    a(href="#")
                        img(src="images/page/index/banner-2.jpg" alt="banner-2")
                .banner-item.horizontal
                    a(href="#")
                        img(src="images/page/index/banner-3.jpg" alt="banner-3")
                .banner-item.horizontal
                    a(href="#")
                        img(src="images/page/index/banner-4.jpg" alt="banner-4")
                .banner-item.default
                    a(href="#")
                        img(src="images/page/index/banner-5.jpg" alt="banner-5")