section#banner
    .container-fluid
        .banner-wrapper
            .row.banner-inner
                .banner-item.vertical
                    a(href="#")
                        img(src="images/page/index/banner-1.jpg" alt="banner-1")
                    .banner-content
                        .banner-content__title--1
                            h3 Новинка!
                            p Облучатель рециркулятор медицинский СH111-130
                        .banner-content__link--1
                            a(href="#") Подробнее
                                i.icon-right
                .banner-item.default
                    a(href="#")
                        img(src="images/page/index/banner-2.jpg" alt="banner-2")
                    .banner-content
                        .banner-content__title--2
                            h3 Скидка&nbsp;
                                span 50%
                            p Концентратор кислорода 8F-1
                        .banner-content__link--2
                            p При покупке от 10 ЕД.&nbsp;
                                span *
                            a(href="#") Подробнее
                                i.icon-right
                .banner-item.horizontal
                    a(href="#")
                        img(src="images/page/index/banner-3.jpg" alt="banner-3")
                    .banner-content
                        .banner-content__title--3
                            h3 Новогодние подарки от ТМ "Армед"
                            p Новогодние акции и скидки!
                            p Спеши, подходи, рециркуляторов тонну бери!
                        .banner-content__link--3
                            a(href="#") Подробнее
                                i.icon-right
                .banner-item.horizontal
                    a(href="#")
                        img(src="images/page/index/banner-4.jpg" alt="banner-4")
                    .banner-content
                        .banner-content__title--4
                            h3 Кислородное преимущество
                            p Не дают дышать? Дыши с нами!
                        .banner-content__link--4
                            a(href="#") Подробнее
                                i.icon-right
                .banner-item.default
                    a(href="#")
                        img(src="images/page/index/banner-5.jpg" alt="banner-5")
                    .banner-content
                        .banner-content__title--5
                            h3 Тонометры за&nbsp;
                                span 300!
                            p "Armed" YE-660E
                        .banner-content__link--5
                            a(href="#") Подробнее
                                i.icon-right