.banner-wrapper
  height: auto

.banner-inner
  position: relative
  .banner-item
    width: 25%
    float: left
    position: relative
    overflow: hidden
    img
      width: 100%
      transition: all .5s ease 0s
  .horizontal
    width: 50%

@media (max-width: 991px)
  .banner-inner
    .banner-item
      width: 50%

@media (max-width: 767px)
  .banner-inner
    .banner-item
      width: 100%