section#banner
    .container-fluid
        .banner-wrapper
            .container
                .row.banner-inner
                    .col Привет World!
                    .col Привет World!
                    .col Привет World!
                    .col Привет World!