.services.container
	a(href="#").services__inner.services__inner-us
		.services__item.services__item-us
		.services__contant
			img(src="images/main/services/1.png")
			p О компании
	a(href="#").services__inner.services__inner-service
		.services__item.services__item-service
		.services__contant
			img(src="images/main/services/2.png")
			p Сервис
	a(href="#").services__inner.services__inner-education
		.services__item.services__item-education
		.services__contant
			img(src="images/main/services/3.png")
			p Обучение
			
	a(href="#").services__inner.services__inner-franchise
		.services__item.services__item-franchise
		.services__contant
			img(src="images/main/services/1.png")
			p Франшиза
.callback
	p
		| Горячая линия ARMED: 8 800 500 88 99