.services.container
	a(href="error.html").services__inner.services__inner-us
		.services__item.services__item-us
		.services__contant
			p О компании
	a(href="error.html").services__inner.services__inner-service
		.services__item.services__item-service
		.services__contant
			p Сервис
	a(href="error.html").services__inner.services__inner-delivery
		.services__item.services__item-delivery
		.services__contant
			p Доставка
			
	a(href="error.html").services__inner.services__inner-franchise
		.services__item.services__item-pay
		.services__contant
			p Оплата
	a(href="error.html").services__inner.services__inner-us
		.services__item.services__item-gar
		.services__contant
			p Гарантия
	a(href="error.html").services__inner.services__inner-service
		.services__item.services__item-news
		.services__contant
			p Новости
	a(href="error.html").services__inner.services__inner-education
		.services__item.services__item-education
		.services__contant
			p Обучение

	a(href="error.html").services__inner.services__inner-franchise
		.services__item.services__item-franchise
		.services__contant
			p Франшиза
.callback
	p
		| Горячая линия ARMED: 8 800 500 88 99