.shops
	background: linear-gradient(#Ffffff, #F8F8F8 )
	padding: 60px 0
	&__buttons
		text-align: center
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		> p 
			margin: 100px 0 15px 0
			font:
				family: 'Rubik'
				size: 2.2em
				weight: 400
			letter-spacing: 0.05em
			color: #4f4f4f
	&__wrapper
		width: 1366px
		margin: 30px 0 30px 0
		display: flex
		justify-content: center
		flex-direction: row
		flex-wrap: wrap
	&__inner
		margin-right: 25px
		display: flex
		align-items: center
		justify-content: center
		width: 270px
		height: 150px
		&-one
			background:
				color: #FAE6E6
		&-two
			background:
				color: #FAEDD9
		&-three
			background:
				color: #F7E4DA
		&-four
			background:
				color: #DAF2F1
