.shops
	padding: 60px 0
	&-title
		display: flex
		align-items: center
		justify-content: center
		padding: 10px
		h2 
			padding: 0 40px
			line-height: 0.8em
			font:
				family: 'Rubik'
				size: 3em
				weight: 500
			letter-spacing: 0.05em
			text:
				align: center
				transform: uppercase
			border:
				left: 3px solid #C62828
				right: 3px solid #C62828
			color: #4f4f4f
			border:
				left: 3px solid #C62828
				right: 3px solid #C62828
	&__buttons
		text-align: center
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		> p 
			margin: 80px 0 30px 0
			font:
				family: 'Rubik'
				size: 2.2em
				weight: 400
			letter-spacing: 0.05em
			color: #4f4f4f	
	&__wrapper
		width: 1366px
		margin: 60px 0
		display: flex
		justify-content: space-around
		flex-direction: row
		flex-wrap: wrap
	&__inner
		display: flex
		align-items: center
		justify-content: center
		width: 270px
		height: 150px
		&-one
			background:
				color: #FAE6E6
		&-two
			background:
				color: #FAEDD9
		&-three
			background:
				color: #F7E4DA
		&-four
			background:
				color: #DAF2F1
