.shops.container
	.shops-title
		h2
			| Рекомендуемые магазины 
	.shops__wrapper
		a(href="#").shops__inner.shops__inner-one
			.shops__item
				img(src="images/main/shops/1.png")
		a(href="#").shops__inner.shops__inner-two
			img(src="images/main/shops/2.png")
		a(href="#").shops__inner.shops__inner-three
			img(src="images/main/shops/3.png")
		a(href="#").shops__inner.shops__inner-four
			img(src="images/main/shops/4.png")
	.shops__buttons
		a.Button.Button_Color_Not.Button_Size_Lg
			span.Button-Text.Button-Text_Color_Black.Button-Text_Uppercase
				| Весь список магазинов
		p 
			| Вы владелец магазина? Присоединяйтесь к кругу сильнейших!
		a.Button.Button_Color_Not.Button_Size_Lg
			span.Button-Text.Button-Text_Color_Black.Button-Text_Uppercase
				span.Button-Icon.Button-Icon_Plus
				| Ваш магазин