menu.asside
    li.asside__item
        a.asside__link(href="#")
            span.asside__icon.asside__icon_index
            | Главная
    li.asside__item
        a.asside__link(href="#")
            span.asside__icon.asside__icon_orders
            | Заказы
    li.asside__item
        a.asside__link(href="#")
            span.asside__icon.asside__icon_document
            | Документы
    li.asside__item
        a.asside__link(href="#")
            span.asside__icon.asside__icon_service
            | сервис
    li.asside__item
        a.asside__link(href="#")
            span.asside__icon.asside__icon_profile
            | Профиль
    li.asside__item
        a.asside__link(href="#")
            span.asside__icon.asside__icon_company
            | Профиль компаниии
    li.asside__item
        a.asside__link(href="#")
            span.asside__icon.asside__icon_address
            | Адреса
    li.asside__item
        a.asside__link(href="#")
            span.asside__icon.asside__icon_settings
            | Настройки
