.asside
  display: flex
  flex-direction: column
  list-style: none
  padding-right: 51px
  background-color: #fff
  &__item
    margin-bottom: 15px
  &__link
    font-size: 1.4em
    letter-spacing: 0.05em
    font-family: 'Rubik'
    text-decoration:  none
    display: flex
    align-items: center
    color: $lkAssideLinkColor
  &__icon
    width: 24px
    height: 24px
    margin-right: 20px
    background-image: url("images/Header/infolk__sprite.png")
    background-repeat: no-repeat
    &_index
      background-position: 0 -72px
    &_orders
      background-position: 0 -96px
    &_document
      background-position: 0 -120px
    &_service
      background-position: 0 -144px
    &_profile
      background-position: 0 -168px
    &_company
      background-position: 0 -192px
    &_address
      background-position: 0 -216px
    &_settings
      background-position: 0 -240px