.businessContacts
    .businessContacts__wrapper
        .businessContacts__inner.container
            h2
                | Остались вопросы? Задайти их прямо сейчас!
            h3
                | Наши консультанты ответят Вам в течение 15 минут!
            .businessContacts-input
                input(type="text" placeholder="Ваше имя")
                input(type="text" placeholder="Телефон")
                textarea(placeholder="Ваш комментарий")
                a.Button.Button_Color_Not.Button_Size_Sm.Button_Align_Right
                    span.Button-Text.Button-Text_Color_Black
                        | Отправить
                        span.Button-Icon.Button-Icon_ArrowBlackRight