.businessContacts
  &__wrapper
    background:
      image: url("images/business/contacts.png")
      color: #fbfbfb
      position: center right
      size: contain
      repeat: no-repeat
    min-height: 490px
    display: flex
    justify-content: flex-start
    align-items: center
  &__inner
    width: 100%
    h2
      font-family: $fontFamilyAdditionally
      font-style: normal
      font-weight: normal
      line-height: normal
      font-size: 30px
      letter-spacing: 0.05em
      color: #4F4F4F
    h3
      font-family: $fontFamilyAdditionally
      font-style: normal
      font-weight: normal
      line-height: normal
      font-size: 24px
      letter-spacing: 0.05em
      color: #828282
  &-input
    margin-top: 50px
    width: 371px
    display: flex
    flex-direction: column
    align-items: flex-end
    input
      margin-bottom: 16px
      width: 100%
      height: 33px
      padding: 7px
      background: white
    textarea
      width: 100%
      resize: none
      height: 100px
      padding: 7px
