.widget
    .widget__wrapper
        h5.description-item_title Концентратор кислорода 8F-1
        p.quickview-item_buy__vendor Артикул: 489454654898
        p.widget__waranty Гарантия производителя - 3 года
        .widget__inner
            img(src="images/quickview/quickview_slider_main.png")
            .widget__icon
                a(href="#").quickview-inner_buy__icons-like
                a(href="compare.html").quickview-inner_buy__icons-arrow
                a(href="#" data-id="Buy").modalLink.quickview-inner_buy__icons-click
        .quickview-inner_buy__cost
            p.quickview-item_buy__newcost
                | 20 000&nbsp;
                span.quickview-item_buy__newcost-symbol
                    | &#8381;
            p.quickview-item_buy__oldcost
                | 30 000&nbsp;
            span.quickview-item_buy__oldcost-symbol
                | &#8381;
            a.product__question(href="#" title="Доп информация").tooltipShow.widget__question
            .product__question-window.widget__question-window
                h5.product__question-head Возможные варианты цен на этот товар
                .product__question-you-price.you-price_color
                    p.product__question-name Ваша цена
                    .product__question-price
                        p.product__question-oldprice 67 640
                            span.product__question-val &nbsp₽
                        p.product__question-newprice 47 400
                            span.product__question-val &nbsp₽

                .product__question-retail-price.retail-price_color
                    p.product__question-name Рек. розничная цена
                    .product__question-price
                        p.product__question-oldprice 67 640
                            span.product__question-val &nbsp₽
                        p.product__question-newprice 57 400
                            span.product__question-val &nbsp₽

                .product__question-income.income_color
                    p.product__question-name Доход
                    .product__question-price
                        p.product__question-newprice 10 000
                            span.product__question-val &nbsp₽

                a.product__question-link(href="#") Узнать больше
                    span.button__icon.button__icon_arrow

        //a.quickview__link.quickview__link_NotLink.modalLink(href="#" data-id="Entity") Для юридических лиц
        .quickview-inner_buy__amount
            p.quickview-item_buy__amount-title
                | Кол-во:
            .primary-menu__cart_product_volume
                span.primary-menu__cart_product_minus
                input.primary-menu__cart_product_entry.quickview_entry(type="text" value="1" disabled="disabled")
                span.primary-menu__cart_product_plus
        .quickview-inner_buy__buybutton
            .Tempory-BlockButtonChange.Tempory-BlockButtonChange_Basket
                button.Button.Button_Color_Red.Button_Size_Sm.product__button
                    span.Button-Text.Button-Text_Color_White
                        span.Button-Icon.Button-Icon_Basket
                        | В корзину
            .Tempory-BlockButtonChange.Tempory-BlockButtonChange_Pred
                a(href="#" data-id="Buy").modalLink.Button.Button_Color_Red.Button_Size_Sm.product__button
                    span.Button-Text.Button-Text_Color_White
                        span.Button-Icon.Button-Icon_Basket
                        | Предзаказ

                a.quickview__link(href="#same")
                    | Или&nbsp
                    span.quickview__link_NotLink Посмотреть аналоги
        //a.widget__socialprotection(href="#") Купить с компенсацией от соцзащиты
        //.quickview-inner_buy__delivery
            .quickview-item_buy__delivery-select
                .Select#CitySelect
                    a.Select-Head#SelectCity(href="#" data-value="None")
                        sapn.StatusOrder-Text Выберите город
                    .Select-Catalog
                        a.Select-Item(href="#" data-value="None")
                            sapn.StatusOrder-Text Не выбрано
                        a.Select-Item(href="#" data-value="Moskow")
                            sapn.StatusOrder-Text Москва
                        a.Select-Item(href="#" data-value="Balashiha")
                            sapn.StatusOrder-Text Балашиха
                        a.Select-Item(href="#" data-value="Zkorpat")
                            sapn.StatusOrder-Text Зажорпатье
                //select.quickview__select
                    option.quickview__select-option Москва
                    option.quickview__select-option Санкт-Петербург
                    option.quickview__select-option Караганда
                    option.quickview__select-option Сыктывкар
                    option.quickview__select-option Балашиха
            .quickview-item_buy__delivery-popup
                .delivery-car
                    span.delivery-car_icon
                    p.delivery-car_text
                        | Доставка:&nbsp;
                        span.changed_delivery
                            | 800 &#8381;
                .delivery-self
                    span.delivery-self_icon
                    p.delivery-self_text
                        | Самовывоз:&nbsp;
                    a(href="#" data-id="PickList").delivery-self_link.modalLink
                        | 5 пунктов
    //.widget__social
        p.dilevery_header Поделиться
        .quickview-item_buy__social
            a(href="#").quickview-item_buy__social-icon__vk
            a(href="#").quickview-item_buy__social-icon__fb
            a(href="#").quickview-item_buy__social-icon__yt
            a(href="#").quickview-item_buy__social-icon__it
            a(href="#").quickview-item_buy__social-icon__tg