.widget
  width: 300px
  display: flex
  flex-direction: column
  transition: 0.5s all
  position: relative
  &__inner
    display: flex
    flex-direction: row
    max-width: 160px
    max-height: 180px

    img
      max-height: 100%
      max-width: 100%
      margin: 15px 0
  &__icon
    padding: 10px
    display: flex
    flex-direction: column
    a
      margin: 6px
  &__waranty
    margin-top: 5px
    font-family: Rubik
    font-size: 14px
    letter-spacing: 0.7px
    color: rgb(125, 196, 114)
  &__socialprotection
    margin-top: 30px
    width: 255px
    height: 55px
    display: flex
    padding: 0 20px 0 0
    align-items: center
    justify-content: flex-start
    //border: solid 1px rgb(242, 242, 242)
    font-family: 'Exo 2'
    font-size: 16px
    font-weight: 500
    letter-spacing: 0.8px
    color: rgb(198, 40, 40)
    text-decoration: none
    text-align: center
  &__question
    margin-left: 5px
    margin-bottom: 5px
    &-window
      bottom: 150px
.test
  background: red