.banner
  &_xl
    width: 50%
    height: 137px
    border: 2px solid #000
    background-color: #0b93d5
  &_sm
    width: 25%
    height: 163px
    border: 2px solid #000
    background-color: #1d5987
