#feedback
  height: auto
  padding: 50px 0 0 0

.contact-form
  background: url(images/page/index/contact-form_bg.jpg) center no-repeat
  height: 485px

.reviews
  background: url(images/page/index/reviews_bg.jpg) center no-repeat