#feedback
  height: auto
  padding: 50px 0 0 0

.contact-form
  background: url(images/page/index/contact-form_bg.jpg) center no-repeat
  height: 485px
  &__wrapper
    padding-left: 270px
    padding-top: 95px
    padding-right: 85px
  &__title
    h3
      font-family: $fontFamilyAdditionally
      font-weight: 500
      font-size: 2em
      letter-spacing: 0.05em
      color: $headerCartTitle
  &__subtitle
    font-family: $fontFamilyAdditionally
    font-size: 1.6em
    letter-spacing: 0.05em
    color: $headerItemColor
    padding: 5px 0
  &__inner
    width: 500px
    &-input
      margin: 15px 0
      input,
      textarea
        width: 500px
        outline: none
        border: none
        padding-left: 15px
        &::-webkit-input-placeholder
          font:
            family: $fontFamilyDefault
            size: 0.9em
          color: #bdbdbd
      input[type=text]
        height: 33px
      textarea
        padding-top: 9px
        width: 482px
        height: 100px
        resize: none
    &-submit
      float: right
      margin: 15px 0
      //a
        position: relative
        //&:hover
          background-color: rgb(251, 251, 251)
          border-color: rgb(216, 216, 216)
        //.icon-right
          top: 40%
          right: 25px

.reviews
  background: url(images/page/index/reviews_bg.jpg) center no-repeat
  &__wrapper
    padding: 75px
  &__slider
    .slide-left
      left: -25px
    .slide-right
      right: -25px
  &__slider-item
    display: flex !important
    align-items: center
    flex-wrap: wrap
    flex-direction: column
  &__avatar
    width: 140px
    height: 140px
    border-radius: 100%
  &__title
    font-family: $fontFamilyAdditionally
    font-size: 1.8em
    font-weight: 500
    text-align: center
    color: $headerCartTitle
    padding-top: 10px
  &__subtitle
    font-family: $fontFamilyAdditionally
    font-size: 1.8em
    font-weight: 400
    text-align: center
    color: $headerCartTitle
  &__text
    font-family: $fontFamilyDefault
    font-style: italic
    font-size: 1.6em
    text-align: center
    margin: 10px
    color: $headerItemColor
  &__link a
    color: $GlobalColor
    font-size: 1.6em

.slide-right
  background: url(images/page/index/slide-right.png) center no-repeat
  position: absolute
  width: 27px
  height: 27px
  right: 0
  top: 50%
  z-index: 50
  cursor: pointer

.slide-left
  background: url(images/page/index/slide-left.png) center no-repeat
  position: absolute
  width: 27px
  height: 27px
  left: 0
  top: 50%
  z-index: 50
  cursor: pointer

.slick-dots
  bottom: -50px

.slick-dots li button
  background: #c4c4c4
  border-radius: 100%
  width: 15px
  height: 15px
  &:before
    color: transparent
    content: ''

.slick-dots li.slick-active button
  background: $GlobalColor