.social
  display: flex
  justify-content: center
  align-items: center
  list-style: none
  flex-wrap: wrap
  &__element
    width: 33px
    height: 33px
    position: relative
    &:not(:last-child)
      margin-right: 20px
    &_lg
      width: 44px
      height: 44px
      background-image: url('images/SocialSprite.svg')
      background-repeat: no-repeat
    &_md
      background-image: url('images/SocialSprite.svg')
      background-repeat: no-repeat

@each $soc, $position in (vk, 0px),(fb, -44px),(od, -88px),(in, -132px),(tw, -176px),(tg, -220px),(you, -264px),(g, -308px),(y, -352px),(s, -396px),(wh, -440px),(v, -484px)
  .social__element_#{$soc}-lg
    background-position: -44px $position
@each $soc, $position in (vk, 0px),(fb, -44px),(od, -88px),(in, -132px),(tw, -176px),(tg, -220px),(you, -264px),(g, -308px),(y, -352px),(s, -396px),(wh, -440px),(v, -484px)
  .social__element_#{$soc}-lg:hover
    background-position: -88px $position


@each $soc, $position in (vk, 0px),(fb, -33px),(od, -66px),(in, -99px),(tw, -132px),(tg, -165px),(you, -198px),(g, -231px),(y, -264px),(s, -297px),(wh, -330px),(v, -363px)
  .social__element_#{$soc}-md
    background-position: -132px $position
@each $soc, $position in (vk, 0px),(fb, -33px),(od, -66px),(in, -99px),(tw, -132px),(tg, -165px),(you, -198px),(g, -231px),(y, -264px),(s, -297px),(wh, -330px),(v, -363px)
  .social__element_#{$soc}-md:hover
    background-position: -165px $position

@each $soc, $position in (vk, 0px),(fb, -33px),(od, -66px),(in, -99px),(tw, -132px),(tg, -165px),(you, -198px),(g, -231px),(y, -264px),(s, -297px),(wh, -330px),(v, -363px)
  .social__element_color_#{$soc}-md
    background-position: -165px $position
@each $soc, $position in (vk, 0px),(fb, -33px),(od, -66px),(in, -99px),(tw, -132px),(tg, -165px),(you, -198px),(g, -231px),(y, -264px),(s, -297px),(wh, -330px),(v, -363px)
  .social__element_color_#{$soc}-md:hover
    background-position: -198px $position

@each $soc, $position in (vk, 0px),(fb, -44px),(od, -88px),(in, -132px),(tw, -176px),(tg, -220px),(you, -264px),(g, -308px),(y, -352px),(s, -396px),(wh, -440px),(v, -484px)
  .social__element_grey_#{$soc}-lg
    background-position: 0px $position
@each $soc, $position in (vk, 0px),(fb, -44px),(od, -88px),(in, -132px),(tw, -176px),(tg, -220px),(you, -264px),(g, -308px),(y, -352px),(s, -396px),(wh, -440px),(v, -484px)
  .social__element_grey_#{$soc}-lg:hover
    background-position: -88px $position

