.search
  position: absolute
  width: 290px
  height: 355px
  border: 1px solid $searchBorderColor
  background-color: $searchBgColor
  z-index: 100
  justify-content: flex-start
  align-items: center
  color: #000
  &_city
    top: 39px
    right: 311px
  &_primary-menu
    top: 35px
    right: 390px
    width: 450px
    border: 1px solid $headerSearchBorderColor
  &__content
    margin-left: 11px
    width: 90%
    height: 95%
  &__address
    padding: 10px 0 15px 0
    border-bottom: 1px solid $searchAddressBorderColor
    text-align: left
    display: flex
    flex-direction: column
  &__link
    text-decoration: none
    color: $searchLinkColor
    display: flex
    flex-direction: column
    &:hover
      color: $searchLinkHoverColor
    &:hover > search__description
      color: $searchLinkHoverColor
  &__head
    font-family: Rubik
    font-size: 1.4em
    color: $searchHeadColor
    font-weight: 500
    letter-spacing: 0.05em
    margin-bottom: 10px
  &__text
    color: $searchTextColor
    font-size: 1.4em
    font-weight: 500
    margin-left: 15px
  &__description
    font-size: 0.7em
    color: $searchTextColor
    margin-bottom: 5px
    font-weight: 400
  &_active
    display: flex
  &_hide
    display: none

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration
  display: none
