.header
    .topbar
        .topbar__logo
            a.topbar__logo-image(href="/")
        .topbar__nav
            ul.topbar__nav_menu
                li.topbar__nav_menu-item.city-selection
                    i.topbar__nav_menu-icon
                    a.topbar__nav_menu-link.city-selection.modalLink(href="#" data-id="CitySelection") Москва
                li.topbar__nav_menu-item
                    a.topbar__nav_menu-link(href="#") Магазины
                li.topbar__nav_menu-item
                    a.topbar__nav_menu-link(href="#") Информация
                li.topbar__nav_menu-item
                    a.topbar__nav_menu-link(href="#") Оптовикам
    .primary-menu
        .primary-menu__catalog
            a(href="#").primary-menu__catalog-link
                span.burger-button
                | Каталог
                i.primary-menu__catalog-icon
            .primary-menu__catalog_dropdown
                | Выпадашка
        .primary-menu__widgets
            .primary-menu__search
                input(type="search")
            .primary-menu__phone
                span.primary-menu__phone-item
                    a(href="tel:+74951062676") 8 (495) 106-26-76
                span.primary-menu__phone-item
                    a(href="tel:88002006734") 8 (800) 200-67-34
            .primary-menu__icon
                a(href="#" data-id="Auth").modalLink.primary-menu__icon-item.primary-menu__icon-item_personal
                a(href="#").primary-menu__icon-item.primary-menu__icon-item_compare
                    span.primary-menu__icon-notification
                        | 2
                a(href="#").primary-menu__icon-item.primary-menu__icon-item_favorite
                a(href="#").primary-menu__icon-item.primary-menu__icon-item_cart
                    span.primary-menu__icon-notification
                        | 12