.header
    .topbar
        .topbar__logo
            a.topbar__logo-image(href="/")
        .topbar__nav
            ul.topbar__nav_menu
                li.topbar__nav_menu-item.city-selection
                    i.topbar__nav_menu-icon
                    a.topbar__nav_menu-link.city-selection.modalLink(href="#" data-id="CitySelection") Москва
                li.topbar__nav_menu-item
                    a.topbar__nav_menu-link.topbar__nav_menu-link--entity(href="catalog_ur.html") Юридическим лицам
                li.topbar__nav_menu-item
                    a.topbar__nav_menu-link.modalLink(href="#" data-id="Shops") Магазины
                li.topbar__nav_menu-item
                    a.topbar__nav_menu-link(href="info_page.html") Информация

    .primary-menu
        a(href="/").primary-menu__fix-logo
        .primary-menu__catalog
            .primary-menu__catalog_wrapper.js-dropdown-toggler
                .primary-menu__catalog-link
                    span.burger-button
                    | Каталог
                    i.primary-menu__catalog-icon
            include catalog/catalog
        .primary-menu__widgets
            .primary-menu__search
                label.primary-menu__search-label
                    input.primary-menu__search-input(type="search" id="search" name="search" placeholder="Поиск по сайту")
                    img.primary-menu__search-icon(src="images/Global/loop.svg")
                .search.search_hide.search_primary-menu
                    .search__content.search__content_header
                        section.search__address
                            h4.search__head Продукция
                            a.search__text.search__link.search__link_header(href="search.html") Кислородный концентратор Armed (Армед) 8F-1
                            a.search__text.search__link.search__link_header(href="search.html") Концентратор кислорода Armed (Армед) 8F-1 (бук)
                            a.search__text.search__link.search__link_header(href="search.html") Концентратор кислорода Armed (Армед) LF-H-10A
                            a.search__text.search__link.search__link_header(href="search.html") Концентратор кислорода Armed (Армед) 7F-5
                            a.search__text.search__link.search__link_header(href="search.html") Концентратор кислорода Armed (Армед) 8F-5
                            a.search__text.search__link.search__link_header(href="search.html") Кислородный концентратор Armed (Армед) 8F-1
                            a.search__text.search__link.search__link_header(href="search.html") Кислородный концентратор Armed (Армед) 8F-1
                            a.search__text.search__link.search__link_header(href="search.html") Кислородный концентратор Armed (Армед) 8F-1
                        section.search__address
                            h4.search__head Категории
                            a.search__text.search__link.search__link_header(href="search.html") Кислородные концентраторы (17)
                            a.search__text.search__link.search__link_header(href="search.html") Расходные материалы для кислородных концентрат...
                            a.search__text.search__link.search__link_header(href="search.html") Кислородные концентраторы (17)
                        section.search__address
                            h4.search__head
                            a.search__text.search__link.search__link_header(href="search.html") Запчасти (17)
            .primary-menu__phone
                span.primary-menu__phone-item
                    a(href="tel:+74951062676") 8 (495) 106-26-76
                span.primary-menu__phone-item
                    a(href="tel:88002006734") 8 (800) 200-67-34
            .primary-menu__icon
                .primary-menu__icon-wrapper#personal
                    a(href="#" data-id="Auth" title="Личный кабинет").modalLink.primary-menu__icon-item.primary-menu__icon-item_personal.tooltipShow#dropdownPersonal
                    //-ul.personal__auth
                        li.personal__auth-item
                            a.personal__auth-login.modalLink(href="#" data-id="Auth") Войти на сайт
                        li.personal__auth-item
                            a.personal__auth-reg.modalLink(href="#" data-id="Check") Регистрация
                .primary-menu__icon-wrapper
                    .primary-menu__icon-item.primary-menu__icon-item_compare.js-dropdown-toggler.tooltipShow(title="Сравнение")
                        span.primary-menu__icon-notification 8
                    include widget/compare/compare
                .primary-menu__icon-wrapper
                    .primary-menu__icon-item.primary-menu__icon-item_favorite.js-dropdown-toggler.tooltipShow(title="Избранное")
                    include widget/favorite/favorite
                .primary-menu__icon-wrapper
                    .primary-menu__icon-item.primary-menu__icon-item_cart.js-dropdown-toggler.tooltipShow(title="Корзина")
                        span.primary-menu__icon-notification 1
                    include widget/cart/cart
    include infolk/infolk