.header
    .topbar
        .topbar__logo
            a.topbar__logo-image(href="/")
        .topbar__nav
            ul.topbar__nav_menu
                li.topbar__nav_menu-item.city-selection
                    i.topbar__nav_menu-icon
                    a.topbar__nav_menu-link.city-selection.modalLink(href="#" data-id="CitySelection") Москва
                li.topbar__nav_menu-item
                    a.topbar__nav_menu-link(href="#") Магазины
                li.topbar__nav_menu-item
                    a.topbar__nav_menu-link(href="#") Информация
                li.topbar__nav_menu-item
                    a.topbar__nav_menu-link(href="#") Оптовикам
    .primary-menu
        .primary-menu__catalog
            a(href="#").primary-menu__catalog-link
                i.burger
                | Каталог
                i.primary-menu__catalog-icon
            .primary-menu__catalog_dropdown
                | Выпадашка
        .primary-menu__widgets
            .primary-menu__search
            .primary-menu__phone
            .primary-menu__icon