#modal_CitySelection.modal
    .modal__content_city.modal__content
        span#close_CitySelection.modal__close
        h3.modal__head Выбор города
        form.popupCitySelection__form
            label.popupCitySelection__coose(for="city") Выберете ваш город
            input.popupCitySelection__input(type="text" id="city" name="city" placeholder="Введите название")
            img.popupCitySelection__search-icon(src="images/Global/loop.svg")
            .search.search_city.search_hide.popupCitySelection__search
                .search__content
                    section.search__address
                        h4.search__head Россия
                        a.search__text.search__link(href="#") Балашиха
                            span.search__description Московская область
                        a.search__text.search__link(href="#") Балбаново
                            span.search__description Боровский район, Калужская область
                        a.search__text.search__link(href="#") Балушевы Починки
                            span.search__description Касимовский район, Рязанская область
                    section.search__address
                        h4.search__head Беларусь
                        a.search__text.search__link(href="#") Балажевичи
                            span.search__description Гомельская область
                        a.search__text.search__link(href="#") Балашевка
                            span.search__description Речицкий район, Гомельская область
                    section.search__address
                        h4.search__head Казахстан
                        a.search__text.search__link(href="#") Бала би
                            span.search__description Чиилийский район, Кызылординская область
                        a.search__text.search__link(href="#") Балатопар
                            span.search__description Балхаский район, Алматинская область
                        a.search__text.search__link(href="#") Балапанова
                            span.search__description Тылдыкорган, Алматиская область



        ul.popupCitySelection__country-list
            li.popupCitySelection__country-item
                a.popupCitySelection__country-flag.flag.flag_russia(href="#")
                a.popupCitySelection__country-country.close_CitySelection(href="#") Москва
                a.popupCitySelection__country-country.close_CitySelection(href="#") Санкт-Петербург
                a.popupCitySelection__country-country.close_CitySelection(href="#") Екатеренбург
            li.popupCitySelection__country-item
                a.popupCitySelection__country-flag.flag.flag_belarus(href="#")
                a.popupCitySelection__country-country.close_CitySelection(href="#") Беларусь
            li.popupCitySelection__country-item
                a.popupCitySelection__country-flag.flag.flag_kazah(href="#")
                a.popupCitySelection__country-country.close_CitySelection(href="#") Казахстан
            li.popupCitySelection__country-item
                a.popupCitySelection__country-flag.flag.flag_armen(href="#")
                a.popupCitySelection__country-country.close_CitySelection(href="#") Армения
            li.popupCitySelection__country-item
                a.popupCitySelection__country-flag.flag.flag_kirgiz(href="#")
                a.popupCitySelection__country-country.close_CitySelection(href="#") Киргизия
        ul.popupCitySelection__city-list
            li.popupCitySelection__city-item
                span.popupCitySelection__city-letter А
                .popupCitySelection__city-wrapp
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Архангельск
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Астрахань
            li.popupCitySelection__city-item
                span.popupCitySelection__city-letter Б
                .popupCitySelection__city-wrapp
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Барнаул
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Белгород
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Биробиджан
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Благовещенск
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Брянск
            li.popupCitySelection__city-item
                span.popupCitySelection__city-letter В
                .popupCitySelection__city-wrapp
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Великие Луки (Псковская обл.)
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Великий Новгород
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Владивосток
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Владикавказ
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Владимир
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Волгоград
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Вологда
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Воронеж
            li.popupCitySelection__city-item
                span.popupCitySelection__city-letter Г
                .popupCitySelection__city-wrapp
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Горно-Алтайск
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Грозный
            li.popupCitySelection__city-item
                span.popupCitySelection__city-letter Е
                .popupCitySelection__city-wrapp
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Екатеринбург
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Елец (Липецкая обл.)
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Ессентуки
            li.popupCitySelection__city-item
                span.popupCitySelection__city-letter И
                .popupCitySelection__city-wrapp
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Иваново
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Ижевск
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Иркутск
            li.popupCitySelection__city-item
                span.popupCitySelection__city-letter Й
                .popupCitySelection__city-wrapp
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Йошкар-Ола
            li.popupCitySelection__city-item
                span.popupCitySelection__city-letter К
                .popupCitySelection__city-wrapp
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Казань
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Калининград
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Калуга
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Кемерово
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Казань
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Киров
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Ковров (Владимирская обл.)
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Кострома
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Краснодар
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Красноярск
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Курск
            li.popupCitySelection__city-item
                span.popupCitySelection__city-letter Л
                .popupCitySelection__city-wrapp
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Липецк
            li.popupCitySelection__city-item
                span.popupCitySelection__city-letter М
                .popupCitySelection__city-wrapp
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Майкоп
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Махачкала
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Минск
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Москва
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Муром (Владимирская обл.)
            li.popupCitySelection__city-item
                span.popupCitySelection__city-letter Н
                .popupCitySelection__city-wrapp
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Назрань
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Нальчик
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Нижний Новгород
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Новокузнецк
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Новокуйбышевск
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Новомосковск (Тульская обл.)
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Новосибирск
            li.popupCitySelection__city-item
                span.popupCitySelection__city-letter О
                .popupCitySelection__city-wrapp
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Обнинск (Калужская обл.)
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Омск
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Орел
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Оренбург
            li.popupCitySelection__city-item
                span.popupCitySelection__city-letter П
                .popupCitySelection__city-wrapp
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Пенза
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Пермь
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Псков
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Пятигорск
            li.popupCitySelection__city-item
                span.popupCitySelection__city-letter Р
                .popupCitySelection__city-wrapp
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Ростов-на-Дону
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Рыбинск (Ярославская обл.)
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Рязань
            li.popupCitySelection__city-item
                span.popupCitySelection__city-letter С
                .popupCitySelection__city-wrapp
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Самара
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Санкт-Петербург
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Саранск
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Севастополь
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Северодвинск
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Смоленск
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Сочи
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Ставрополь
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Старый Оскол (Белгородская обл.)
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Сызрань
            li.popupCitySelection__city-item
                span.popupCitySelection__city-letter Т
                .popupCitySelection__city-wrapp
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Тамбов
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Тверь
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Тольятти
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Томск
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Тула
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Тюмень
            li.popupCitySelection__city-item
                span.popupCitySelection__city-letter У
                .popupCitySelection__city-wrapp
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Улан-Удэ
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Ульяновск
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Уфа
            li.popupCitySelection__city-item
                span.popupCitySelection__city-letter Х
                .popupCitySelection__city-wrapp
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Хабаровск
            li.popupCitySelection__city-item
                span.popupCitySelection__city-letter Ч
                .popupCitySelection__city-wrapp
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Чебоксары
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Челябинск
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Череповец (Вологодская обл.)
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Черкесск
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Чита
            li.popupCitySelection__city-item
                span.popupCitySelection__city-letter Я
                .popupCitySelection__city-wrapp
                    a.popupCitySelection__city-city.close_CitySelection(href="#") Ярославль
