section#news
    .container
        .title-h2.news-title
            h2 Новости
        .subtitle-h4
            h4 Последние новости из мира медицины
        .row.news-wrapper
            .col-6.col-center
                .news-image
            .col-6
                .news-inner.col-between
                    h3 Популярное лекарство повышает риск рака в 7 раз
                    .news-separator
                    span.news-inner__text
                        | Новое исследование ученых из Университета Южной Дании (University of Southern Denmark) и Датского онкологического общества (Danish Cancer Society) доказало, что популярное средство от гипертонии увеличивает риск развития рака кожи в несколько раз.
                    //a.news-inner__button(href="#") Подробнее
                        i.icon-right
                    a(href="news.html").Button.Button_Color_Not.Button_Size_Sm.home__content_button-info.news-inner__button
                        span.Button-Text.Button-Text_Color_Black.Button-Text_Margin25
                            | Подробнее
                            span.Button-Icon.Button-Icon_ArrowBlackRight
            .col-6
                .news-inner.col-between
                    h3 В будущем ученые научатся выращивать органы для каждого 
                    .news-separator
                    span.news-inner__text
                        | Известно, что потребность в донорских органах в России очень высока — примерно в 10 раз выше, чем пока возможно обеспечить. Поэтому, конечно, многие ученые работают сегодня над поисками новых технологий регенерации (восстановления) органов и тканей.
                    //a.news-inner__button(href="#") Подробнее
                        i.icon-right
                    a(href="news.html").Button.Button_Color_Not.Button_Size_Sm.home__content_button-info.news-inner__button
                        span.Button-Text.Button-Text_Color_Black.Button-Text_Margin25
                            | Подробнее
                            span.Button-Icon.Button-Icon_ArrowBlackRight
            .col-6.col-center
                .news-image.news-image-2
        .product-more
            //a(href="#").product-more__button
                | Все новости
                i.product-more__button_icon.icon-right
            a(href="news_Dashboard.html").Button.Button_Color_Not.Button_Size_Lg.home__content_button-info
                span.Button-Text.Button-Text_Color_Black.Button-Text_Uppercase.Button-Text_Margin25
                    | Все новости
                    span.Button-Icon.Button-Icon_ArrowBlackRight.product-more__button_icon

