.businessPartners
    .businessPartners__row.businessPartners__row-title
        .prcard-title
            h2
                | Партнеры, которых вы знаете
    .businessPartners__row.businessPartners__row-img
    .businessPartners__row.businessPartners__row-button
        button.businessPartners-button
            span.Button-Icon.Button-Icon_Plus
            p Присоединяйтесь к сильнейшим