.businessPartners
  display: flex
  flex-direction: column
  width: 100%
  &-button
    padding: 10px
    width: 423px
    height: 65px
    background-color: white
    border: 1px solid #f2f2f2
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    span
      margin-right: 6px
      display: block
    p
      font-family: $fontFamilyAdditionally
      font-style: normal
      font-weight: normal
      line-height: normal
      font-size: 18px
      text-align: center
      letter-spacing: 0.05em
      text-transform: uppercase
      color: #4f4f4f
  &__row
    height: 170px
    &-title
      display: flex
      justify-content: flex-start
      align-items: center
      background:
        color: #FBFBFB
      padding-left: 278px
    &-img
      background:
        image: url("images/business/partners.png")
        position: center center
        repeat: no-repeat
        size: contain
    &-button
      display: flex
      justify-content: center
      align-items: center
      background:
        color: #FBFBFB
