.Contacts
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
    .Contacts-Map#ContactsMap
    .Contacts-Info#ContactsInfo
        ul.tabs#ContactsTabs
        .Contacts-Inner
            #stock
            #score