.Contacts
  display: flex
  align-items: flex-start
  &-Map, &-Info
    height: 725px
  &-Map
    background-color: deeppink
    width: 60%
  &-Info
    width: 40%
  &-Data
    padding: 20px
  &-TabLink
    color: #ccc
  &-Inner
    max-height: 675px
    //overflow: hidden
  &-Element
    padding-top: 30px
    padding-bottom: 30px
    padding-left: 65px
    &:nth-child(odd)
      background-color: #FBFBFB
  &-LinkAddress
    font-size: 18px
    text-decoration-line: underline
    color: #C62828
    margin-bottom: 5px
    display: block
  &-Address
    font-size: 14px
    color: #4F4F4F
    margin-bottom: 10px
    width: 80%
  &-InfoOrganization
    display: flex
    justify-content: flex-start
  &-InfoPhone
    margin-right: 20px
  &-Name
    font-size: 11px
    color: #BDBDBD
  &-Item
    font-size: 11px
    color: #4F4F4F

#score
  display: none