.Contacts
  display: flex
  align-items: flex-start
  &-Map, &-Info
    height: 725px
  &-Map
    background-color: deeppink
    width: 60%
  &-Menu, &-Submenu
    list-style: none
  &-Menu
    height: 725px
  &-Info
    width: 40%
    background-color: mediumspringgreen
  &-HeadLink
    font-family: 'Rubik'
    font-size: 18px
    letter-spacing: 0.05em
    text-transform: uppercase
    color: #333333
  &-ElementHead
    font-family: 'Roboto'
    font-size: 18px
    text-decoration-line: underline
    color: #C62828
  &-Address
    font-family: 'Roboto'
    font-size: 14px
    width: 80%
    color: #4F4F4F
  &-OrganizationInfo
    display: flex
  &-InfoPhone
    margin-right: 20px
  &-Name
    font-size: 11px
    color: #BDBDBD
  &-Item
    font-size: 11px
    color: #4F4F4F
  &-Element
    padding: 65px 30px
    &:nth-child(odd)
      background-color: #FBFBFB

.Balloon
  &-Footer
    display: flex
    justify-content: space-around
