.Contacts
  display: flex
  align-items: flex-start
  &-Map, &-Info
    height: 725px
  &-Map
    background-color: deeppink
    width: 60%
  &-Info
    width: 40%
  &-Data
    padding: 20px
  &-TabLink
    color: #000

  &-Element
    margin-bottom: 10px
