@import "catalog__asside"
@import "catalog__content"


.catalog
  display: flex
  justify-content: space-between
  &__asside
    width: 22%
  &__content
    width: 77%
  &__link
    text-decoration: none
    &:hover
      text-decoration: underline