.catalog__content
    .catalog__content-banners
        .catalog__content-itemXl.banner.banner_xl
            p.catalog__content-name.banner__text Наименование
        .catalog__content-itemXl.banner.banner_xl
            p.catalog__content-name.banner__text Наименование
        .catalog__content-itemSm.banner.banner_sm
            p.catalog__content-name.banner__text Наименование
        .catalog__content-itemSm.banner.banner_sm
            p.catalog__content-name.banner__text Наименование
        .catalog__content-itemSm.banner.banner_sm
            p.catalog__content-name.banner__text Наименование
        .catalog__content-itemSm.banner.banner_sm
            p.catalog__content-name.banner__text Наименование
    .catalog__content-main
