@import "catalog_asside/catalog__asside"
@import "catalog_content/catalog__content"
@import "catalog_filter/catalog__filter"


.catalog
  display: flex
  justify-content: space-between
  margin-top: 20px 
  &__asside
    width: 22%
  &__content
    width: 77%
  &__link
    text-decoration: none
    &:hover
      text-decoration: underline
  &__filter
    width: 100%
    padding: 15px 0
    display: flex
    justify-content: space-between
