.flag
  width: 27px
  height: 17px
  background-image: url("images/Modal/flag__modal.png")
  background-repeat: no-repeat
  text-decoration: none
  &_russia
    background-position: 0 0
  &_belarus
    background-position: 0 -17px
  &_kazah
    background-position: 0 -34px
  &_armen
    background-position: 0 -51px
  &_kirgiz
    background-position: 0 -68px
