footer.footer
    .footer__wrapp
        .footer__contacts
            a.footer__logo-link(href="#")
                img.footer__logo-image(src="images/Footer/logo.png" alt="логотип космпании Армед")
            .footer__contacts-item
                img.footer__contacts-image(src="images/Footer/label.svg" alt="Значок метки на карте")
                p.footre__contacts-text
                    |Адрес: Московская обл., г. Балашиха, Западная Коммунальная
                    |Зона, ш. Энтузиастов, влад. 1А
            .footer__contacts-item
                img.footer__contacts-image(src="images/Footer/phone.svg" alt="Значок трубки телефона")
                p.footre__contacts-text
                    span.footer__contacts-city Москва:&nbsp
                    a.footer__contacts-link(href="tel:+74959891288") +7 (495) 989-12-88
                p.footre__contacts-text
                    span.footer__contacts-city Санкт-Петербург:&nbsp
                    a.footer__contacts-link(href="tel:+78127027302") +7 (812) 702-73-02
                p.footre__contacts-text
                    span.footer__contacts-city Екатеринбург:&nbsp
                    a.footer__contacts-link(href="tel:+73432864273") +7 (343) 286-42-73
            .footer__contacts-item
                img.footer__contacts-image(src="images/Footer/email.svg" alt="Значок метки на карте")
                p.footre__contacts-text
                    a.footer__contacts-link(href="mail:armed@armed.ru") armed@armed.ru

        menu.footer__menu
            h2.footer__head Меню
            li.footer__menu-item
                a.footer__menu-link(href="#") Главная
            li.footer__menu-item
                a.footer__menu-link(href="#") Магазины
            li.footer__menu-item
                a.footer__menu-link(href="#") Информация
            li.footer__menu-item
                a.footer__menu-link(href="#") Оптовикам
            li.footer__menu-item
                a.footer__menu-link(href="#") Каталог
            li.footer__menu-item
                a.footer__menu-link(href="#") Карта сайта

        menu.footer__info
            h2.footer__head Общая информация
            li.footer__info-item
                a.footer__info-link(href="#") История Armed
            li.footer__info-item
                a.footer__info-link(href="#") Свяжитесь с нами
            li.footer__info-item
                a.footer__info-link(href="#") Политика конфидециальности
            li.footer__info-item
                a.footer__info-link(href="#") Политика cookie
            li.footer__info-item
                a.footer__info-link(href="#") Условия и положения
            li.footer__info-item
                a.footer__info-link(href="#") Катра сайта
