.cookie
  position: fixed
  background: #fff
  bottom: 0
  z-index: 9999
  width: 100vw
  height: auto
  padding: 20px 223px
  display: flex
  &-text
    font-size: 2.6em
    letter-spacing: 0.05em
    font-family: $fontFamilyAdditionally
    line-height: 1
    color: $headerCartTitle
  &-close
    background: url(images/Modal/close__modal.svg) center no-repeat
    position: absolute
    right: 10%
    top: 40%
    width: 25px
    height: 25px
    background-position: 0 0
    cursor: pointer
    &:hover
      background-position: 0 -25px