.recommend
  padding: 20px 30px
  &__slider
    margin: 50px auto
    display: flex
    flex-direction: row
    justify-content: space-between
    &-inner
      margin: 0 25px
      height: 477px
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
.slide-left-recommend
  top: 40%
  left: -10px
  position: absolute
  z-index: 50
  width: 27px
  height: 27px
  cursor: pointer
  background: url(images/page/index/slide-left.png) center no-repeat
.slide-right-recommend
  top: 40%
  right: 0
  position: absolute
  z-index: 50
  width: 27px
  height: 27px
  cursor: pointer
  background: url(images/page/index/slide-right.png) center no-repeat