doctype html
html(lang="ru")
    include ../blocks__pug/head/head
    body
        include ../blocks__pug/__preloader/__preload

        //- Весь вонтент до данного коментария
        link(rel="stylesheet" type="text/css" href="style.css")
        script(src='site.js')