/** 
* файл index.styl
**/
/*Подключаем фалы переменных, миксинов, шрифтов и глобальных стилей*/
@require '__variables.styl'
@require '__mixins.styl'
@require '__fonts.styl'
@require '__global.styl'


@require '../blocks__styl/__footer/__footer.styl'



