footer.footer
    .footer__wrap
        .footer__contact
            img.footer__logo.logo(src="images/Footer/logo.png" alt="Логотип Armed. None Progre")
            .footer__contact-item
                img.footer__contact-image(src="images/Footer/marcer.svg")
                p.footer__contact-address
                    |Адрес: Московская обл., г. Балашиха,
                    |Западная Коммунальная Зона, ш. Энтузиастов, влад. 1А
            .footer__contact-item
                img.footer__contact-image(src="images/Footer/call.svg")
                p.footer__contact-address
                    span Москва:
                    a.footer__link(href="tel:+74959891288") +7 (495) 989-12-88
                p.footer__contact-address
                    span Санкт-Петербург:
                    a.footer__link(href="tel:+78127027302") +7 (812) 702-73-02
                p.footer__contact-address
                    span Екатеринбург:
                    a.footer__link(href="tel:+73432864273") +7 (343) 286-42-73
            .footer__contact-item
                img.footer__contact-image(src="images/Footer/email.svg")
                p.footer__contact-address
                    a.footer__link(href="#") armed@armed.ru
        nav.footer__nav
            h2.footer__nav-head.head.head_footer меню
            menu.footer__menu
                li.footer__menu-item
                    a.footer__menu-link(href="#") Главная
                li.footer__menu-item
                    a.footer__menu-link(href="#") магазины
                li.footer__menu-item
                    a.footer__menu-link(href="#") Информация
                li.footer__menu-item
                    a.footer__menu-link(href="#") оптовикам
                li.footer__menu-item
                    a.footer__menu-link(href="#") каталог
                li.footer__menu-item
                    a.footer__menu-link(href="#") Карта сайта

        .footer__info
            h2.footer__nav-head.head.head_footer общая информация
            menu.footer__menu
                li.footer__menu-item
                    a.footer__menu-link(href="#") История Armed
                li.footer__menu-item
                    a.footer__menu-link(href="#") свяжитесь с нами
                li.footer__menu-item
                    a.footer__menu-link(href="#") политика конфидециальности
                li.footer__menu-item
                    a.footer__menu-link(href="#") Политика cookie
                li.footer__menu-item
                    a.footer__menu-link(href="#") условия и положения
                li.footer__menu-item
                    a.footer__menu-link(href="#") Карта сайта
