-
    var CompareData = [
    {
        "name" : "Концентратор кислорода \"Armed\" 8F-1",
        "cost" : "25 990",
        "oldcost" : "28 000",
        "image" : "images/CompareData/conc_1.jpg",
        "dimensions" : "280х175х300 мм",
        "airflow" : "0-5 л/мин",
        "noiselevel" : "35 дБ",
        "power" : "100 Вт",
        "networkfrequency" : "50 Гц",
        "networkpower" : "220 ± 22 В",
        "operatingtime" : "3-5 мин",
        "volumeofhumidifier" : "250 мл",
        "rangeoftheremotecontrol" : "5 м",
        "lifetime" : "10 лет"
    },
    {
        "name" : "Концентратор кислорода \"Armed\" 7F-1L",
        "cost" : "25 990",
        "oldcost" : "28 000",
        "image" : "images/CompareData/conc_2.jpg",
        "dimensions" : "505х280х360 мм",
        "airflow" : "0-5 л/мин",
        "noiselevel" : "46 дБ",
        "power" : "250 Вт",
        "networkfrequency" : "50 Гц",
        "networkpower" : "220 ± 22 В",
        "operatingtime" : "3-5 мин",
        "volumeofhumidifier" : "250 мл",
        "rangeoftheremotecontrol" : "-",
        "lifetime" : "10 лет"
    },
    {
        "name" : "Концентратор кислорода 7F-3L \"Armed\"",
        "cost" : "33 400",
        "oldcost" : "35 000",
        "image" : "images/CompareData/conc_3.jpg",
        "dimensions" : "560х280х480 мм",
        "airflow" : "0-5 л/мин",
        "noiselevel" : "49 дБ",
        "power" : "350 Вт",
        "networkfrequency" : "50 Гц",
        "networkpower" : "220 ± 22 В",
        "operatingtime" : "3-5 мин",
        "volumeofhumidifier" : "250 мл",
        "rangeoftheremotecontrol" : "-",
        "lifetime" : "10 лет"
    },
    {
        "name" : "Концентратор кислорода \"Armed\" 7F-3A",
        "cost" : "35 890",
        "oldcost" : "40 000",
        "image" : "images/CompareData/conc_4.jpg",
        "dimensions" : "720х285х545 мм",
        "airflow" : "0-5 л/мин",
        "noiselevel" : "-",
        "power" : "350 Вт",
        "networkfrequency" : "50 Гц",
        "networkpower" : "220 ± 22 В",
        "operatingtime" : "3-5 мин",
        "volumeofhumidifier" : "250 мл",
        "rangeoftheremotecontrol" : "-",
        "lifetime" : "10 лет"
    },
    {
        "name" : "Концентратор кислорода \"Armed\" 8F-5",
        "cost" : "41 900",
        "oldcost" : "45 000",
        "image" : "images/CompareData/conc_5.jpg",
        "dimensions" : "590х390х340 мм",
        "airflow" : "0-5 л/мин",
        "noiselevel" : "55 дБ",
        "power" : "600 Вт",
        "networkfrequency" : "50 Гц",
        "networkpower" : "220 ± 22 В",
        "operatingtime" : "3-5 мин",
        "volumeofhumidifier" : "250 мл",
        "rangeoftheremotecontrol" : "-",
        "lifetime" : "10 лет"
    },
    {
        "name" : "Концентратор кислорода \"Armed\" 7F-5L",
        "cost" : "44 490",
        "oldcost" : "50 000",
        "image" : "images/CompareData/conc_6.jpg",
        "dimensions" : "680х420х360 мм",
        "airflow" : "0-5 л/мин",
        "noiselevel" : "55 дБ",
        "power" : "600 Вт",
        "networkfrequency" : "50 Гц",
        "networkpower" : "220 ± 22 В",
        "operatingtime" : "3-5 мин",
        "volumeofhumidifier" : "250 мл",
        "rangeoftheremotecontrol" : "-",
        "lifetime" : "10 лет"
    },
    {
        "name" : "Концентратор кислорода \"Armed\" 7F-8L",
        "cost" : "44 490",
        "oldcost" : "50 000",
        "image" : "images/CompareData/conc_7.jpg",
        "dimensions" : "680х420х360 мм",
        "airflow" : "0-5 л/мин",
        "noiselevel" : "55 дБ",
        "power" : "600 Вт",
        "networkfrequency" : "50 Гц",
        "networkpower" : "220 ± 22 В",
        "operatingtime" : "3-5 мин",
        "volumeofhumidifier" : "250 мл",
        "rangeoftheremotecontrol" : "-",
        "lifetime" : "10 лет"
    },
    {
        "name" : "Концентратор кислорода \"Armed\" 7F-5",
        "cost" : "44 590",
        "oldcost" : "50 000",
        "image" : "images/CompareData/conc_8.jpg",
        "dimensions" : "590х390х340 мм",
        "airflow" : "0-5 л/мин",
        "noiselevel" : "55 дБ",
        "power" : "600 Вт",
        "networkfrequency" : "50 Гц",
        "networkpower" : "220 ± 22 В",
        "operatingtime" : "3-5 мин",
        "volumeofhumidifier" : "250 мл",
        "rangeoftheremotecontrol" : "-",
        "lifetime" : "10 лет"
    }]