-
    var CompareData_Rec = [
    {
        "name" : "Рециркулятор \"ЭКОКВАРЦ-АРМЕД\" 15П",
        "cost" : "3 500",
        "oldcost" : "4 500",
        "image" : "images/CompareData_Rec/rec_1.jpg",
        "application" : "настенный",
        "irradiatortype" : "закрытый",
        "bodymaterial" : "пластик",
        "numberoflamps" : "1",
        "lamppower" : "15",
        "completewithlamps" : "есть",
        "typeoflampcap" : "G13",
        "performance" : "30",
        "roomvolume" : "30",
        "categoriesofpremises" : "I,II,III,IV,V",
        "flowoflamps" : "3,5",
        "wavelength" : "253,7",
        "indicator" : "нет",
        "timer" : "нет",
        "possibilityofirradiation" : "есть",
        "electricalsafety" : "I",
        "lifetimeoflamps" : "8000",
        "powersupply" : "220\\50",
        "powerconsumption" : "20",
        "guarantee" : "12",
        "long" : "610",
        "height" : "95",
        "width" : "105",
        "noiselevel" : "40"
    },
    {
        "name" : "Рециркулятор \"ЭКОКВАРЦ-АРМЕД\" 15М",
        "cost" : "3 500",
        "oldcost" : "4 500",
        "image" : "images/CompareData_Rec/rec_2.jpg",
        "application" : "настенный",
        "irradiatortype" : "закрытый",
        "bodymaterial" : "металл",
        "numberoflamps" : "1",
        "lamppower" : "15",
        "completewithlamps" : "есть",
        "typeoflampcap" : "2G11",
        "performance" : "30",
        "roomvolume" : "30",
        "categoriesofpremises" : "I,II,III,IV,V",
        "flowoflamps" : "3,5",
        "wavelength" : "253,7",
        "indicator" : "нет",
        "timer" : "нет",
        "possibilityofirradiation" : "есть",
        "electricalsafety" : "I",
        "lifetimeoflamps" : "8000",
        "powersupply" : "220\\50",
        "powerconsumption" : "20",
        "guarantee" : "12",
        "long" : "410",
        "height" : "110",
        "width" : "105",
        "noiselevel" : "40"
    },
    {
        "name" : "Рециркулятор \"Armed\" СН311-115",
        "cost" : "8 000",
        "oldcost" : "12 000",
        "image" : "images/CompareData_Rec/rec_3.jpg",
        "application" : "настенный",
        "irradiatortype" : "закрытый",
        "bodymaterial" : "металл",
        "numberoflamps" : "3",
        "lamppower" : "15",
        "completewithlamps" : "есть",
        "typeoflampcap" : "G13",
        "performance" : "100",
        "roomvolume" : "100",
        "categoriesofpremises" : "I,II,III,IV,V",
        "flowoflamps" : "10,5",
        "wavelength" : "253,7",
        "indicator" : "есть",
        "timer" : "нет",
        "possibilityofirradiation" : "есть",
        "electricalsafety" : "I",
        "lifetimeoflamps" : "8000",
        "powersupply" : "220\\50",
        "powerconsumption" : "60",
        "guarantee" : "12",
        "long" : "320",
        "height" : "130",
        "width" : "825",
        "noiselevel" : "40"
    },
    {
        "name" : "Рециркулятор \"Armed\" СH111-115",
        "cost" : "3 700",
        "oldcost" : "5 000",
        "image" : "images/CompareData_Rec/rec_4.jpg",
        "application" : "настенный",
        "irradiatortype" : "закрытый",
        "bodymaterial" : "пластик",
        "numberoflamps" : "1",
        "lamppower" : "15",
        "completewithlamps" : "есть",
        "typeoflampcap" : "G13",
        "performance" : "30",
        "roomvolume" : "30",
        "categoriesofpremises" : "I,II,III,IV,V",
        "flowoflamps" : "3,5",
        "wavelength" : "253,7",
        "indicator" : "нет",
        "timer" : "нет",
        "possibilityofirradiation" : "есть",
        "electricalsafety" : "I",
        "lifetimeoflamps" : "8000",
        "powersupply" : "220\\50",
        "powerconsumption" : "20",
        "guarantee" : "12",
        "long" : "610",
        "height" : "95",
        "width" : "105",
        "noiselevel" : "40"
    }]