.copyright
    .copyright__wrapp
        ul.copyright__list.social
            li.copyright__list-item.social__element
                a.copyright__list-link.social__element_vk.social__element-link(href="#")
            li.copyright__list-item.social__element
                a.copyright__list-link.social__element_fb.social__element-link(href="#")
            li.copyright__list-item.social__element
                a.copyright__list-link.social__element_od.social__element-link(href="#")
            li.copyright__list-item.social__element
                a.copyright__list-link.social__element_in.social__element-link(href="#")
            li.copyright__list-item.social__element
                a.copyright__list-link.social__element_tw.social__element-link(href="#")
            li.copyright__list-item.social__element
                a.copyright__list-link.social__element_tg.social__element-link(href="#")
            li.copyright__list-item.social__element
                a.copyright__list-link.social__element_you.social__element-link(href="#")
            li.copyright__list-item.social__element
                a.copyright__list-link.social__element_g.social__element-link(href="#")
            li.copyright__list-item.social__element
                a.copyright__list-link.social__element_y.social__element-link(href="#")
            li.copyright__list-item.social__element
                a.copyright__list-link.social__element_s.social__element-link(href="#")
            li.copyright__list-item.social__element
                a.copyright__list-link.social__element_wh.social__element-link(href="#")
            li.copyright__list-item.social__element
                a.copyright__list-link.social__element_v.social__element-link(href="#")
        p.copyright__text Copyright 2017 © Армед
        p.copyright__text
            | ОБРАЩАЕМ ВАШЕ ВНИМАНИЕ, что данный интернет-сайт и материалы,
            |размещенные на нем, носят исключительно информационный характер
            |и ни при каких условиях не являются публичной офертой, определяемой
            |положениями статьи 437 Гражданского кодекса РФ.
