section.Logist.PromoBusines-Section
    .Logist-TextBlock.PromoBusines-TextBlock
        h2.Logist-Header.PromoBusines-Header Продуманная и грамотная логистки
        p.Logist-Text.PromoBusines-Text
            | Более 17 000 м2 складских мощностей класса А в Москве, Санкт-Петербурге и других городах России, отгрузка в течение 48 часов и оперативная доставка по всей стране
        a.Logist-Link.PromoBusines-Link(href="#") Перейти в раздел "Доставка"