#modal_quickview.modal
    .modal__content_quickview.modal__content
        span#close_quickview.modal__close
        h3.modal__head.quickview_head Быстрый просмотр
        main.modal__quickview-list
            include quickView/quickView