.anchor
    .anchor__wrapper
        ul.anchor__inner
            li.anchor__item.anchor__hide
                a(href="catalog_tov.html").anchor__item-link-temp
                    | Вернуться в раздел
            li.anchor__item.active__anchor.anchor__hide
                a(href="#view").anchor__item-link
                    | Обзор товара
            li.anchor__item
                a(href="#set").anchor__item-link
                    | Сопутсвующие товары
            li.anchor__item
                a(href="#advantages").anchor__item-link
                    | Преимущества
            li.anchor__item
                a(href="#detail").anchor__item-link
                    | Характеристики
            li.anchor__item
                a(href="#Documents").anchor__item-link
                    | Документы
            li.anchor__item
                a(href="#video").anchor__item-link
                    | Видео
            li.anchor__item
                a(href="#same").anchor__item-link
                    | Аналоги
            li.anchor__item
                a(href="#reviews").anchor__item-link
                    | Отзывы
