.anchor
  z-index: 1000
  margin:
    bottom: 5px
  height: 60px
  background-color: #F2F2F2
  display: flex
  position: fixed
  width: 100%
  bottom: -5px
  &__wrapper
    width: 1366px
  &__inner
    height: 60px
    border: none
    width: 1366px
    list-style: none
    display: flex
    flex-direction: row
    justify-content: space-between
  &__item
    border-right: 1px solid #ffffff
    width: 100%
    display: flex
    text-align: center
    border: none
    &:last-child
      border-right: none

    &-link
      border: none
      width: 194px
      padding: 21px 15px
      letter-spacing: 0.7px
      font:
        size: 1.4em
        family: $fontFamilyAdditionally
      color: #828282
      text:
        decoration: none
      transition: 0.4s
      &:hover
        background: #ffffff
        color: #4f4f4f
      &-temp
        @extend .anchor__item-link

.active__anchor
   background: $GlobalColor
   //border-top: 2px solid $GlobalColor
   a
    color: #fff