
.anchor
  z-index: 999
  background-color: #f8f8f8
  display: flex
  &__wrapper
    width: 1000px
  &__inner
    border: none
    list-style: none
    display: flex
    flex-direction: row
    justify-content: space-between
  &__item
    display: flex
    justify-content: center
    text-align: center
    align-items: center
    height: 60px
    &:hover
      .anchor__item-link
        background-color: #fff
        color: #d64b4b
    &-link
      height: 100%
      display: flex
      align-items: center
      border: none
      padding: 0 20px
      letter-spacing: 0.7px
      font:
        size: 1.2em
        family: $fontFamilyAdditionally
      color: #4f4f4f
      text:
        decoration: none
      transition: 0.4s
      &:hover
        background: #ffffff
        color: #4f4f4f
      &-temp
        @extend .anchor__item-link
      &-hide
        display: none
  &__sticky
    background-color: #F2F2F2
    width: 100vw !important
    justify-content: space-around
    margin-left: -286px
    .anchor__wrapper
      width: 1500px
      .anchor__inner
        padding: 0
        width: 1500px
        .anchor__hide
          @extend .anchor__item
        .active__anchor
          background-color: #d64b4b
          .anchor__item-link
            color: #ffffff
  &__hide
    display: none
.active__anchor
  .anchor__item-link
    color: #d64b4b
    &:hover
      color: #ffffff




