-
    var Analogi = [
        {
            "name" : "Концентратор кислорода 7F-3L \"Armed\"",
            "cost" : "33 400",
            "oldcost" : "35 000",
            "image" : "images/prcard/Analogi/konc_1.jpg"
        },
        {
            "name" : "Концентратор кислорода \"Armed\" 7F-3A",
            "cost" : "35 890",
            "oldcost" : "38 000",
            "image" : "images/prcard/Analogi/konc_2.jpg"
        },
        {
            "name" : "Концентратор кислорода \"Armed\" 8F-5",
            "cost" : "41 900",
            "oldcost" : "49 000",
            "image" : "images/prcard/Analogi/konc_3.jpg"
        },
        {
            "name" : "Концентратор кислорода \"Armed\" 7F-5L",
            "cost" : "44 490",
            "oldcost" : "50 000",
            "image" : "images/prcard/Analogi/konc_4.jpg"
        },
        {
            "name" : "Концентратор кислорода \"Armed\" 7F-10L",
            "cost" : "79 990",
            "oldcost" : "90 000",
            "image" : "images/prcard/Analogi/konc_5.jpg"
        },
        {
            "name" : "Концентратор кислорода Armed LF-H-10А",
            "cost" : "299 000",
            "oldcost" : "350 000",
            "image" : "images/prcard/Analogi/konc_6.jpg"
        },
        {
            "name" : "Концентратор кислорода \"Armed\" 8F-1",
            "cost" : "25 990",
            "oldcost" : "35 000",
            "image" : "images/prcard/Analogi/konc_7.jpg"
        }
    ]