.successRecovery.successRecovery_hide
    img(src="/images/icon/success_icon.svg").successRecovery__img
    p.successRecovery__text Инструкция по восстановлению пароля была выслана
        br
        | на указанный email
    button.auth__button.button.button_icon
        span.button__text
            span.button__icon.button__icon_entry
            | Войти на сайт