.successRecovery.successRecovery_hide
    img(src="/images/icon/success_icon.svg").successRecovery__img
    p.successRecovery__text Инструкция по восстановлению пароля была выслана
        br
        | на указанный email
    button.Button.Button_Color_Red.Button_Size_Lg
        span.Button-Text.Button-Text_Color_White.Button-Text_Uppercase
            | Войти на сайт
