.LkIndex
  width: 100%
  height: auto
  background-color: #fff
  padding: 30px
  margin-right: 50px
  margin-left: 50px
  &-TableBody
    height: 700px
  &-Wrap
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05)
  &-Head
    &Small
      font-size: 21px
      font-family: 'Rubik'
      text-transform: uppercase
      color: rgb(130, 130, 130)
      letter-spacing: 1.1px
      font-weight: 400
  &-Action
    width: 260px
    height: 114px
    border: 1px solid red
    &:not(:nth-of-type(3n))
      margin-right: 5px
    &Wrap
      display: flex
      flex-wrap: wrap
      justify-content: center
      align-items: center
      height: 71%
      margin-top: 30px
    &Head
      width: 100%
      text-align: center
      margin-top: 10px
      margin-bottom: 10px
  &-Content
    &Wrap
      margin-top: 20px
      display: flex
      justify-content: space-between
    &Orders, &Info
      width: 49%
    &Orders
      padding: 39px 23px
    &Info
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
    &Action, &New
      width: 100%
    &Action
      height: 38%
    &New
      height: 60%
    &Action
    &HeadWrap
      display: flex
      justify-content: space-between
      align-items: center
  &-ProductWrap
    display: flex
    width: 560px
    height: 380px
    margin: 0 auto
    padding-top: 30px
  &-ProductCount
    margin-top: 20px
    font-size: 1.6em
    font-weight: 500
    letter-spacing: 1.3px
    color: rgb(189, 189, 189)
    text-align: center
