.LkIndex
    script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    .LkIndex-SmallContainer.LkIndex-SmallContainer_Discount
        p.LkIndex-Count.LkIndex-Count_Val 15%
        p.LkIndex-Head Ваша скидка
        .LkIndex-SmallContainer_ProgressBar
            .LkIndex-ProgressBarCount
                span.LkIndex-ProgressBar_Min
                span.LkIndex-ProgressBar_Max
            .LkIndex-ProgressBar(data-value="15" data-min="10" data-max="20")
            p До следующего уровня скидки&nbsp
                span 122 654
                span &nbspРуб
    .LkIndex-SmallContainer.LkIndex-SmallContainer_NewOrders
        p.LkIndex-Count 13 465
        p.LkIndex-Head Новых заказов
    .LkIndex-SmallContainer.LkIndex-SmallContainer_InWorkOrders
        p.LkIndex-Count 1 203
        p.LkIndex-Head Заказав в работе
    .LkIndex-SmallContainer.LkIndex-SmallContainer_FinishedOrders.LkIndex-SmallContainer_Last
        p.LkIndex-Count 678
        p.LkIndex-Head Завершенных заказов
    .LkIndex-BigContainer
        p.LkIndex-Head_Big Активность Ваших магазинов
        #piechartMagazine(style="width: 831px; height: 400px;")
    .LkIndex-BigContainer.LkIndex-BigContainer_Last
        p.LkIndex-Head_Big Активность Ваших магазинов
        #piechartAssortiment(style="width: 831px; height: 400px;")
    .LkIndex-BigContainer
    .LkIndex-BigContainer.LkIndex-BigContainer_Last
    .LkIndex-BigContainer
    .LkIndex-BigContainer.LkIndex-BigContainer_Last