.LkIndex
    h2.orders__head.head-lk
        span.head-lk__icon.head-lk__icon_home
        | Личный кабинет

    .LkIndex-ContentWrap

        .LkIndex-ContentOrders.LkIndex-Wrap
            .LkIndex-ContentHeadWrap
                h2.LkIndex-HeadSmall Последние заказы
                a.orders__filter-link(href="#")
                    span.orders__filter-icon.orders__filter-icon_create
                    | прайс лист
                a.orders__filter-link(href="lk_pricelist.html")
                    span.orders__filter-icon.orders__filter-icon_create
                    | Новый заказ

            .orders__table.table
                .orders__head.table__head
                    span.order__head-link.table__head-link
                        | Cтатус

                    span.order__head-link.table__head-link
                        | Номер заказа

                    span.order__head-link.table__head-link
                        | Дата

                    span.order__head-link.table__head-link
                        | Сумма

                .LkIndex-TableBody.table__body
                    include IndexData
                    each item in IndexData
                        a.LkIndex-TableRowLink(href="lk_ordersInfo.html")
                            .orders__row.table__row
                                p.orders__status.table__element
                                    span.orders__status-color(class = item.statusstyle)
                                    | #{item.status}
                                p.orders__orderNumber.table__element
                                    | #{item.nomber}
                                p.orders__data.table__element
                                    | #{item.date}
                                p.orders__sum.table__element
                                    | #{item.cost}
                    //- for (var i = 0; i < 20; i++)
                        a.LkIndex-TableRowLink(href="lk_ordersInfo.html")
                            .orders__row.table__row
                                p.orders__status.table__element
                                    span.orders__status-color.orders__status-color_blue
                                    | В обработке
                                p.orders__orderNumber.table__element
                                    | ДМ000158951
                                p.orders__data.table__element
                                    | 23.01.2018
                                p.orders__sum.table__element
                                    | 210 000 000 000




        .LkIndex-ContentInfo
            .LkIndex-ContentAction.LkIndex-Wrap
                h2.LkIndex-HeadSmall.LkIndex-ActionHead Акции
                .LkIndex-ActionWrap
                    .LkIndex-Action.MiniBanner.MiniBanner_Color_IceBlue
                        .MiniBanner-Head.MiniBanner-Head_Color_TealBlue
                            | НОВИНКА!
                        .MiniBanner-Description Облучатель рециркулятор медицинский СH111-130

                    .LkIndex-Action.MiniBanner.MiniBanner_Color_White
                        .MiniBanner-Head.MiniBanner-Head_Color_GreyishBroun
                            | СКИДКА

                            span.MiniBanner-HeadAdditionally.MiniBanner-HeadAdditionally_Color_Red 50%
                        .MiniBanner-Description КОНЦЕНТРАТОР КИСЛОРОДА 8f-1

                    .LkIndex-Action.MiniBanner.MiniBanner_Color_VeryLightPink
                        .MiniBanner-Head.MiniBanner-Head_Color_Grapefruit
                            | НОВОГОДНИЕ ПОДАРКИ ОТ ТМ “АРМЕД”

                    .LkIndex-Action.MiniBanner.MiniBanner_Color_PaleGrey
                        .MiniBanner-Head.MiniBanner-Head_Color_GreenyBlue
                            | Кислородное приемущество

                    .LkIndex-Action.MiniBanner.MiniBanner_Color_OffWhite
                        .MiniBanner-Head.MiniBanner-Head_Color_GreyishBroun
                            | ТОНОМЕТРЫ за

                            span.MiniBanner-HeadAdditionally.MiniBanner-HeadAdditionally_Color_Peach 300!
                        .MiniBanner-Description “Armed” YE-660Е

                    .LkIndex-Action.MiniBanner.MiniBanner_Color_Default


            .LkIndex-ContentNew.LkIndex-Wrap
                h2.LkIndex-HeadSmall.LkIndex-ActionHead Новинки
                .LkIndex-ProductWrap
                    include ../../../Global/product/product_new
                    include ../../../Global/product/product_new
                    include ../../../Global/product/product_new
                    include ../../../Global/product/product_new
                    include ../../../Global/product/product_new
                    include ../../../Global/product/product_new
                p.LkIndex-ProductCount 1/18
