-
    var IndexData = [
    {
        "status" : "Доставлен",
        "statusstyle" : "StatusOrder-Color_Delivered",
        "nomber" : "ДМ000158951",
        "date" : "23.10.2015",
        "cost" : "25 262"
    },
    {
        "status" : "В доставке",
        "statusstyle" : "StatusOrder-Color_InDelivered",
        "nomber" : "ДМ000158952",
        "date" : "10.01.2000",
        "cost" : "320 254"
    },
    {
        "status" : "Оплачен",
        "statusstyle" : "StatusOrder-Color_Paid",
        "nomber" : "ДМ000158953",
        "date" : "25.03.2016",
        "cost" : "1 254"
    },
    {
        "status" : "Ожидает оплаты",
        "statusstyle" : "StatusOrder-Color_NotVerifed",
        "nomber" : "ДМ000158954",
        "date" : "26.11.2016",
        "cost" : "256"
    },
    {
        "status" : "Отменен",
        "statusstyle" : "StatusOrder-Color_Canseled",
        "nomber" : "ДМ000158955",
        "date" : "30.02.2013",
        "cost" : "26 148"
    },
    {
        "status" : "В обработке",
        "statusstyle" : "StatusOrder-Color_InProcessing",
        "nomber" : "ДМ000158956",
        "date" : "29.06.2014",
        "cost" : "256 254"
    },
    {
        "status" : "Оплачен",
        "statusstyle" : "StatusOrder-Color_Paid",
        "nomber" : "ДМ000158957",
        "date" : "26.12.2015",
        "cost" : "320 456"
    },
    {
        "status" : "Доставлен",
        "statusstyle" : "StatusOrder-Color_Delivered",
        "nomber" : "ДМ000158958",
        "date" : "23.12.2012",
        "cost" : "123 123"
    },
    {
        "status" : "Ожидает оплаты",
        "statusstyle" : "StatusOrder-Color_PendingPayment",
        "nomber" : "ДМ000158959",
        "date" : "23.11.1243",
        "cost" : "456 456"
    },
    {
        "status" : "Отменен",
        "statusstyle" : "StatusOrder-Color_Canseled",
        "nomber" : "ДМ000158960",
        "date" : "31.01.2019",
        "cost" : "789 789"
    },
    {
        "status" : "Доставлен",
        "statusstyle" : "StatusOrder-Color_Delivered",
        "nomber" : "ДМ000158961",
        "date" : "02.02.2002",
        "cost" : "123 123"
    },
    {
        "status" : "В доставке",
        "statusstyle" : "StatusOrder-Color_InDelivered",
        "nomber" : "ДМ000158962",
        "date" : "32.08.2015",
        "cost" : "456 456"
    },
    {
        "status" : "Отменен",
        "statusstyle" : "StatusOrder-Color_Canseled",
        "nomber" : "ДМ000158963",
        "date" : "26.06.1986",
        "cost" : "789 789"
    },
    {
        "status" : "В доставке",
        "statusstyle" : "StatusOrder-Color_InProcessing",
        "nomber" : "ДМ000158964",
        "date" : "01.01.2001",
        "cost" : "147 147"
    },
    {
        "status" : "Доставлен",
        "statusstyle" : "StatusOrder-Color_Delivered",
        "nomber" : "ДМ000158965",
        "date" : "11.11.2011",
        "cost" : "258 258"
    },
    {
        "status" : "Ожидает оплаты",
        "statusstyle" : "StatusOrder-Color_PendingPayment",
        "nomber" : "ДМ000158966",
        "date" : "02.02.2002",
        "cost" : "369 336"
    },
    {
        "status" : "Отменен",
        "statusstyle" : "StatusOrder-Color_Canseled",
        "nomber" : "ДМ000158967",
        "date" : "03.03.2003",
        "cost" : "159 753"
    },
    {
        "status" : "В обработке",
        "statusstyle" : "StatusOrder-Color_InProcessing",
        "nomber" : "ДМ000158968",
        "date" : "06.06.2006",
        "cost" : "951 756"
    },
    {
        "status" : "Доставлен",
        "statusstyle" : "StatusOrder-Color_Delivered",
        "nomber" : "ДМ000158969",
        "date" : "04.04.2004",
        "cost" : "789 465"
    },
    {
        "status" : "Ожидает оплаты",
        "statusstyle" : "StatusOrder-Color_PendingPayment",
        "nomber" : "ДМ000158970",
        "date" : "05.05.2005",
        "cost" : "132 456"
    },
    {
        "status" : "Не подтвержден",
        "statusstyle" : "StatusOrder-Color_NotVerifed",
        "nomber" : "ДМ000158971",
        "date" : "06.06.2006",
        "cost" : "798 132"
    },
    {
        "status" : "Ожидает оплаты",
        "statusstyle" : "StatusOrder-Color_PendingPayment",
        "nomber" : "ДМ000158972",
        "date" : "07.07.2007",
        "cost" : "987 654"
    },
    {
        "status" : "В обработке",
        "statusstyle" : "StatusOrder-Color_InProcessing",
        "nomber" : "ДМ000158973",
        "date" : "08.08.2008",
        "cost" : "987 654 987"
    },
    {
        "status" : "Доставлен",
        "statusstyle" : "StatusOrder-Color_Delivered",
        "nomber" : "ДМ000158974",
        "date" : "09.09.2009",
        "cost" : "156 354"
    },
    {
        "status" : "Ожилает оплаты",
        "statusstyle" : "StatusOrder-Color_PendingPayment",
        "nomber" : "ДМ000158975",
        "date" : "10.10.2010",
        "cost" : "761 132"
    },
    {
        "status" : "Отменен",
        "statusstyle" : "StatusOrder-Color_Canseled",
        "nomber" : "ДМ000158976",
        "date" : "11.11.2011",
        "cost" : "345 465"
    },
    {
        "status" : "В обработке",
        "statusstyle" : "StatusOrder-Color_InProcessing",
        "nomber" : "ДМ000158977",
        "date" : "12.12.2012",
        "cost" : "145 346"
    },
    {
        "status" : "Доставлен",
        "statusstyle" : "StatusOrder-Color_Delivered",
        "nomber" : "ДМ000158978",
        "date" : "01.01.2010",
        "cost" : "698 165"
    },
    {
        "status" : "В доставке",
        "statusstyle" : "StatusOrder-Color_InDelivered",
        "nomber" : "ДМ000158979",
        "date" : "02.02.2002",
        "cost" : "984 321"
    },
    {
        "status" : "Не подтвержден",
        "statusstyle" : "StatusOrder-Color_NotVerifed",
        "nomber" : "ДМ000158980",
        "date" : "03.03.2003",
        "cost" : "123 456"
    },
    {
        "status" : "В обработке",
        "statusstyle" : "StatusOrder-Color_InProcessing",
        "nomber" : "ДМ000158981",
        "date" : "04.04.2004",
        "cost" : "321 987"
    },
    {
        "status" : "Отгрузка запрещена",
        "statusstyle" : "StatusOrder-Color_ShipmentProhibited",
        "nomber" : "ДМ000158982",
        "date" : "05.05.2005",
        "cost" : "951 453"
    }
    ]