.businessNumbers
  margin: 100px auto
  width: 1200px
  &__wrapper
    width: 1000px
    margin: 0 auto
    display: flex
    flex-direction: row
  &__inner
    margin-top: 50px
    min-width: 600px
    &-text
      display: flex
      flex-direction: column
      justify-content: center
      align-items: flex-start
    &-img
      display: flex
      justify-content: flex-start
      align-items: center
      background-image: url("images/business/img.png")
      background:
        repeat: no-repeat
        position: center left
  &__row
    display: flex
    flex-direction: row
    margin-bottom: 10px
  &__show
    height: 51px
    background-color: #e0e0e0
    &-1
      width: 274px
    &-2
      width: 175px
    &-3
      width: 233px
    &-4
      width: 274px
    &-5
      width: 233px
    &-6
      width: 206px
    &-7
      width: 265px
    &-8
      width: 329px
  &__text
    display: flex
    align-items: flex-start
    justify-content: flex-end
    flex-direction: column
    margin-left: 20px
    font-family: $fontFamilyAdditionally
    font-style: normal
    font-weight: 300
    line-height: normal
    font-size: 1.4em
    width: 240px

