.businessNumbers
    .prcard-title
        h2
            | Только за 2017 год нами было поставлено:
    .businessNumbers__wrapper

        .businessNumbers__inner.businessNumbers__inner-text
            .businessNumbers__row
                .businessNumbers__show.businessNumbers__show-1
                .businessNumbers__text
                    p
                        | Облучатели-рециркуляторы
                    span ≈ 90 000
            .businessNumbers__row
                .businessNumbers__show.businessNumbers__show-2
                .businessNumbers__text
                    p
                        | Кислородные концентраторы
                    span ≈ 11 000
            .businessNumbers__row
                .businessNumbers__show.businessNumbers__show-3
                .businessNumbers__text
                    p
                        | Отсасыватели
                    span ≈ 9 000
            .businessNumbers__row
                .businessNumbers__show.businessNumbers__show-4
                .businessNumbers__text
                    p
                        | Кресла-коляски
                    span ≈ 50 000
            .businessNumbers__row
                .businessNumbers__show.businessNumbers__show-5
                .businessNumbers__text
                    p
                        | Медицинские кровати
                    span  ≈ 13 000
            .businessNumbers__row
                .businessNumbers__show.businessNumbers__show-6
                .businessNumbers__text
                    p
                        | Палки для скандинавской ходьбы
                    span ≈ 45 000
            .businessNumbers__row
                .businessNumbers__show.businessNumbers__show-7
                .businessNumbers__text
                    p
                        | Увлажнители
                    span ≈ 35 000
            .businessNumbers__row
                .businessNumbers__show.businessNumbers__show-8
                .businessNumbers__text
                    p
                        | Тонометры
                    span ≈ 30 000

        .businessNumbers__inner.businessNumbers__inner-img